Repository ntruchsess/tractusx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-5.yml, azure-pipelines.yml

azure-pipelines-2.yml:

# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'portal/*'

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  imageRepository: 'portal'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  imagePullSecret: 'catenaxdevacr-auth'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        containerRegistry: catenaxdevacr
        repository: portal
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/portal/code/tractus-x-portal/Dockerfile'
        tags: |
          $(tag)

azure-pipelines-5.yml:

# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'partsmasterdata/*'

resources:
- repo: self

variables:

  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '553abab0-5db0-4932-aaaf-25147ed09cf7'
  imageRepository: 'partsmasterdata'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  dockerfilePath: 'partsmasterdata/Dockerfile'
  tag: '$(Build.BuildId)'
  imagePullSecret: 'catenaxdevacr12483f45-auth'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'


stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: './partsmasterdata/pom.xml'
        publishJUnitResults: false
        javaHomeOption: JDKVersion
        jdkVersionOption: '1.11'
        mavenVersionOption: Default
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false
    - task: Docker@2
      inputs:
        command: 'buildAndPush'
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)

azure-pipelines.yml:

# Build numbering format
name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - 'connectordns/*'
      - 'gpm/*'
      - 'kmuuploadapp/*'
      - 'partsmasterdata/*'
      - 'portal/*'
      - 'terraform/*'

pool:
  vmImage: 'ubuntu-latest'

steps:
  - script: |
      echo "Hello from root folder pipeline."

added new mailing logic for html
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/ISendMail.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/MailingService.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/SendMail.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/Model/Mail.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/TemplateManager.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/TemplateSettings.cs
Due: azure-pipelines.yml

Service integration for finishonboarding added invite page
  portal/code/company-portal/src/components/companydata.tsx
  portal/code/company-portal/src/components/companyrole.tsx
  portal/code/company-portal/src/components/identity.tsx
  portal/code/company-portal/src/components/onboarding.tsx
  portal/code/company-portal/src/components/responsibilities.tsx
  portal/code/company-portal/src/components/termsncondition.tsx
  portal/code/tractus-x-portal/src/App.tsx
  portal/code/tractus-x-portal/src/components/appStoreIframe.tsx
  portal/code/tractus-x-portal/src/components/header.tsx
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/stores/appstate.ts
Due: azure-pipelines-2.yml

provisioningservice: new email-template
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/CatenaX.NetworkServices.Provisioning.ActiveDirectory.csproj
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/Federation.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/FederationSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Mail/UserEmail.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/appsettings.json
Due: azure-pipelines.yml

oneID change and appstore change
  portal/code/company-portal/src/components/companyrole.tsx
  portal/code/company-portal/src/components/identity.tsx
  portal/code/company-portal/src/helpers/UserService.js
  portal/code/tractus-x-portal/src/components/appcarddata.tsx
  portal/code/tractus-x-portal/src/components/appstore.tsx
  portal/code/tractus-x-portal/src/components/ratingsApp.tsx
Due: azure-pipelines-2.yml

fixed params
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/InvitationBusinessLogic.cs
Due: azure-pipelines.yml

added proper template
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/appsettings.json
Due: azure-pipelines.yml

provisioningservice: html-email template
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/appsettings.json
Due: azure-pipelines.yml

last fixes for demo
  portal/code/company-portal/src/helpers/UserService.js
  portal/code/tractus-x-portal/.env
  portal/code/tractus-x-portal/package-lock.json
  portal/code/tractus-x-portal/src/components/registrationoneid.tsx
Due: azure-pipelines-2.yml

provisioningservice use realm._Realm instead of realm.Id attribute
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/KeycloakAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/ProvisioningService.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/KeycloakController.cs
Due: azure-pipelines.yml

added deploy scripts for portals
  portal/code/company-portal/package.json
  portal/code/tractus-x-portal/package.json
Due: azure-pipelines-2.yml

Smoke Test for inserting a part relationship (#200)
  .github/workflows/partsrelationshipservice-smoketest.yml
  coreservices/partsrelationshipservice/README.md
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/integrationtest/PrsRelationshipsUpdateProcessorTests.java
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/smoketest/End2EndSmokeTests.java
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/smoketest/SmokeTests.java
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/smoketest/SmokeTestsBase.java
Due: azure-pipelines.yml

Twin backreference did not work with persistence layer. Document port… (#193)
  portal/code/tractus-x-portal/README.md
  portal/code/tractus-x-portal/dev042.env
  portal/code/tractus-x-portal/int.env
  portal/code/tractus-x-portal/local.env
  portal/code/tractus-x-portal/src/components/connectoroverview.tsx
  portal/code/tractus-x-portal/tsi.env
  semantics/src/main/resources/application.yml
Due: azure-pipelines-2.yml, azure-pipelines.yml

Feature/cax 1 prs@273 additional api validation (#207)
  coreservices/partsrelationshipservice/api/brokerproxy-v0.1.yaml
  coreservices/partsrelationshipservice/api/prs-v0.1.yaml
  coreservices/partsrelationshipservice/broker-proxy-integration-tests/src/test/java/net/catenax/brokerProxy/BrokerProxyIntegrationTestBase.java
  coreservices/partsrelationshipservice/broker-proxy-integration-tests/src/test/java/net/catenax/brokerProxy/UpdatePartAspectTest.java
  coreservices/partsrelationshipservice/broker-proxy-integration-tests/src/test/java/net/catenax/brokerProxy/UpdatePartRelationshipTest.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/net/catenax/prs/dtos/Aspect.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/net/catenax/prs/dtos/PartId.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/net/catenax/prs/dtos/PartRelationship.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/net/catenax/prs/dtos/ValidationConstants.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/net/catenax/prs/dtos/events/PartAspectsUpdateRequest.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/net/catenax/prs/dtos/events/PartAttributeUpdateRequest.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/net/catenax/prs/dtos/events/PartRelationshipUpdate.java
  coreservices/partsrelationshipservice/prs-testing/src/main/java/net/catenax/prs/testing/DtoMother.java
Due: azure-pipelines.yml

Feature/cax 12 devops@cxmvp 117 iam shared service (#176)
  .github/workflows/iam.yml
  .github/workflows/main.yml
  .github/workflows/portal.yml
  .github/workflows/terraform.yml
  infrastructure/manifests/iam-ingress.yaml
  infrastructure/manifests/iam.yaml
  infrastructure/terraform/main.tf
Due: azure-pipelines.yml

provisioningservice: cleanup
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/Federation.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/IFederation.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/IKeycloakAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/KeycloakAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Mail/IUserEmail.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Mail/UserEmail.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/IProvisioningService.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/ProvisioningService.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Controllers/ProvisioningController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Program.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/EmailController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/KeycloakController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Program.cs
Due: azure-pipelines.yml

provisioningservice: call 'invitations' on graph-api
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/ClientToken.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/Federation.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/FederationSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/IClientToken.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/IFederation.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/Model/Invitation.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/ProvisioningService.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/appsettings.json
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/FederationController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/GetTokenController.cs
Due: azure-pipelines.yml

changes for demo
  .github/workflows/invitation-service.yml
Due: azure-pipelines.yml

fix
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Identity/CatenaX.NetworkServices.Invitation.Identity.csproj
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Identity/KeycloakIdentityManager.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Startup.cs
  coreservices/mockup/src/CatenaX.NetworkServices.Mockups/QueryCompany.cs
  portal/code/company-portal/.deployment
Due: azure-pipelines-2.yml, azure-pipelines.yml

fixes to template, added helmchart for onboarding
  .github/workflows/composite/coreservicescicd/action.yml
  .github/workflows/onboarding-service.yml
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/helmchart/.helmignore
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/helmchart/Chart.yaml
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/helmchart/templates/_helpers.tpl
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/helmchart/templates/deployment.yaml
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/helmchart/values.yaml
Due: azure-pipelines.yml

Landing page changes
  portal/code/company-portal/src/components/companyrole.tsx
  portal/code/company-portal/src/components/identity.tsx
  portal/code/company-portal/src/helpers/UserService.js
  portal/code/tractus-x-portal/public/Picture-BPDM01.png
  portal/code/tractus-x-portal/public/Picture-BPDM03.jpg
  portal/code/tractus-x-portal/public/Picture-CESAPApp01.png
  portal/code/tractus-x-portal/public/Picture-CESAPApp02.png
  portal/code/tractus-x-portal/public/Picture-CESAPApp03.png
  portal/code/tractus-x-portal/public/Picture-CESAPApp04.png
  portal/code/tractus-x-portal/public/Picture-PartChain-Mock01.png
  portal/code/tractus-x-portal/public/Picture-PartChain-Mock02.png
  portal/code/tractus-x-portal/public/Picture1-PartChainMock01.png
  portal/code/tractus-x-portal/public/Picture1-PartChainMock02.png
  portal/code/tractus-x-portal/public/PictureBPDM02.jpg
  portal/code/tractus-x-portal/public/app-Picture-PartChain.png
  portal/code/tractus-x-portal/public/circular-Economy-001.png
  portal/code/tractus-x-portal/public/circular-Economy-002.png
  portal/code/tractus-x-portal/src/components/appcard.tsx
  portal/code/tractus-x-portal/src/components/appcarddata.tsx
  portal/code/tractus-x-portal/src/components/appdetail.tsx
  portal/code/tractus-x-portal/src/components/appstore.tsx
  portal/code/tractus-x-portal/src/stores/appstate.ts
  portal/code/tractus-x-portal/src/styles/App.css
Due: azure-pipelines-2.yml

provisioning: streamlining using async+await for maintainability and proper error-propagation
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/ClientToken.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/Federation.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/IFederation.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/GroupNotDeletedException.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/IKeycloakAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/KeycloakAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/ProvisioningService.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Controllers/ProvisioningController.cs
Due: azure-pipelines.yml

Landing page and inite url changes
  portal/code/tractus-x-portal/src/components/appcard.tsx
  portal/code/tractus-x-portal/src/components/appstore.tsx
  portal/code/tractus-x-portal/src/components/header.tsx
  portal/code/tractus-x-portal/src/data/application.ts
  portal/code/tractus-x-portal/src/imagesapp-landing-Page.png
  portal/code/tractus-x-portal/src/stores/appstate.ts
  portal/code/tractus-x-portal/src/styles/App.css
Due: azure-pipelines-2.yml

Feature/cax 9 onboarding@mvpp 34 mailingservice (#6)
  coreservices/CatenaX.NetworkServices.sln
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/CatenaX.NetworkServices.Mailing.SendMail.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/ISendMail.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/MailSettings.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/SendMail.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/BusinessLogic/IMailingServiceBusinessLogic.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/BusinessLogic/MailingServiceBusinessLogic.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/CatenaX.NetworkServices.Mailing.Service.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Controllers/MailingServiceController.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Dockerfile
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Model/MailServiceParameters.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Program.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Properties/launchSettings.json
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Startup.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/appsettings.Development.json
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/appsettings.json
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/CatenaX.NetworkServices.Mailing.Template.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/ITemplateManager.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/Model/Mail.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/Model/MailTemplate.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/NoSuchTemplateException.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/TemplateManager.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/TemplateSettings.cs
Due: azure-pipelines.yml

added new dockerfile
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CatenaX.NetworkServices.Onboarding.Service.csproj
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Dockerfile
Due: azure-pipelines.yml

added first docker build test
  .github/workflows/coreservices.yml
Due: azure-pipelines.yml

added
  .github/workflows/coreservices.yml
Due: azure-pipelines.yml

fixes
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/DataAccess/Model/Company.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/DataAccess/Model/QueryCompany.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Startup.cs
Due: azure-pipelines.yml

update
  .github/workflows/coreservices.yml
Due: azure-pipelines.yml

added workflow_dispatch and branch
  .github/workflows/coreservices.yml
Due: azure-pipelines.yml

fixes for demo
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/CatenaX.NetworkServices.Mailing.SendMail.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/CatenaX.NetworkServices.Mailing.Service.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Controllers/MailingServiceController.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Dockerfile
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Properties/launchSettings.json
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/CatenaX.NetworkServices.Mailing.Template.csproj
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Identity/CatenaX.NetworkServices.Onboarding.Identity.csproj
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Identity/IIdentityManager.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Identity/KeycloakIdentityManager.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CatenaX.NetworkServices.Onboarding.Service.csproj
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Mail/IMailingService.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Mail/MailingService.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Startup.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/appsettings.json
Due: azure-pipelines.yml

updated dockerfile and path
  .github/workflows/coreservices.yml
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Dockerfile
Due: azure-pipelines.yml

fixed
  .github/workflows/coreservices.yml
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/charts/templates/_helpers.tpl
Due: azure-pipelines.yml

added first k8 tasks
  .github/workflows/coreservices.yml
Due: azure-pipelines.yml

adapted dockerfile
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Dockerfile
Due: azure-pipelines.yml

changed overrides
  .github/workflows/coreservices.yml
Due: azure-pipelines.yml

up
  .github/workflows/coreservices.yml
Due: azure-pipelines.yml
