Repository ntruchsess/tractusx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-5.yml, azure-pipelines.yml

azure-pipelines-2.yml:
  name: $(BuildID)
  stages:
  - stage: Build
    displayName: Build image
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build an image
        inputs:
          containerRegistry: catenaxdevacr
          repository: portal
  ...

azure-pipelines-5.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Maven@3
        inputs:
          mavenPomFile: ./partsmasterdata/pom.xml
          publishJUnitResults: false
          javaHomeOption: JDKVersion
  ...

azure-pipelines.yml:
  name: $(BuildID)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'echo "Hello from root folder pipeline."
  
      '

button alignment and correction in spelling
  portal/code/tractus-x-portal/src/components/onboarding.tsx
Due: azure-pipelines-2.yml

Feature/cax onborading UI (#89)
  portal/code/tractus-x-portal/src/components/onboarding.tsx
Due: azure-pipelines-2.yml

Feature/cax 1 prs@184 api error response (#88)
  coreservices/partsrelationshipservice/api/prs-v0.1.yaml
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/integrationtest/GetPartsTreeByObjectIdIntegrationTests.java
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/integrationtest/GetPartsTreeByVinIntegrationTests.java
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/integrationtest/PartsTreeMother.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/annotations/ValueOfEnum.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/controllers/ApiErrorsConstants.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/controllers/PrsController.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/controllers/PrsExceptionHandler.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/exceptions/EntityNotFoundException.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/exceptions/MaxDepthTooLargeException.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/requests/PartsTreeByObjectIdRequest.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/requests/PartsTreeByVinRequest.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/requests/PartsTreeRequestBase.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/services/PartsTreeQueryByVinService.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/services/PartsTreeQueryService.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/validators/ValueOfEnumValidator.java
  coreservices/partsrelationshipservice/prs-api/src/test/java/net/catenax/prs/requests/RequestMother.java
  coreservices/partsrelationshipservice/prs-api/src/test/java/net/catenax/prs/services/PartsTreeQueryByVinServiceTest.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/com/catenax/partsrelationshipservice/dtos/ErrorResponse.java
Due: azure-pipelines.yml

Feature/cax 1 prs@159 Added scripts to register a connector resource and to consume a resource. (#87)
  coreservices/partsrelationshipservice/connectors_scripts/Pipfile
  coreservices/partsrelationshipservice/connectors_scripts/Pipfile.lock
  coreservices/partsrelationshipservice/connectors_scripts/README.md
  coreservices/partsrelationshipservice/connectors_scripts/create_catalog_and_artifact.py
  coreservices/partsrelationshipservice/connectors_scripts/idsapi.py
  coreservices/partsrelationshipservice/connectors_scripts/negotiate_contract_and_consume_artifact.py
  coreservices/partsrelationshipservice/connectors_scripts/resourceapi.py
Due: azure-pipelines.yml

Feature/cax 1 idses@idsessent 19 env for gec (#83)
  connector/helm-chart/README.md
  connector/helm-chart/templates/ingress.yaml
  connector/helm-chart/values.yaml
  connector/landscape/README.md
  connector/landscape/dev005/README.md
  connector/landscape/dev005/consumer/secrets.yml
  connector/landscape/dev005/consumer/values.yml
  connector/landscape/dev005/landscape.yml
  connector/landscape/dev005/producer/secrets.yml
  connector/landscape/dev005/producer/values.yml
  connector/landscape/shared.yml
  infrastructure/terraform/README.md
  infrastructure/terraform/environments/dev005.tfvars
  infrastructure/terraform/main.tf
  infrastructure/terraform/variables.tf
Due: azure-pipelines.yml

login UI changes
  portal/code/tractus-x-portal/src/components/header.tsx
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/components/login.tsx
  portal/code/tractus-x-portal/src/components/registration.tsx
  portal/code/tractus-x-portal/src/styles/App.css
Due: azure-pipelines-2.yml

Uncomment main as trigger to mute integration
  .github/workflows/terraform.yml
Due: azure-pipelines.yml

fixes
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/DataAccess/Model/Company.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/DataAccess/Model/QueryCompany.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Startup.cs
Due: azure-pipelines.yml

added new dockerfile
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CatenaX.NetworkServices.Onboarding.Service.csproj
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Dockerfile
Due: azure-pipelines.yml

Load test data into PRS (#94)
  .github/workflows/partsrelationshipservice-loadtestdata.yml
  .github/workflows/partsrelationshipservice.yml
  coreservices/partsrelationshipservice/.gitignore
  coreservices/partsrelationshipservice/README.md
  coreservices/partsrelationshipservice/cd/test-data/PartAspectUpdate.json
  coreservices/partsrelationshipservice/cd/test-data/PartRelationshipUpdateList.json
  coreservices/partsrelationshipservice/cd/test-data/PartTypeNameUpdate.json
  coreservices/partsrelationshipservice/cd/test-data/generate-test-data.sh
  coreservices/partsrelationshipservice/cd/test-data/load-test-data.sh
Due: azure-pipelines.yml

Revert shared services as resource
  .github/workflows/terraform.yml
  infrastructure/terraform/main.tf
  infrastructure/terraform/variables.tf
Due: azure-pipelines.yml

initial implementation of mailingservice
  coreservices/CatenaX.NetworkServices.sln
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/CatenaX.NetworkServices.Mailing.SendMail.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/ISendMail.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/SendMail.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/BusinessLogic/IMailingServiceBusinessLogic.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/BusinessLogic/MailingServiceBusinessLogic.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/CatenaX.NetworkServices.Mailing.Service.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Controllers/MailingServiceController.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Dockerfile
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Model/MailServiceParameters.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Program.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Properties/launchSettings.json
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Startup.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/appsettings.Development.json
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/appsettings.json
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/CatenaX.NetworkServices.Mailing.Template.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/ITemplateManager.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/Model/Mail.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/Model/MailTemplate.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/NoSuchTemplateException.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/TemplateManager.cs
Due: azure-pipelines.yml

make templates and mailsettings configurable
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/CatenaX.NetworkServices.Mailing.SendMail.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/MailSettings.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/SendMail.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/CatenaX.NetworkServices.Mailing.Service.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Startup.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/appsettings.json
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/CatenaX.NetworkServices.Mailing.Template.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/TemplateManager.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/TemplateSettings.cs
Due: azure-pipelines.yml

CATART0PO2-39 (#96)
  connector/landscape/int/README.md
  connector/landscape/int/kaputt-consumer/secrets.yml
  connector/landscape/int/kaputt-consumer/values.yml
  connector/landscape/int/landscape.yml
  connector/landscape/int/prs-query/secrets.yml
  connector/landscape/int/prs-query/values.yml
  connector/landscape/int/prs-upload/secrets.yml
  connector/landscape/int/prs-upload/values.yml
Due: azure-pipelines.yml

feature/CATART0PO2-27 (#95)
  connector/landscape/dev006/README.md
  connector/landscape/dev006/kaputt-consumer/secrets.yml
  connector/landscape/dev006/kaputt-consumer/values.yml
  connector/landscape/dev006/landscape.yml
  connector/landscape/dev006/prs-query/secrets.yml
  connector/landscape/dev006/prs-query/values.yml
  connector/landscape/dev006/prs-upload/secrets.yml
  connector/landscape/dev006/prs-upload/values.yml
  infrastructure/terraform/environments/dev006.tfvars
Due: azure-pipelines.yml

Feature/CAX-1-semantics@CXMVP-23-Sample-Twin Sprint2 Results (#39)
  portal/code/tractus-x-portal/.env
  portal/code/tractus-x-portal/README.md
  portal/code/tractus-x-portal/public/semantics/Material.ttl
  portal/code/tractus-x-portal/public/semantics/Material_en.png
  portal/code/tractus-x-portal/public/semantics/ProductDescription.ttl
  portal/code/tractus-x-portal/public/semantics/ProductDescription_en.png
  portal/code/tractus-x-portal/public/semantics/ProductUsage.ttl
  portal/code/tractus-x-portal/public/semantics/ProductUsage_en.png
  portal/code/tractus-x-portal/public/semantics/ReturnRequest.ttl
  portal/code/tractus-x-portal/public/semantics/ReturnRequest_en.png
  portal/code/tractus-x-portal/public/semantics/traceability.ttl
  portal/code/tractus-x-portal/public/semantics/traceability_en.png
  portal/code/tractus-x-portal/src/components/aspect.tsx
  portal/code/tractus-x-portal/src/components/digitaltwins.tsx
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/components/semantichub.tsx
  portal/code/tractus-x-portal/src/components/semanticmodeldetail.tsx
  portal/code/tractus-x-portal/src/stores/appstate.ts
  portal/code/tractus-x-portal/src/styles/App.css
  portal/code/tractus-x-portal/tsi.env
Due: azure-pipelines-2.yml

beautify
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/MailSettings.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/TemplateSettings.cs
Due: azure-pipelines.yml

Feature/cax 1 prs@189 Document how to debug connectors deployed in Kubernetes and how to clear the db. (#99)
  coreservices/partsrelationshipservice/connectors_scripts/README.md
Due: azure-pipelines.yml

added onboardingservice connection and disabled aad connection
  .gitignore
  portal/code/tractus-x-portal/package-lock.json
  portal/code/tractus-x-portal/src/components/header.tsx
  portal/code/tractus-x-portal/src/components/registration.tsx
Due: azure-pipelines-2.yml, azure-pipelines.yml

Feature/cax 9 onboarding@mvpp 34 mailingservice (#6)
  coreservices/CatenaX.NetworkServices.sln
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/CatenaX.NetworkServices.Mailing.SendMail.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/ISendMail.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/MailSettings.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/SendMail.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/BusinessLogic/IMailingServiceBusinessLogic.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/BusinessLogic/MailingServiceBusinessLogic.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/CatenaX.NetworkServices.Mailing.Service.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Controllers/MailingServiceController.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Dockerfile
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Model/MailServiceParameters.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Program.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Properties/launchSettings.json
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Startup.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/appsettings.Development.json
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/appsettings.json
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/CatenaX.NetworkServices.Mailing.Template.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/ITemplateManager.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/Model/Mail.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/Model/MailTemplate.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/NoSuchTemplateException.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/TemplateManager.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/TemplateSettings.cs
Due: azure-pipelines.yml

Feature/cax 12 devops@cxmvp 114 tdg (#101)
  .github/workflows/terraform.yml
  .github/workflows/testdatagenerator.yml
  data/tdm/generator/src/main/docker/Dockerfile
  data/tdm/generator/src/main/resources/LICENSE
  data/tdm/generator/src/main/resources/application.properties
  infrastructure/manifests/testdatagenerator-ingress.yaml
  infrastructure/manifests/testdatagenerator.yaml
  infrastructure/terraform/main.tf
Due: azure-pipelines.yml

Unresolved conflict. (#103)
  portal/code/tractus-x-portal/src/components/semanticmodeldetail.tsx
Due: azure-pipelines-2.yml

change email
  portal/code/tractus-x-portal/src/components/registration.tsx
Due: azure-pipelines-2.yml

added toast
  portal/code/tractus-x-portal/package-lock.json
  portal/code/tractus-x-portal/package.json
  portal/code/tractus-x-portal/src/components/registration.tsx
Due: azure-pipelines-2.yml

fixes for demo
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/CatenaX.NetworkServices.Mailing.SendMail.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/CatenaX.NetworkServices.Mailing.Service.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Controllers/MailingServiceController.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Dockerfile
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Service/Properties/launchSettings.json
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/CatenaX.NetworkServices.Mailing.Template.csproj
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Identity/CatenaX.NetworkServices.Onboarding.Identity.csproj
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Identity/IIdentityManager.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Identity/KeycloakIdentityManager.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CatenaX.NetworkServices.Onboarding.Service.csproj
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Mail/IMailingService.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Mail/MailingService.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Startup.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/appsettings.json
Due: azure-pipelines.yml

Feature/cax 1 prs@158 Run smoke tests against consumers in PRS Smoke tests workflow. (#105)
  .github/workflows/partsrelationshipservice-smoketest.yml
  coreservices/partsrelationshipservice/README.md
  coreservices/partsrelationshipservice/connectors_scripts/create_catalog_and_artifact.py
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/smoketest/SmokeTests.java
Due: azure-pipelines.yml

Fixed connector readme. (#108)
  coreservices/partsrelationshipservice/connectors_scripts/README.md
Due: azure-pipelines.yml

Deployment to INT environment (#104)
  .github/workflows/partsrelationshipservice-deploy.yml
  coreservices/partsrelationshipservice/.gitignore
  coreservices/partsrelationshipservice/README.md
  coreservices/partsrelationshipservice/helm/prs/templates/ingress.yaml
  coreservices/partsrelationshipservice/helm/prs/values.yaml
  coreservices/partsrelationshipservice/terraform/environments/dev.tfvars
  coreservices/partsrelationshipservice/terraform/environments/int.tfvars
  coreservices/partsrelationshipservice/terraform/main.tf
  coreservices/partsrelationshipservice/terraform/variables.tf
  coreservices/partsrelationshipservice/terraform/versions.tf
Due: azure-pipelines.yml

Daps GitHub actions pipeline (#100)
  .github/workflows/Daps_Githhub_Pipeline.yml
Due: azure-pipelines.yml

Update GitHub_Actions_Connector_Helmchart.yml (#111)
  .github/workflows/GitHub_Actions_Connector_Helmchart.yml
Due: azure-pipelines.yml

Daps GitHub actions pipeline (#113)
  .github/workflows/Daps_Githhub_Pipeline.yml
Due: azure-pipelines.yml

Daps GitHub actions pipeline (#114)
  .github/workflows/Daps_Githhub_Pipeline.yml
Due: azure-pipelines.yml

Daps GitHub actions pipeline (#115)
  .github/workflows/Daps_Githhub_Pipeline.yml
Due: azure-pipelines.yml

Daps GitHub actions pipeline (#116)
  .github/workflows/Daps_Githhub_Pipeline.yml
Due: azure-pipelines.yml

Meta broker GitHub actions (#117)
  .github/workflows/meta-broker-pipeline.yml
Due: azure-pipelines.yml

Meta broker GitHub actions (#119)
  .github/workflows/meta-broker-pipeline.yml
Due: azure-pipelines.yml

Meta broker GitHub actions (#120)
  .github/workflows/meta-broker-pipeline.yml
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-2.yml: any of: portal
  azure-pipelines-5.yml: any of: partsmasterdata
  azure-pipelines.yml: any file but: connectordns, gpm, kmuuploadapp, partsmasterdata, portal, terraform
