Repository ntruchsess/tractusx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-5.yml, azure-pipelines.yml

azure-pipelines-2.yml:

# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'portal/*'

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  imageRepository: 'portal'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  imagePullSecret: 'catenaxdevacr-auth'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        containerRegistry: catenaxdevacr
        repository: portal
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/portal/code/tractus-x-portal/Dockerfile'
        tags: |
          $(tag)

azure-pipelines-5.yml:

# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'partsmasterdata/*'

resources:
- repo: self

variables:

  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '553abab0-5db0-4932-aaaf-25147ed09cf7'
  imageRepository: 'partsmasterdata'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  dockerfilePath: 'partsmasterdata/Dockerfile'
  tag: '$(Build.BuildId)'
  imagePullSecret: 'catenaxdevacr12483f45-auth'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'


stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: './partsmasterdata/pom.xml'
        publishJUnitResults: false
        javaHomeOption: JDKVersion
        jdkVersionOption: '1.11'
        mavenVersionOption: Default
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false
    - task: Docker@2
      inputs:
        command: 'buildAndPush'
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)

azure-pipelines.yml:

# Build numbering format
name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - 'connectordns/*'
      - 'gpm/*'
      - 'kmuuploadapp/*'
      - 'partsmasterdata/*'
      - 'portal/*'
      - 'terraform/*'

pool:
  vmImage: 'ubuntu-latest'

steps:
  - script: |
      echo "Hello from root folder pipeline."

CPLP-497: did renaming of github workflow file
  .github/workflows/useradministration-service.yml
Due: azure-pipelines.yml

CPLP-497: move use of KeycloakDBAccess into ProvisionManager, add KeycloakDBAccessFactory
  coreservices/keycloak/src/CatenaX.NetworkServices.Keycloak.DBAccess/CatenaX.NetworkServices.Keycloak.DBAccess.csproj
  coreservices/keycloak/src/CatenaX.NetworkServices.Keycloak.DBAccess/IKeycloakDBAccess.cs
  coreservices/keycloak/src/CatenaX.NetworkServices.Keycloak.DBAccess/IKeycloakDBAccessFactory.cs
  coreservices/keycloak/src/CatenaX.NetworkServices.Keycloak.DBAccess/KeycloakDBAccess.cs
  coreservices/keycloak/src/CatenaX.NetworkServices.Keycloak.DBAccess/KeycloakDBAccessFactory.cs
  coreservices/keycloak/src/CatenaX.NetworkServices.Keycloak.DBAccess/KeycloakDBAccessSettings.cs
  coreservices/keycloak/src/CatenaX.NetworkServices.Keycloak.DBAccess/Model/UserJoindedFederatedIdentity.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/CatenaX.NetworkServices.Provisioning.Library.csproj
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/IProvisioningManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Models/JoinedUserInfo.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/ProvisioningManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/ProvisioningSettings.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/CatenaX.NetworkServices.Registration.Service.csproj
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/BusinessLogic/IUserAdministrationBusinessLogic.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/BusinessLogic/UserAdministrationBusinessLogic.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/CatenaX.NetworkServices.UserAdministration.Service.csproj
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/Controllers/UserAdministrationController.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/Startup.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/appsettings.json
Due: azure-pipelines.yml

file upload
  portal/code/company-portal/src/helpers/utils.ts
Due: azure-pipelines-2.yml

Welcome email evaluate for new styling
  portal/code/tractus-x-portal/Email Template/divider_lines.png
  portal/code/tractus-x-portal/Email Template/question_mark_icon.png
  portal/code/tractus-x-portal/Email Template/register_company_button.png
  portal/code/tractus-x-portal/Email Template/welcomeCX.html
Due: azure-pipelines-2.yml

basic table component styles implemented merge completed from latest component folder yarn workspaces fixed back to parent folder
  portal/code/cx-portal-shared-components/package.json
  portal/code/cx-portal-shared-components/src/components/basic/Table/components/RoleChip.scss
  portal/code/yarn.lock
Due: azure-pipelines-2.yml

CPLP-497: changed routes of endpoints (also invitation) to match ingress
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/Controllers/UserAdministrationController.cs
  portal/code/tractus-x-portal/.env
Due: azure-pipelines-2.yml, azure-pipelines.yml

CPLP-497: changed invitation endpoint to fit ingress and removed sonar (as secret is missing in fork and blocks pipeline)
  .github/workflows/portal.yml
Due: azure-pipelines.yml

Update messages_en.properties
  coreservices/iam/themes/catenax-central/email/messages/messages_en.properties
Due: azure-pipelines.yml

new unit test pipeline
  .github/workflows/portal-test.yml
Due: azure-pipelines.yml

removed sonarcloud
  .github/workflows/portal-test.yml
Due: azure-pipelines.yml

added dist step
  .github/workflows/portal-test.yml
Due: azure-pipelines.yml

Update apps.json
  portal/code/cx-portal/public/testdata/apps.json
Due: azure-pipelines-2.yml

remove broken step
  .github/workflows/portal-test.yml
Due: azure-pipelines.yml

CPLP-497: added CheckTenant authorization policy
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/Controllers/UserAdministrationController.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/Startup.cs
Due: azure-pipelines.yml

WIP implementation of Shared component usage at cx-portal project
  portal/code/cx-portal-shared-components/src/components/index.tsx
  portal/code/cx-portal/package.json
  portal/code/cx-portal/src/components/pages/PartnerNetwork/PartnerNetwork.css
  portal/code/cx-portal/src/components/pages/PartnerNetwork/PartnerNetwork.tsx
  portal/code/cx-portal/src/state/api/partnerNetwork/partnerNetworkApi.ts
  portal/code/cx-portal/src/state/features/partnerNetwork/partnerNetworkSlice.ts
  portal/code/cx-portal/src/types/partnerNetwork/PartnerNetworkTypes.ts
  portal/code/yarn.lock
Due: azure-pipelines-2.yml

CPLP-497: moved up method to not let MS Identity to override claim names
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/Startup.cs
Due: azure-pipelines.yml

added broken step
  .github/workflows/portal-test.yml
Due: azure-pipelines.yml

renamed job
  .github/workflows/portal-test.yml
Due: azure-pipelines.yml

Added new action for swagger service
  .github/workflows/swagger-service.yml
Due: azure-pipelines.yml

Fixed repo name
  .github/workflows/swagger-service.yml
Due: azure-pipelines.yml

added prefix
  .github/workflows/swagger-service.yml
Due: azure-pipelines.yml

Added az login
  .github/workflows/swagger-service.yml
Due: azure-pipelines.yml

fixed file extension
  .github/workflows/swagger-service.yml
Due: azure-pipelines.yml

Update JDK
  .github/workflows/swagger-service.yml
Due: azure-pipelines.yml

Added dockerfile
  data/portal-td-stub/src/main/docker/Dockerfile
Due: azure-pipelines.yml

added missing property
  .github/workflows/swagger-service.yml
Due: azure-pipelines.yml

test
  .github/workflows/swagger-service.yml
  data/portal-td-stub/pom.xml
  data/portal-td-stub/run-local.sh
Due: azure-pipelines.yml

Fixed DB URL
  .github/workflows/swagger-service.yml
  data/portal-td-stub/src/main/resources/application.yml
Due: azure-pipelines.yml

removed some unused code and files
  portal/code/cx-portal/src/assets/locales/de.json
  portal/code/cx-portal/src/assets/locales/en.json
  portal/code/cx-portal/src/components/pages/Developer/Developer.css
  portal/code/cx-portal/src/components/pages/Developer/index.tsx
  portal/code/cx-portal/src/components/pages/Settings/Settings.css
  portal/code/cx-portal/src/components/pages/Settings/index.tsx
  portal/code/cx-portal/src/services/AccessService.tsx
Due: azure-pipelines-2.yml

Fixed username for db
  .github/workflows/swagger-service.yml
Due: azure-pipelines.yml

Changed PWD
  .github/workflows/swagger-service.yml
Due: azure-pipelines.yml

Debugging
  .github/workflows/swagger-service.yml
Due: azure-pipelines.yml

fix username
  data/portal-td-stub/src/main/resources/application.yml
Due: azure-pipelines.yml

Fixed server host and port
  .github/workflows/swagger-service.yml
Due: azure-pipelines.yml

changed port
  .github/workflows/swagger-service.yml
Due: azure-pipelines.yml

No host
  .github/workflows/swagger-service.yml
Due: azure-pipelines.yml

logging and minor updates
  portal/code/cx-portal/src/services/AccessService.tsx
  portal/code/cx-portal/src/services/LogService.ts
  portal/code/cx-portal/src/services/UserService.ts
  portal/code/cx-portal/src/types/MainTypes.ts
Due: azure-pipelines-2.yml
