Repository ntruchsess/tractusx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-5.yml, azure-pipelines.yml

azure-pipelines-2.yml:
  name: $(BuildID)
  stages:
  - stage: Build
    displayName: Build image
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build an image
        inputs:
          containerRegistry: catenaxdevacr
          repository: portal
  ...

azure-pipelines-5.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Maven@3
        inputs:
          mavenPomFile: ./partsmasterdata/pom.xml
          publishJUnitResults: false
          javaHomeOption: JDKVersion
  ...

azure-pipelines.yml:
  name: $(BuildID)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'echo "Hello from root folder pipeline."
  
      '

Upload App part 1
  portal/code/tractus-x-portal/.vscode/settings.json
  portal/code/tractus-x-portal/package-lock.json
  portal/code/tractus-x-portal/package.json
  portal/code/tractus-x-portal/public/PartChain1.png
  portal/code/tractus-x-portal/public/PartChain2.png
  portal/code/tractus-x-portal/public/PartChain3.png
  portal/code/tractus-x-portal/public/PartChain4.png
  portal/code/tractus-x-portal/public/PartChain5.png
  portal/code/tractus-x-portal/public/Web.config
  portal/code/tractus-x-portal/public/material1.png
  portal/code/tractus-x-portal/src/App.css
  portal/code/tractus-x-portal/src/App.tsx
  portal/code/tractus-x-portal/src/components/appcard.tsx
  portal/code/tractus-x-portal/src/components/appcard2.tsx
  portal/code/tractus-x-portal/src/components/appdetail.tsx
  portal/code/tractus-x-portal/src/components/apps/dataupload.tsx
  portal/code/tractus-x-portal/src/components/header.tsx
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/data/application.ts
  portal/code/tractus-x-portal/src/index.tsx
  portal/code/tractus-x-portal/src/stores/appstate.ts
Due: azure-pipelines-2.yml

implemented table stroage access
  connectordns/src/main/java/org/eclipse/tractusx/cdns/controllers/MappingController.java
  connectordns/src/main/java/org/eclipse/tractusx/cdns/controllers/tablestorage/OneIdDNSMapping.java
  connectordns/src/main/java/org/eclipse/tractusx/cdns/controllers/tablestorage/TableStorageConfig.java
  connectordns/src/main/java/org/eclipse/tractusx/cdns/controllers/tablestorage/TableStroageAccess.java
  connectordns/src/main/resources/application.properties
Due: none

imported correct businesspartners
  businesspartners/src/main/java/com/tractusx/businesspartners/controllers/SampleDataController.java
  businesspartners/src/main/java/com/tractusx/businesspartners/controllers/tablestorage/BusinessPartner.java
  businesspartners/src/main/java/com/tractusx/businesspartners/controllers/tablestorage/TableStroageAccess.java
Due: azure-pipelines.yml

change trigger branch
  connector/azure-pipeline-connector.yml
Due: azure-pipelines.yml

Moved pipelines to new directory
  infrastructure/pipelines/Businesspartners.yaml
  infrastructure/pipelines/azure-pipelines-1.yml
  infrastructure/pipelines/azure-pipelines-2.yml
  infrastructure/pipelines/azure-pipelines-3.yml
  infrastructure/pipelines/azure-pipelines-4.yml
  infrastructure/pipelines/azure-pipelines-5.yml
  infrastructure/pipelines/azure-pipelines.yml
Due: azure-pipelines.yml

Moved connectordns pipeline
  infrastructure/pipelines/azure-pipelines-connectordns.yml
Due: azure-pipelines.yml

aligned new folder structure
  infrastructure/pipelines/azure-pipelines-connectordns.yml
Due: azure-pipelines.yml

Moved CDNS manifests
  infrastructure/manifests/cdns-ingress.yaml
  infrastructure/manifests/cdns.yaml
Due: azure-pipelines.yml

Fixed paths
  infrastructure/pipelines/azure-pipelines-connectordns.yml
Due: azure-pipelines.yml

New folder structure
  infrastructure/manifests/businesspartners-ingress.yaml
  infrastructure/manifests/businesspartners.yaml
  infrastructure/manifests/deployment.yml
  infrastructure/manifests/partsmasterdata-ingress.yaml
  infrastructure/manifests/partsmasterdata.yaml
  infrastructure/manifests/portal-ingress.yaml
  infrastructure/manifests/portal.yaml
  infrastructure/manifests/service.yml
  infrastructure/pipelines/Businesspartners.yaml
  infrastructure/pipelines/azure-pipelines-1.yml
  infrastructure/pipelines/azure-pipelines-2.yml
  infrastructure/pipelines/azure-pipelines-3.yml
  infrastructure/pipelines/azure-pipelines-4.yml
  infrastructure/pipelines/azure-pipelines-5.yml
  manifests/cdns-ingress.yaml
  manifests/cdns.yaml
  manifests/deployment.yml
  manifests/service.yml
Due: azure-pipelines.yml

Moved terraform folder
  infrastructure/terraform/.gitignore
  infrastructure/terraform/README.md
  infrastructure/terraform/cluster-issuer.yaml
  infrastructure/terraform/main.tf
  infrastructure/terraform/modules/aks/main.tf
  infrastructure/terraform/modules/aks/outputs.tf
  infrastructure/terraform/modules/aks/variables.tf
  infrastructure/terraform/modules/vnet/main.tf
  infrastructure/terraform/modules/vnet/outputs.tf
  infrastructure/terraform/modules/vnet/variables.tf
  infrastructure/terraform/outputs.tf
  infrastructure/terraform/variables.tf
  infrastructure/terraform/versions.tf
Due: azure-pipelines.yml

New folder structure
  infrastructure/pipelines/azure-pipelines-connectordns.yml
Due: azure-pipelines.yml

Aligned new folder structure
  infrastructure/pipelines/azure-pipelines-3.yml
  infrastructure/pipelines/azure-pipelines-4.yml
  infrastructure/pipelines/azure-pipelines-5.yml
  infrastructure/pipelines/azure-pipelines.yml
Due: azure-pipelines.yml

Moved core services in new subfolder
  coreservices/businesspartners/.dockerignore
  coreservices/businesspartners/.gitignore
  coreservices/businesspartners/.mvn/wrapper/MavenWrapperDownloader.java
  coreservices/businesspartners/.mvn/wrapper/maven-wrapper.jar
  coreservices/businesspartners/.mvn/wrapper/maven-wrapper.properties
  coreservices/businesspartners/Dockerfile
  coreservices/businesspartners/build
  coreservices/businesspartners/mvnw
  coreservices/businesspartners/mvnw.cmd
  coreservices/businesspartners/pom.xml
  coreservices/businesspartners/src/main/java/com/tractusx/businesspartners/BusinesspartnersApplication.java
  coreservices/businesspartners/src/main/java/com/tractusx/businesspartners/config/SecurityConfig.java
  coreservices/businesspartners/src/main/java/com/tractusx/businesspartners/config/SecurityConfiguration.java
  coreservices/businesspartners/src/main/java/com/tractusx/businesspartners/controllers/SampleDataController.java
  coreservices/businesspartners/src/main/java/com/tractusx/businesspartners/controllers/tablestorage/BusinessPartner.java
  coreservices/businesspartners/src/main/java/com/tractusx/businesspartners/controllers/tablestorage/TableStorageConfig.java
  coreservices/businesspartners/src/main/java/com/tractusx/businesspartners/controllers/tablestorage/TableStroageAccess.java
  coreservices/businesspartners/src/main/resources/application.properties
  coreservices/businesspartners/src/test/java/com/tractusx/businesspartners/BusinesspartnersApplicationTests.java
  coreservices/kmuuploadapp/README.md
  coreservices/partsmasterdata/.dockerignore
  coreservices/partsmasterdata/.gitignore
  coreservices/partsmasterdata/.mvn/wrapper/MavenWrapperDownloader.java
  coreservices/partsmasterdata/.mvn/wrapper/maven-wrapper.jar
  coreservices/partsmasterdata/.mvn/wrapper/maven-wrapper.properties
  coreservices/partsmasterdata/Dockerfile
  coreservices/partsmasterdata/build
  coreservices/partsmasterdata/mvnw
  coreservices/partsmasterdata/mvnw.cmd
  coreservices/partsmasterdata/pom.xml
  coreservices/partsmasterdata/src/main/java/com/tractusx/partsmasterdata/PartsmasterdataApplication.java
  coreservices/partsmasterdata/src/main/java/com/tractusx/partsmasterdata/config/SecurityConfig.java
  coreservices/partsmasterdata/src/main/java/com/tractusx/partsmasterdata/config/SecurityConfiguration.java
  coreservices/partsmasterdata/src/main/java/com/tractusx/partsmasterdata/controllers/blobstorage/BlobStorageAccess.java
  coreservices/partsmasterdata/src/main/java/com/tractusx/partsmasterdata/controllers/blobstorage/BlobStorageConfiguration.java
  coreservices/partsmasterdata/src/main/java/com/tractusx/partsmasterdata/controllers/partmasterdatacontroller.java
  coreservices/partsmasterdata/src/main/resources/application.properties
  coreservices/partsmasterdata/src/test/java/com/tractusx/partsmasterdata/PartsmasterdataApplicationTests.java
  partsmasterdata/.idea/vcs.xml
  partsmasterdata/.idea/workspace.xml
Due: azure-pipelines-5.yml, azure-pipelines.yml

Data upload app
  portal/code/tractus-x-portal/package-lock.json
  portal/code/tractus-x-portal/package.json
  portal/code/tractus-x-portal/src/App.css
  portal/code/tractus-x-portal/src/App.tsx
  portal/code/tractus-x-portal/src/components/alertdialog.tsx
  portal/code/tractus-x-portal/src/components/appdetail.tsx
  portal/code/tractus-x-portal/src/components/apps/dataupload.tsx
  portal/code/tractus-x-portal/src/components/apps/dataupload2.tsx
  portal/code/tractus-x-portal/src/components/uploadbutton.tsx
  portal/code/tractus-x-portal/src/data/uploadfile.ts
  portal/code/tractus-x-portal/src/helpers/utils.ts
  portal/code/tractus-x-portal/src/stores/appstate.ts
Due: azure-pipelines-2.yml

add deployment in ci
  connector/azure-pipeline-connector.yml
Due: azure-pipelines.yml

fiexd auth issues
  businesspartners/src/main/java/com/tractusx/businesspartners/config/SecurityConfig.java
  partsmasterdata/.idea/workspace.xml
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/config/SecurityConfig.java
Due: azure-pipelines-5.yml, azure-pipelines.yml

Added aad admin group object id
  infrastructure/terraform/main.tf
Due: azure-pipelines.yml

UploadAdapter init implementation (docker + pipeline missing)
  uploadAppAdapter/.gitignore
  uploadAppAdapter/.mvn/wrapper/MavenWrapperDownloader.java
  uploadAppAdapter/.mvn/wrapper/maven-wrapper.jar
  uploadAppAdapter/.mvn/wrapper/maven-wrapper.properties
  uploadAppAdapter/mvnw
  uploadAppAdapter/mvnw.cmd
  uploadAppAdapter/pom.xml
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/UploadAppAdapterApplication.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/config/SecurityConfig.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/config/SecurityConfiguration.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/controllers/UploadAppAdapterController.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/dal/BlobStorageAccess.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/dal/BlobStorageConfiguration.java
  uploadAppAdapter/src/main/resources/application.properties
  uploadAppAdapter/src/test/java/com/tractusx/uploadappadapter/UploadAppAdapterApplicationTests.java
Due: azure-pipelines.yml

Add connector pages
  portal/code/tractus-x-portal/src/App.css
  portal/code/tractus-x-portal/src/App.tsx
  portal/code/tractus-x-portal/src/components/connectorcard.tsx
  portal/code/tractus-x-portal/src/components/connectorheader.tsx
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/components/setupconnector.tsx
  portal/code/tractus-x-portal/src/data/connector.ts
  portal/code/tractus-x-portal/src/helpers/utils.ts
  portal/code/tractus-x-portal/src/stores/connectors.ts
Due: azure-pipelines-2.yml

deleted files
  partsmasterdata/.idea/workspace.xml
Due: azure-pipelines-5.yml

Added Dockerfile
  uploadAppAdapter/Dockerfile
Due: azure-pipelines.yml

portale aks deplyoment adjustments
  infrastructure/manifests/portal-ingress.yaml
  infrastructure/manifests/portal.yaml
  portal/code/tractus-x-portal/package.json
Due: azure-pipelines-2.yml, azure-pipelines.yml

Added part parsing
  .idea/.gitignore
  .idea/modules.xml
  .idea/tractusx.iml
  connectordns/cdns.iml
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/controllers/UploadAppAdapterController.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/dal/BlobStorageAccess.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/dal/ComputeFile.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/models/Part.java
Due: azure-pipelines.yml

User management
  portal/code/tractus-x-portal/src/App.css
  portal/code/tractus-x-portal/src/components/adduser.tsx
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/components/usermanagement.tsx
Due: azure-pipelines-2.yml

removed cdns.iml
  connectordns/.gitignore
Due: none

Prep for parts request
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/dal/BlobStorageAccess.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/dal/ComputeFile.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/models/CsvPart.java
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-2.yml: any of: portal
  azure-pipelines-5.yml: any of: partsmasterdata
  azure-pipelines.yml: any file but: connectordns, gpm, kmuuploadapp, partsmasterdata, portal, terraform
