Repository ntruchsess/tractusx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-5.yml, azure-pipelines.yml

azure-pipelines-2.yml:
  name: $(BuildID)
  stages:
  - stage: Build
    displayName: Build image
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build an image
        inputs:
          containerRegistry: catenaxdevacr
          repository: portal
  ...

azure-pipelines-5.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Maven@3
        inputs:
          mavenPomFile: ./partsmasterdata/pom.xml
          publishJUnitResults: false
          javaHomeOption: JDKVersion
  ...

azure-pipelines.yml:
  name: $(BuildID)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'echo "Hello from root folder pipeline."
  
      '

moved folders
  coreservices/consent/src/CatenaX.NetworkServices.Consent.Service.Tests/CatenaX.NetworkServices.Consent.Service.Tests.csproj
  coreservices/consent/src/CatenaX.NetworkServices.Consent.Service.Tests/CompanyRoleAccessTests.cs
  coreservices/consent/src/CatenaX.NetworkServices.Consent.Service.Tests/ConstentAccessTests.cs
  coreservices/consent/src/CatenaX.NetworkServices.Cosent.Library.Data/CatenaX.NetworkServices.Cosent.Library.Data.csproj
  coreservices/consent/src/CatenaX.NetworkServices.Cosent.Library.Data/CompanyRole.cs
  coreservices/consent/src/CatenaX.NetworkServices.Cosent.Library.Data/Consent.cs
  coreservices/consent/src/CatenaX.NetworkServices.Cosent.Library.Data/SignedConsent.cs
  coreservices/consent/src/CatenaX.NetworkServices.Cosent.Library/CatenaX.NetworkServices.Cosent.Library.csproj
  coreservices/consent/src/CatenaX.NetworkServices.Cosent.Library/CompanyRoleAccess.cs
  coreservices/consent/src/CatenaX.NetworkServices.Cosent.Library/ConsentAccess.cs
  coreservices/consent/src/CatenaX.NetworkServices.Cosent.Library/NpgsqlDataReaderExtensions.cs
Due: azure-pipelines.yml

added apis for different operatiosn
  coreservices/CatenaX.NetworkServices.sln
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/IOnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Controllers/OnboardingController.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Model/CompanyToRoles.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/OnboardingAccess/IOnboardingDBAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/OnboardingAccess/OnboardingDBAccess.cs
  sqls/create tables and functions.sql
  sqls/create test data.sql
Due: azure-pipelines.yml

fixed workflow file
  .github/workflows/GitHub_Actions_Connector_Helmchart.yml
Due: azure-pipelines.yml

added additional endpoints for consents
  coreservices/consent/src/CatenaX.NetworkServices.Cosent.Library.Data/ConsentForCompanyRole.cs
  coreservices/consent/src/CatenaX.NetworkServices.Cosent.Library/CompanyRoleAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/IOnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CatenaX.NetworkServices.Onboarding.Service.csproj
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Controllers/OnboardingController.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Model/SignConsentRequest.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/OnboardingAccess/IOnboardingDBAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/OnboardingAccess/OnboardingDBAccess.cs
Due: azure-pipelines.yml

added missing endpoints
  coreservices/CatenaX.NetworkServices.sln
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Identity/KeycloakIdentityManager.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/InvitationBusinessLogic.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Startup.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/CatenaX.NetworkServices.Mailing.SendMail.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/IMailingService.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/MailingService.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/IOnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CatenaX.NetworkServices.Onboarding.Service.csproj
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Controllers/OnboardingController.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Model/SetIdp.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/OnboardingAccess/IOnboardingDBAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/OnboardingAccess/OnboardingDBAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Startup.cs
  sqls/create tables and functions.sql
Due: azure-pipelines.yml

Backed service call for user role and Company role
  portal/code/company-portal/src/components/companydata.tsx
  portal/code/company-portal/src/components/companyrole.tsx
  portal/code/company-portal/src/components/responsibilities.tsx
  portal/code/company-portal/src/components/termsncondition.tsx
  portal/code/company-portal/src/data/companyDetails.ts
  portal/code/company-portal/src/helpers/UserService.js
  portal/code/company-portal/src/helpers/utils.ts
Due: azure-pipelines-2.yml

removed unused files
  portal/code/company-portal/src/components/lists/descriptionlist.tsx
  portal/code/company-portal/src/components/navigation/backlink.tsx
Due: azure-pipelines-2.yml

added logic for correct rights
  coreservices/CatenaX.NetworkServices.sln
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Identity/IIdentityManager.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Identity/KeycloakIdentityManager.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/InvitationBusinessLogic.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Controllers/InvitationController.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/appsettings.json
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/IMailingService.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/MailingService.cs
  coreservices/mockup/src/CatenaX.NetworkServices.Mockups/QueryCompany.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/OnboardingAccess/IOnboardingDBAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/appsettings.json
Due: azure-pipelines.yml

added company registration
  portal/code/company-portal/src/App.tsx
  portal/code/company-portal/src/components/registration.tsx
  portal/code/company-portal/src/components/responsibilities.tsx
Due: azure-pipelines-2.yml

added swagger
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CatenaX.NetworkServices.Onboarding.Service.csproj
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Startup.cs
Due: azure-pipelines.yml

fixed gitignore
  portal/code/tractus-x-portal/.gitignore
Due: azure-pipelines-2.yml

use realm from query parameter
  portal/code/company-portal/public/keycloak.json
  portal/code/company-portal/src/helpers/UserService.js
Due: azure-pipelines-2.yml

Disclamer
  portal/code/company-portal/src/components/companydata.tsx
Due: azure-pipelines-2.yml

backend call
  portal/code/company-portal/src/components/companydata.tsx
  portal/code/company-portal/src/data/companyDetails.ts
  portal/code/company-portal/src/helpers/utils.ts
Due: azure-pipelines-2.yml

renaming
  coreservices/invitation/test/CatenaX.NetworkServices.Onboarding.Service.Tests/CatenaX.NetworkServices.Invitation.Service.Tests.csproj
  coreservices/invitation/test/CatenaX.NetworkServices.Onboarding.Service.Tests/InvitationControllerTest.cs
Due: azure-pipelines.yml

Service integration for finishonboarding added invite page
  portal/code/company-portal/src/components/companydata.tsx
  portal/code/company-portal/src/components/companyrole.tsx
  portal/code/company-portal/src/components/identity.tsx
  portal/code/company-portal/src/components/onboarding.tsx
  portal/code/company-portal/src/components/responsibilities.tsx
  portal/code/company-portal/src/components/termsncondition.tsx
  portal/code/tractus-x-portal/src/App.tsx
  portal/code/tractus-x-portal/src/components/appStoreIframe.tsx
  portal/code/tractus-x-portal/src/stores/appstate.ts
Due: azure-pipelines-2.yml

oneID change and appstore change
  portal/code/company-portal/src/components/companyrole.tsx
  portal/code/company-portal/src/components/identity.tsx
  portal/code/company-portal/src/helpers/UserService.js
  portal/code/tractus-x-portal/src/components/appcarddata.tsx
  portal/code/tractus-x-portal/src/components/appstore.tsx
  portal/code/tractus-x-portal/src/components/ratingsApp.tsx
Due: azure-pipelines-2.yml

added the correct sql files
  sqls/create tables and functions.sql
Due: azure-pipelines.yml

Landing page changes
  portal/code/company-portal/src/components/companyrole.tsx
  portal/code/company-portal/src/components/identity.tsx
  portal/code/company-portal/src/helpers/UserService.js
  portal/code/tractus-x-portal/public/Picture-BPDM01.png
  portal/code/tractus-x-portal/public/Picture-BPDM03.jpg
  portal/code/tractus-x-portal/public/Picture-CESAPApp01.png
  portal/code/tractus-x-portal/public/Picture-CESAPApp02.png
  portal/code/tractus-x-portal/public/Picture-CESAPApp03.png
  portal/code/tractus-x-portal/public/Picture-CESAPApp04.png
  portal/code/tractus-x-portal/public/Picture-PartChain-Mock01.png
  portal/code/tractus-x-portal/public/Picture-PartChain-Mock02.png
  portal/code/tractus-x-portal/public/Picture1-PartChainMock01.png
  portal/code/tractus-x-portal/public/Picture1-PartChainMock02.png
  portal/code/tractus-x-portal/public/PictureBPDM02.jpg
  portal/code/tractus-x-portal/public/app-Picture-PartChain.png
  portal/code/tractus-x-portal/public/circular-Economy-001.png
  portal/code/tractus-x-portal/public/circular-Economy-002.png
  portal/code/tractus-x-portal/src/components/appcard.tsx
  portal/code/tractus-x-portal/src/components/appcarddata.tsx
  portal/code/tractus-x-portal/src/components/appdetail.tsx
  portal/code/tractus-x-portal/src/components/appstore.tsx
Due: azure-pipelines-2.yml

added deleted table creation
  sqls/create tables and functions.sql
Due: azure-pipelines.yml

last fixes for demo
  portal/code/tractus-x-portal/src/components/registrationoneid.tsx
Due: azure-pipelines-2.yml

fixed params
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/InvitationBusinessLogic.cs
Due: azure-pipelines.yml

fixes to template, added helmchart for onboarding
  .github/workflows/composite/coreservicescicd/action.yml
  .github/workflows/onboarding-service.yml
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/helmchart/.helmignore
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/helmchart/Chart.yaml
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/helmchart/templates/_helpers.tpl
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/helmchart/templates/deployment.yaml
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/helmchart/values.yaml
Due: azure-pipelines.yml

added proper template
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/appsettings.json
Due: azure-pipelines.yml

added deploy scripts for portals
  portal/code/company-portal/package.json
  portal/code/tractus-x-portal/package.json
Due: azure-pipelines-2.yml

added new mailing logic for html
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/ISendMail.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/MailingService.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/SendMail.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/Model/Mail.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/TemplateManager.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/TemplateSettings.cs
Due: azure-pipelines.yml

fix
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Identity/CatenaX.NetworkServices.Invitation.Identity.csproj
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Identity/KeycloakIdentityManager.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Startup.cs
  coreservices/mockup/src/CatenaX.NetworkServices.Mockups/QueryCompany.cs
  portal/code/company-portal/.deployment
Due: azure-pipelines-2.yml, azure-pipelines.yml

changes for demo
  .github/workflows/invitation-service.yml
Due: azure-pipelines.yml

Landing page and inite url changes
  portal/code/tractus-x-portal/src/components/appcard.tsx
  portal/code/tractus-x-portal/src/components/appstore.tsx
  portal/code/tractus-x-portal/src/data/application.ts
  portal/code/tractus-x-portal/src/imagesapp-landing-Page.png
Due: azure-pipelines-2.yml

fixed dockerfile
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Dockerfile
Due: azure-pipelines.yml

invitationservice: add protocolMapper to realm's client config
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Identity/KeycloakIdentityManager.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Identity/Model/CreateClientProtocolMapper.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/InvitationBusinessLogic.cs
  coreservices/invitation/src/keycloak.net-branch/src/Keycloak.Net/Models/Clients/ClientConfig.cs
Due: azure-pipelines.yml

terms and condition link
  portal/code/company-portal/src/components/alertdialog.tsx
  portal/code/company-portal/src/components/termsncondition.tsx
  portal/code/tractus-x-portal/src/components/alertdialog.tsx
  portal/code/tractus-x-portal/src/components/termsncondition.tsx
Due: azure-pipelines-2.yml

added cdq impl
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/IOnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CDQ/CDQAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CDQ/ICDQAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CDQ/Model/FetchBusinessPartnerDto.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Controllers/OnboardingController.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Startup.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/appsettings.json
Due: azure-pipelines.yml

prepared secret deployment and ingress
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/helmchart/templates/deployment.yaml
Due: azure-pipelines.yml

added further changes
  .github/workflows/composite/coreservicescicd/action.yml
  .github/workflows/onboarding-service.yml
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Program.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/helmchart/templates/ingres.yaml
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/helmchart/values.yaml
Due: azure-pipelines.yml

fix
  .github/workflows/onboarding-service.yml
Due: azure-pipelines.yml

fixed path
  .github/workflows/onboarding-service.yml
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-2.yml: any of: portal
  azure-pipelines-5.yml: any of: partsmasterdata
  azure-pipelines.yml: any file but: connectordns, gpm, kmuuploadapp, partsmasterdata, portal, terraform
