Repository ntruchsess/tractusx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-5.yml, azure-pipelines.yml

azure-pipelines-2.yml:

# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'portal/*'

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  imageRepository: 'portal'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  imagePullSecret: 'catenaxdevacr-auth'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        containerRegistry: catenaxdevacr
        repository: portal
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/portal/code/tractus-x-portal/Dockerfile'
        tags: |
          $(tag)

azure-pipelines-5.yml:

# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'partsmasterdata/*'

resources:
- repo: self

variables:

  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '553abab0-5db0-4932-aaaf-25147ed09cf7'
  imageRepository: 'partsmasterdata'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  dockerfilePath: 'partsmasterdata/Dockerfile'
  tag: '$(Build.BuildId)'
  imagePullSecret: 'catenaxdevacr12483f45-auth'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'


stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: './partsmasterdata/pom.xml'
        publishJUnitResults: false
        javaHomeOption: JDKVersion
        jdkVersionOption: '1.11'
        mavenVersionOption: Default
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false
    - task: Docker@2
      inputs:
        command: 'buildAndPush'
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)

azure-pipelines.yml:

# Build numbering format
name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - 'connectordns/*'
      - 'gpm/*'
      - 'kmuuploadapp/*'
      - 'partsmasterdata/*'
      - 'portal/*'
      - 'terraform/*'

pool:
  vmImage: 'ubuntu-latest'

steps:
  - script: |
      echo "Hello from root folder pipeline."

folder renaming
  .github/workflows/coreservices.yml
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helm-invitation/.helmignore
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helm-invitation/Chart.yaml
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helm-invitation/templates/_helpers.tpl
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helm-invitation/templates/deployment.yaml
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helm-invitation/values.yaml
Due: azure-pipelines.yml

changed template
  .github/workflows/coreservices.yml
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helm-invitation/templates/deployment.yaml
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helm-invitation/values.yaml
Due: azure-pipelines.yml

fixed pipeline
  .github/workflows/coreservices.yml
Due: azure-pipelines.yml

fixed image
  .github/workflows/coreservices.yml
Due: azure-pipelines.yml

changed to upgrade
  .github/workflows/coreservices.yml
Due: azure-pipelines.yml

added composite action
  .github/workflows/composite/coreservices.yml
Due: azure-pipelines.yml

up
  .github/workflows/coreservices-use-composite.yml
  .github/workflows/coreservices.yml
Due: azure-pipelines.yml

fix
  .github/workflows/composite/coreservicescicd/action.yml
  .github/workflows/coreservices-use-composite.yml
Due: azure-pipelines.yml

updated action
  .github/workflows/composite/coreservicescicd/action.yml
Due: azure-pipelines.yml

updated action
  .github/workflows/composite/coreservicescicd/action.yml
  .github/workflows/coreservices-use-composite.yml
Due: azure-pipelines.yml

added new params renamed chart folder
  .github/workflows/composite/coreservicescicd/action.yml
  .github/workflows/coreservices-use-composite.yml
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helmchart/.helmignore
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helmchart/Chart.yaml
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helmchart/templates/_helpers.tpl
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helmchart/templates/deployment.yaml
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helmchart/values.yaml
Due: azure-pipelines.yml

changed to valid name
  .github/workflows/coreservices-use-composite.yml
Due: azure-pipelines.yml

updated helm task
  .github/workflows/composite/coreservicescicd/action.yml
Due: azure-pipelines.yml

finalized action and stuff
  .github/workflows/coreservices.yml
  .github/workflows/invitation-service.yml
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helmchart/templates/_helpers.tpl
Due: azure-pipelines.yml

added
  .github/workflows/invitation-service.yml
Due: azure-pipelines.yml

Enable deployment to int (#169)
  .github/workflows/testdatagenerator.yml
Due: azure-pipelines.yml

Remove typo (#171)
  .github/workflows/testdatagenerator.yml
Due: azure-pipelines.yml

Feature/cax 1 prs@153 prs api upload data processor (#148)
  coreservices/partsrelationshipservice/README.md
  coreservices/partsrelationshipservice/broker-proxy-integration-tests/src/test/java/net/catenax/brokerProxy/BrokerProxyIntegrationTestBase.java
  coreservices/partsrelationshipservice/broker-proxy-integration-tests/src/test/java/net/catenax/brokerProxy/UpdatePartAspectTest.java
  coreservices/partsrelationshipservice/broker-proxy-integration-tests/src/test/java/net/catenax/brokerProxy/UpdatePartRelationshipTest.java
  coreservices/partsrelationshipservice/broker-proxy-integration-tests/src/test/java/net/catenax/brokerProxy/UpdatePartsAttributesTest.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/configuration/BrokerProxyConfiguration.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/services/BrokerProxyService.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/services/MessageProducerService.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/resources/application.yml
  coreservices/partsrelationshipservice/broker-proxy/src/test/java/net/catenax/brokerproxy/services/BrokerProxyServiceTest.java
  coreservices/partsrelationshipservice/broker-proxy/src/test/java/net/catenax/brokerproxy/services/MessageProducerServiceTest.java
  coreservices/partsrelationshipservice/docker-compose.yml
  coreservices/partsrelationshipservice/prs-api/pom.xml
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/PrsApplication.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/configuration/EventProcessingRetryConfiguration.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/configuration/KafkaConfiguration.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/configuration/PrsConfiguration.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/entities/PartAspectEntity.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/entities/PartAspectEntityKey.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/entities/PartAttributeEntity.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/entities/PartAttributeEntityKey.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/entities/PartRelationshipEntity.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/entities/PartRelationshipEntityKey.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/mappers/PartAspectUpdateEventToEntityMapper.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/mappers/PartAttributeUpdateEventToEntityMapper.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/mappers/PartRelationshipUpdateEventToEntityMapper.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/requests/PartsTreeRequestBase.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/services/EventMessageRouter.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/services/PartRelationshipUpdateProcessor.java
  coreservices/partsrelationshipservice/prs-api/src/main/resources/application.yml
  coreservices/partsrelationshipservice/prs-api/src/main/resources/db/migration/V1_12__part_relationship.sql
  coreservices/partsrelationshipservice/prs-api/src/test/java/net/catenax/prs/entities/EntitiesMother.java
  coreservices/partsrelationshipservice/prs-api/src/test/java/net/catenax/prs/mappers/PartAspectUpdateEventToEntityMapperTests.java
  coreservices/partsrelationshipservice/prs-api/src/test/java/net/catenax/prs/mappers/PartAttributeUpdateEventToEntityMapperTests.java
  coreservices/partsrelationshipservice/prs-api/src/test/java/net/catenax/prs/mappers/PartRelationshipUpdateEventToEntityMapperTests.java
  coreservices/partsrelationshipservice/prs-api/src/test/java/net/catenax/prs/services/EventMessageRouterTests.java
  coreservices/partsrelationshipservice/prs-api/src/test/java/net/catenax/prs/services/PartRelationshipUpdateProcessorTests.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/com/catenax/partsrelationshipservice/dtos/messaging/EventCategory.java
  coreservices/partsrelationshipservice/prs-testing/src/main/java/net/catenax/prs/testing/PartUpdateEventMother.java
Due: azure-pipelines.yml

Feature/CAX-1-semantics@CATART0PO6-153 Speedboat demo - Automated Registration of Digital Twins (#170)
  .github/workflows/portal.yml
  .github/workflows/semantics.yml
  catenax.postman_collection.json
  connector/deployment.yaml
  connector/run_k8.sh
  connector/src/main/resources/conf/local_consumer_config.json
  connector/src/main/resources/conf/local_provider_config.json
  infrastructure/manifests/semantics.yaml
  portal/code/tractus-x-portal/local.env
  portal/code/tractus-x-portal/src/components/aspect.tsx
  portal/code/tractus-x-portal/src/components/semantics/material.json
  portal/code/tractus-x-portal/src/components/semantics/traceability.json
  semantics/digital-twin-registry-openapi.yaml
  semantics/postman/Dataspace Connector.postman_collection.json
  semantics/postman/IdsAdapter.postman_collection.json
  semantics/run_local.sh
  semantics/src/main/java/net/catenax/semantics/SemanticsApplication.java
  semantics/src/main/java/net/catenax/semantics/idsadapter/config/IdsAdapterConfigProperties.java
  semantics/src/main/java/net/catenax/semantics/idsadapter/restapi/controller/AdapterController.java
  semantics/src/main/java/net/catenax/semantics/idsadapter/restapi/dto/Source.java
  semantics/src/main/java/net/catenax/semantics/idsadapter/service/IdsService.java
  semantics/src/main/java/net/catenax/semantics/registry/CustomTwinsApiDelegate.java
  semantics/src/main/java/net/catenax/semantics/tools/ResultSetToJsonStreamer.java
  semantics/src/main/java/net/catenax/semantics/tools/ResultSetsToXmlSource.java
  semantics/src/main/resources/application.yml
  semantics/src/main/resources/data.sql
  semantics/src/main/resources/dcx2bom.xsl
  semantics/src/main/resources/dcx2twin.xsl
  semantics/src/main/resources/models/net.catenax.semantics/1.0.0/DigitalTwin.ttl
  semantics/src/main/resources/sql2bom.xsl
  semantics/src/main/resources/sql2material.xsl
  semantics/src/main/resources/sql2twins.xsl
  semantics/src/main/resources/xml2xml.xsl
Due: azure-pipelines-2.yml, azure-pipelines.yml

checkin and auth
  coreservices/CatenaX.NetworkServices.sln
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/InvitationBusinessLogic.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/CatenaX.NetworkServices.Invitation.Service.csproj
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Dockerfile
  coreservices/mockup/src/CatenaX.NetworkServices.Mockups/CatenaX.NetworkServices.Mockups.csproj
  coreservices/mockup/src/CatenaX.NetworkServices.Mockups/Company.cs
  coreservices/mockup/src/CatenaX.NetworkServices.Mockups/QueryCompany.cs
  coreservices/mockup/src/CatenaX.NetworkServices.Mockups/UserRoles.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/IOnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CatenaX.NetworkServices.Onboarding.Service.csproj
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Controllers/OnboardingController.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Dockerfile
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Model/User.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Program.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Properties/launchSettings.json
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Startup.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/appsettings.Development.json
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/appsettings.json
Due: azure-pipelines.yml

terma and condition
  portal/code/tractus-x-portal/src/components/onboarding.tsx
Due: azure-pipelines-2.yml

added components for onboarding screen
  portal/code/tractus-x-portal/src/components/certificate.tsx
  portal/code/tractus-x-portal/src/components/companydata.tsx
  portal/code/tractus-x-portal/src/components/companyrole.tsx
  portal/code/tractus-x-portal/src/components/identity.tsx
  portal/code/tractus-x-portal/src/components/onboarding.tsx
  portal/code/tractus-x-portal/src/components/responsibilities.tsx
  portal/code/tractus-x-portal/src/components/termsncondition.tsx
  portal/code/tractus-x-portal/src/passwordemail.html
Due: azure-pipelines-2.yml

added components for onboarding and login
  portal/code/tractus-x-portal/public/logo_gaiaX.png
  portal/code/tractus-x-portal/public/logo_gaiaX@2x.png
  portal/code/tractus-x-portal/src/App.tsx
  portal/code/tractus-x-portal/src/components/emailregister.tsx
  portal/code/tractus-x-portal/src/components/header.tsx
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/components/login.tsx
  portal/code/tractus-x-portal/src/components/registrationoneid.tsx
  portal/code/tractus-x-portal/src/styles/App.css
Due: azure-pipelines-2.yml

email template
  portal/code/tractus-x-portal/Email Template/bg_passwordmail.png
  portal/code/tractus-x-portal/Email Template/newemail.html
  portal/code/tractus-x-portal/Email Template/passwordemail.html
Due: azure-pipelines-2.yml

responsibilities changes
  portal/code/tractus-x-portal/package.json
  portal/code/tractus-x-portal/src/components/certificate.tsx
  portal/code/tractus-x-portal/src/components/dragdrop.tsx
  portal/code/tractus-x-portal/src/components/header.tsx
  portal/code/tractus-x-portal/src/components/onboarding.tsx
  portal/code/tractus-x-portal/src/components/responsibilities.tsx
  portal/code/tractus-x-portal/src/styles/App.css
Due: azure-pipelines-2.yml

padding changes
  portal/code/tractus-x-portal/src/styles/App.css
Due: azure-pipelines-2.yml

added react-toastify
  portal/code/tractus-x-portal/package.json
Due: azure-pipelines-2.yml

added db access for company roles
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/IOnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CatenaX.NetworkServices.Onboarding.Service.csproj
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Controllers/OnboardingController.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Model/CompanyRole.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/OnboardingAccess/IOnboardingDBAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/OnboardingAccess/OnboardingDBAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Startup.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/appsettings.json
Due: azure-pipelines.yml

add creation of client for MS-federation to newly created realm in keycloak
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Identity/IIdentityManager.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Identity/KeycloakIdentityManager.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Identity/Model/CreateClient.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Identity/Model/CreateClientProtocolMapper.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/InvitationBusinessLogic.cs
Due: azure-pipelines.yml

added apis for different operatiosn
  coreservices/CatenaX.NetworkServices.sln
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/IOnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Controllers/OnboardingController.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Model/CompanyToRoles.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/OnboardingAccess/IOnboardingDBAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/OnboardingAccess/OnboardingDBAccess.cs
  sqls/create tables and functions.sql
  sqls/create test data.sql
Due: azure-pipelines.yml

added additional endpoints for consents
  coreservices/consent/src/CatenaX.NetworkServices.Cosent.Library.Data/ConsentForCompanyRole.cs
  coreservices/consent/src/CatenaX.NetworkServices.Cosent.Library/CompanyRoleAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/IOnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CatenaX.NetworkServices.Onboarding.Service.csproj
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Controllers/OnboardingController.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Model/SignConsentRequest.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/OnboardingAccess/IOnboardingDBAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/OnboardingAccess/OnboardingDBAccess.cs
Due: azure-pipelines.yml

Updating swagger ui endpoint (#178)
  coreservices/partsrelationshipservice/README.md
  coreservices/partsrelationshipservice/broker-proxy/src/main/resources/application.yml
  coreservices/partsrelationshipservice/broker-proxy/src/test/java/net/catenax/brokerproxy/BrokerProxyApplicationTest.java
  coreservices/partsrelationshipservice/helm/prs/templates/ingress.yaml
  coreservices/partsrelationshipservice/prs-api/src/main/resources/application.yml
  coreservices/partsrelationshipservice/prs-api/src/test/java/net/catenax/prs/PrsApplicationTests.java
Due: azure-pipelines.yml

removed group check
  .gitignore
  portal/code/tractus-x-portal/.gitignore
  portal/code/tractus-x-portal/src/components/header.tsx
Due: azure-pipelines-2.yml, azure-pipelines.yml

removed group check (#182)
  .gitignore
  portal/code/tractus-x-portal/.gitignore
  portal/code/tractus-x-portal/src/components/header.tsx
Due: azure-pipelines-2.yml, azure-pipelines.yml

Feature/cax 1 prs@245 Documented process to consume aspects with connectors. (#158)
  documentation/architecture/diagrams/speedboat-access-company-a-api.png
  documentation/architecture/diagrams/speedboat-access-company-a-api.puml
  documentation/architecture/diagrams/speedboat-artifacts.png
  documentation/architecture/diagrams/speedboat-artifacts.puml
  documentation/architecture/diagrams/speedboat-get-aspect-url-sequence-diagram.png
  documentation/architecture/diagrams/speedboat-get-aspect-url-sequence-diagram.puml
  documentation/architecture/diagrams/speedboat-get-aspect.png
  documentation/architecture/diagrams/speedboat-get-aspect.puml
  documentation/architecture/speedboat-consume-aspects-with-connectors.md
Due: azure-pipelines.yml

Fix duplicated VIN generation (#179)
  data/tdm/generator/src/main/java/com/catenax/tdm/TestDataGenerator.java
Due: azure-pipelines.yml

Integration tests for the consumer processor (#163)
  coreservices/partsrelationshipservice/docker-compose.yml
  coreservices/partsrelationshipservice/integration-tests/pom.xml
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/integrationtest/GetPartsTreeByObjectIdIntegrationTests.java
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/integrationtest/GetPartsTreeByVinIntegrationTests.java
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/integrationtest/PartsTreeApiResponseMother.java
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/integrationtest/PrsIntegrationTestsBase.java
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/integrationtest/PrsRelationshipsUpdateProcessorTests.java
  coreservices/partsrelationshipservice/prs-testing/src/main/java/net/catenax/prs/testing/UpdateRequestMother.java
Due: azure-pipelines.yml
