Repository ntruchsess/tractusx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-5.yml, azure-pipelines.yml

azure-pipelines-2.yml:

# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'portal/*'

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  imageRepository: 'portal'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  imagePullSecret: 'catenaxdevacr-auth'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        containerRegistry: catenaxdevacr
        repository: portal
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/portal/code/tractus-x-portal/Dockerfile'
        tags: |
          $(tag)

azure-pipelines-5.yml:

# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'partsmasterdata/*'

resources:
- repo: self

variables:

  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '553abab0-5db0-4932-aaaf-25147ed09cf7'
  imageRepository: 'partsmasterdata'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  dockerfilePath: 'partsmasterdata/Dockerfile'
  tag: '$(Build.BuildId)'
  imagePullSecret: 'catenaxdevacr12483f45-auth'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'


stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: './partsmasterdata/pom.xml'
        publishJUnitResults: false
        javaHomeOption: JDKVersion
        jdkVersionOption: '1.11'
        mavenVersionOption: Default
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false
    - task: Docker@2
      inputs:
        command: 'buildAndPush'
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)

azure-pipelines.yml:

# Build numbering format
name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - 'connectordns/*'
      - 'gpm/*'
      - 'kmuuploadapp/*'
      - 'partsmasterdata/*'
      - 'portal/*'
      - 'terraform/*'

pool:
  vmImage: 'ubuntu-latest'

steps:
  - script: |
      echo "Hello from root folder pipeline."

Update LaunchSettings to open swagger by default
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Properties/launchSettings.json
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Properties/launchSettings.json
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/Properties/launchSettings.json
Due: azure-pipelines.yml

Add EmailTemplateType enum to Mailing.Template project
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/Enums/EmailTemplateType.cs
Due: azure-pipelines.yml

Update TemplateSetting's property set to make file templates possible
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/TemplateSettings.cs
Due: azure-pipelines.yml

Remove deprecated Provisioning.Mail project
  coreservices/CatenaX.NetworkServices.sln
Due: azure-pipelines.yml

Update email template file names
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/CatenaX.NetworkServices.Mailing.Template.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/EmailTemplates/additional_user_invitation_with_message.html
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/EmailTemplates/additional_user_invitation_without_message.html
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/EmailTemplates/cx_admin_invitation.html
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/EmailTemplates/password.html
Due: azure-pipelines.yml

Update AppSettings to use new email TemplateSettings
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/appsettings.json
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/appsettings.json
Due: azure-pipelines.yml

Update path logic to properly point to built service's directory
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/TemplateManager.cs
Due: azure-pipelines.yml

WIP some progress with registration request page
  portal/code/cx-portal/src/assets/images/registration-requests-header-background.png
  portal/code/cx-portal/src/assets/images/registration-requests-header-background.svg
  portal/code/cx-portal/src/assets/locales/de/main.json
  portal/code/cx-portal/src/assets/locales/en/main.json
  portal/code/cx-portal/src/components/pages/Admin/RegistrationRequests/RegistrationRequests.scss
  portal/code/cx-portal/src/components/pages/Admin/RegistrationRequests/index.tsx
  portal/code/cx-portal/src/components/pages/Admin/index.tsx
  portal/code/cx-portal/src/services/AccessService.tsx
Due: azure-pipelines-2.yml

added own IDP provisioning in admin page
  portal/code/cx-portal/package.json
  portal/code/cx-portal/public/third-party-licenses.txt
  portal/code/cx-portal/src/assets/locales/de/main.json
  portal/code/cx-portal/src/assets/locales/en/main.json
  portal/code/cx-portal/src/components/pages/Admin/Admin.scss
  portal/code/cx-portal/src/components/pages/Admin/index.tsx
  portal/code/cx-portal/src/components/shared/content/ProvisionIdentityProviderForm/ProvisionIdentityProviderForm.scss
  portal/code/cx-portal/src/components/shared/content/ProvisionIdentityProviderForm/ProvisionIdentityProviderForm.stories.tsx
  portal/code/cx-portal/src/components/shared/content/ProvisionIdentityProviderForm/index.tsx
  portal/code/cx-portal/src/services/AccessService.tsx
  portal/code/cx-portal/src/state/api/provisioning/provisioningAPI.ts
  portal/code/cx-portal/src/types/MainTypes.ts
  portal/code/cx-portal/src/types/provisioning/ProvisioningTypes.ts
Due: azure-pipelines-2.yml

Update apps.json
  portal/code/cx-portal/public/testdata/apps.json
Due: azure-pipelines-2.yml

CPLP-244: continue UserCreation at 'BPN not found' exception
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/BusinessLogic/UserAdministrationBusinessLogic.cs
Due: azure-pipelines.yml

added base for AddUserOverlay
  portal/code/cx-portal-shared-components/src/components/basic/Dialog/index.tsx
  portal/code/cx-portal-shared-components/src/theme.ts
  portal/code/cx-portal/.nvmrc
  portal/code/cx-portal/src/assets/locales/de/main.json
  portal/code/cx-portal/src/assets/locales/en/main.json
  portal/code/cx-portal/src/components/pages/UserManagement/AddUserOverlay/AddUserOverlay.scss
  portal/code/cx-portal/src/components/pages/UserManagement/AddUserOverlay/MultipleUserContent.tsx
  portal/code/cx-portal/src/components/pages/UserManagement/AddUserOverlay/SingleUserContent.tsx
  portal/code/cx-portal/src/components/pages/UserManagement/AddUserOverlay/UserRoles.tsx
  portal/code/cx-portal/src/components/pages/UserManagement/AddUserOverlay/index.tsx
  portal/code/cx-portal/src/components/pages/UserManagement/index.tsx
  portal/code/cx-portal/src/services/AccessService.tsx
Due: azure-pipelines-2.yml

logic for app marketplace
  portal/code/cx-portal/public/testdata/apps.json
  portal/code/cx-portal/public/third-party-licenses.txt
  portal/code/cx-portal/src/assets/locales/de/main.json
  portal/code/cx-portal/src/assets/locales/en/main.json
  portal/code/cx-portal/src/components/pages/AppMarketplace/AppMarketplace.scss
  portal/code/cx-portal/src/components/pages/AppMarketplace/index.tsx
  portal/code/cx-portal/src/components/pages/Connector/Connector.tsx
  portal/code/cx-portal/src/components/pages/Dashboard/Dashboard.tsx
  portal/code/cx-portal/src/components/pages/UserManagement/index.tsx
  portal/code/cx-portal/src/components/shared/basic/GroupItemView/GroupItemView.scss
  portal/code/cx-portal/src/components/shared/basic/GroupItemView/GroupItemView.stories.tsx
  portal/code/cx-portal/src/components/shared/basic/GroupItemView/index.tsx
  portal/code/cx-portal/src/components/shared/basic/RawItemView/RawItemView.scss
  portal/code/cx-portal/src/components/shared/basic/RawItemView/RawItemView.stories.tsx
  portal/code/cx-portal/src/components/shared/basic/RawItemView/index.tsx
  portal/code/cx-portal/src/services/AccessService.tsx
  portal/code/cx-portal/src/state/api/appMarketplace/appMarketplace.ts
  portal/code/cx-portal/src/state/api/index.ts
  portal/code/cx-portal/src/state/features/appMarketplace/appMarketplaceActions.ts
  portal/code/cx-portal/src/state/features/appMarketplace/appMarketplaceSlice.ts
  portal/code/cx-portal/src/state/features/reducer.ts
  portal/code/cx-portal/src/state/features/user/userSlice.ts
  portal/code/cx-portal/src/types/MainTypes.ts
  portal/code/cx-portal/src/types/appMarketplace/AppMarketplaceTypes.ts
  portal/code/cx-portal/src/utils/multiMapBy.test.ts
  portal/code/cx-portal/src/utils/multiMapBy.ts
Due: azure-pipelines-2.yml

code formatting
  portal/code/cx-portal-shared-components/src/components/basic/Checkbox/Checkbox.stories.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Checkbox/index.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Radio/Radio.stories.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Radio/index.tsx
  portal/code/cx-portal/.gitignore
  portal/code/cx-portal/public/third-party-licenses.txt
  portal/code/cx-portal/src/assets/locales/de/main.json
  portal/code/cx-portal/src/assets/locales/en/main.json
  portal/code/cx-portal/src/components/shared/content/ProvisionIdentityProviderForm/ProvisionIdentityProviderForm.stories.tsx
  portal/code/cx-portal/src/components/shared/content/ProvisionIdentityProviderForm/index.tsx
  portal/code/cx-portal/src/types/provisioning/ProvisioningTypes.ts
Due: azure-pipelines-2.yml

registration submission
  portal/code/company-portal/src/components/cax-companyData.tsx
  portal/code/company-portal/src/components/cax-companyRole.tsx
  portal/code/company-portal/src/components/cax-header.tsx
  portal/code/company-portal/src/components/cax-registration.tsx
  portal/code/company-portal/src/components/cax-responsibilities.tsx
  portal/code/company-portal/src/components/certificate.tsx
  portal/code/company-portal/src/components/dragdrop.tsx
  portal/code/company-portal/src/components/finish.tsx
  portal/code/company-portal/src/components/footer.tsx
  portal/code/company-portal/src/components/footerButton.tsx
  portal/code/company-portal/src/components/footerHeadline.tsx
  portal/code/company-portal/src/components/landing.tsx
  portal/code/company-portal/src/components/verifyRegistration.tsx
  portal/code/company-portal/src/helpers/utils.ts
  portal/code/company-portal/src/locales/de/translations.json
  portal/code/company-portal/src/locales/en/translations.json
Due: azure-pipelines-2.yml

CPLP-362: applied StringEnumConverter for Swagger
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/CatenaX.NetworkServices.Registration.Service.csproj
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Startup.cs
Due: azure-pipelines.yml

CPLP-362: changed to ApplicationStatus enum and ApplicationId Guid
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Model/CompanyApplication.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/RegistrationAccess/IRegistrationDBAccess.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/RegistrationAccess/RegistrationDBAccess.cs
Due: azure-pipelines.yml

CPLP-303: Add toolbar to basic table
  portal/code/cx-portal-shared-components/src/components/basic/Button/index.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Table/components/Toolbar/helper.test.ts
  portal/code/cx-portal-shared-components/src/components/basic/Table/components/Toolbar/helper.ts
  portal/code/cx-portal-shared-components/src/components/basic/Table/components/Toolbar/index.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Table/index.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Table/table.stories.tsx
  portal/code/cx-portal-shared-components/src/components/index.tsx
  portal/code/cx-portal-shared-components/src/theme.ts
Due: azure-pipelines-2.yml

CPLP-303: Remove unused i18n
  portal/code/cx-portal/src/components/pages/UserManagement/index.tsx
Due: azure-pipelines-2.yml

CPLP-303: Implement table on user management page
  portal/code/cx-portal-shared-components/package.json
  portal/code/cx-portal-shared-components/src/components/basic/Table/components/Toolbar/index.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Table/index.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Table/table.stories.tsx
  portal/code/cx-portal/package.json
  portal/code/cx-portal/src/assets/locales/de/main.json
  portal/code/cx-portal/src/assets/locales/en/main.json
  portal/code/cx-portal/src/components/Main.scss
  portal/code/cx-portal/src/components/pages/PartnerNetwork/index.tsx
  portal/code/cx-portal/src/components/pages/UserManagement/ActiveUserTable/index.tsx
  portal/code/cx-portal/src/components/pages/UserManagement/index.tsx
  portal/code/yarn.lock
Due: azure-pipelines-2.yml

CPLP-303: Rebase
  portal/code/yarn.lock
Due: azure-pipelines-2.yml

CPLP-362: changed ApplicationStatus enum to all-uppercase
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Model/CompanyApplication.cs
Due: azure-pipelines.yml

fixed storybook build
  .github/workflows/portal-ng.yml
  portal/code/cx-portal-shared-components/package.json
Due: azure-pipelines-2.yml, azure-pipelines.yml

fixed storybook build
  .github/workflows/portal-ng.yml
Due: azure-pipelines.yml

Fix types, change Tabs-Content, add vars for i18n
  portal/code/cx-portal-shared-components/src/components/basic/CustomIcons/FileIcon.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Tabs/TabPanel.tsx
  portal/code/cx-portal/src/assets/locales/de/main.json
  portal/code/cx-portal/src/assets/locales/en/main.json
  portal/code/cx-portal/src/components/pages/UserManagement/AddUserOverlay/MultipleUserContent.tsx
  portal/code/cx-portal/src/components/pages/UserManagement/AddUserOverlay/SingleUserContent.tsx
  portal/code/cx-portal/src/components/pages/UserManagement/AddUserOverlay/UserRoles.tsx
  portal/code/cx-portal/src/components/pages/UserManagement/AddUserOverlay/index.tsx
  portal/code/cx-portal/src/components/pages/UserManagement/index.tsx
  portal/code/cx-portal/src/services/AccessService.tsx
Due: azure-pipelines-2.yml

use new portal image in k8s manifest
  infrastructure/manifests/portal.yaml
Due: azure-pipelines.yml

switch github actions
  .github/workflows/portal-ng.yml
  .github/workflows/portal.yml
Due: azure-pipelines.yml

Update "Add User" (FE)
  portal/code/company-portal/src/components/button.tsx
  portal/code/company-portal/src/components/cax-responsibilities.tsx
  portal/code/company-portal/src/locales/en/translations.json
  portal/code/company-portal/src/styles/newApp.css
Due: azure-pipelines-2.yml

translation for button
  portal/code/company-portal/src/components/cax-responsibilities.tsx
  portal/code/company-portal/src/locales/en/translations.json
Due: azure-pipelines-2.yml

fixed working directories
  .github/workflows/portal-ng.yml
Due: azure-pipelines.yml

added k8s login
  .github/workflows/portal.yml
Due: azure-pipelines.yml

CPLP-617: Implement app cards on user management page
  portal/code/cx-portal-shared-components/src/components/content/AppCards/AppCard.tsx
  portal/code/cx-portal-shared-components/src/components/content/AppCards/AppCardButtons.tsx
  portal/code/cx-portal-shared-components/src/components/content/AppCards/AppCards.stories.tsx
  portal/code/cx-portal-shared-components/src/components/content/AppCards/index.tsx
  portal/code/cx-portal/src/assets/locales/de/main.json
  portal/code/cx-portal/src/assets/locales/en/main.json
  portal/code/cx-portal/src/components/pages/UserManagement/ActiveUserTable/index.tsx
  portal/code/cx-portal/src/components/pages/UserManagement/AppArea/index.tsx
  portal/code/cx-portal/src/components/pages/UserManagement/index.tsx
Due: azure-pipelines-2.yml

added rollout step and updated readmes
  .github/workflows/portal.yml
  portal/code/README.md
  portal/code/cx-portal/README.md
Due: azure-pipelines-2.yml, azure-pipelines.yml

review comment changes
  portal/code/company-portal/src/components/cax-responsibilities.tsx
Due: azure-pipelines-2.yml

CPLP-362 adaption registration schema
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.DBAccess/Model/Sequence.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.DBAccess/ProvisioningDBAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/ClientManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/IdentityProviderManager.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/appsettings.json
Due: azure-pipelines.yml

CPLP-362: adjust BPN and IdpAlias lookup to new db-model"
  coreservices/CatenaX.NetworkServices.sln
  coreservices/portalbackend/src/CatenaX.NetworkServices.PortalBackend.DBAccess/CatenaX.NetworkServices.PortalBackend.DBAccess.csproj
  coreservices/portalbackend/src/CatenaX.NetworkServices.PortalBackend.DBAccess/IPortalBackendDBAccess.cs
  coreservices/portalbackend/src/CatenaX.NetworkServices.PortalBackend.DBAccess/PortalBackendDBAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.DBAccess/IProvisioningDBAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.DBAccess/ProvisioningDBAccess.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/BusinessLogic/UserAdministrationBusinessLogic.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/CatenaX.NetworkServices.UserAdministration.Service.csproj
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/Startup.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/appsettings.json
Due: azure-pipelines.yml

CPLP-362: require https-metadata for authentication
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/appsettings.json
Due: azure-pipelines.yml

Rename email template to match Path value in EmailTemplateType
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/CatenaX.NetworkServices.Mailing.Template.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.Template/EmailTemplates/additional_user_invitation.html
Due: azure-pipelines.yml

fix to call addrolecomposite only once
  portal/code/company-portal/src/components/cax-header.tsx
Due: azure-pipelines-2.yml
