Repository ntruchsess/tractusx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-5.yml, azure-pipelines.yml

azure-pipelines-2.yml:

# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'portal/*'

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  imageRepository: 'portal'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  imagePullSecret: 'catenaxdevacr-auth'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        containerRegistry: catenaxdevacr
        repository: portal
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/portal/code/tractus-x-portal/Dockerfile'
        tags: |
          $(tag)

azure-pipelines-5.yml:

# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'partsmasterdata/*'

resources:
- repo: self

variables:

  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '553abab0-5db0-4932-aaaf-25147ed09cf7'
  imageRepository: 'partsmasterdata'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  dockerfilePath: 'partsmasterdata/Dockerfile'
  tag: '$(Build.BuildId)'
  imagePullSecret: 'catenaxdevacr12483f45-auth'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'


stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: './partsmasterdata/pom.xml'
        publishJUnitResults: false
        javaHomeOption: JDKVersion
        jdkVersionOption: '1.11'
        mavenVersionOption: Default
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false
    - task: Docker@2
      inputs:
        command: 'buildAndPush'
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)

azure-pipelines.yml:

# Build numbering format
name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - 'connectordns/*'
      - 'gpm/*'
      - 'kmuuploadapp/*'
      - 'partsmasterdata/*'
      - 'portal/*'
      - 'terraform/*'

pool:
  vmImage: 'ubuntu-latest'

steps:
  - script: |
      echo "Hello from root folder pipeline."

Changed driver config
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/controllers/UploadAppAdapterController.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/dal/DbAccess.java
Due: azure-pipelines.yml

Changed driver config
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/dal/DbAccess.java
Due: azure-pipelines.yml

Update decision-log.md
  documentation/architecture/decision-log.md
Due: azure-pipelines.yml

Changed scope of org.postgresql
  uploadAppAdapter/pom.xml
Due: azure-pipelines.yml

Change copyright
  portal/code/tractus-x-portal/src/App.tsx
  portal/code/tractus-x-portal/src/components/adduser.tsx
  portal/code/tractus-x-portal/src/components/alertdialog.tsx
  portal/code/tractus-x-portal/src/components/appcard.tsx
  portal/code/tractus-x-portal/src/components/appdetail.tsx
  portal/code/tractus-x-portal/src/components/apps/dataupload.tsx
  portal/code/tractus-x-portal/src/components/apps/dataupload2.tsx
  portal/code/tractus-x-portal/src/components/appstore.tsx
  portal/code/tractus-x-portal/src/components/connectorcard.tsx
  portal/code/tractus-x-portal/src/components/dashboard.tsx
  portal/code/tractus-x-portal/src/components/datacatalog.tsx
  portal/code/tractus-x-portal/src/components/developerhub.tsx
  portal/code/tractus-x-portal/src/components/header.tsx
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/components/myconnectors.tsx
  portal/code/tractus-x-portal/src/components/mydata.tsx
  portal/code/tractus-x-portal/src/components/mydataoverview.tsx
  portal/code/tractus-x-portal/src/components/notimplemented.tsx
  portal/code/tractus-x-portal/src/components/orgbankdata.tsx
  portal/code/tractus-x-portal/src/components/orgcontactdata.tsx
  portal/code/tractus-x-portal/src/components/orgdetails.tsx
  portal/code/tractus-x-portal/src/components/orggeneralinfo.tsx
  portal/code/tractus-x-portal/src/components/ratings.tsx
  portal/code/tractus-x-portal/src/components/reg.tsx
  portal/code/tractus-x-portal/src/components/setupconnector.tsx
  portal/code/tractus-x-portal/src/components/uploadbutton.tsx
  portal/code/tractus-x-portal/src/components/usermanagement.tsx
  portal/code/tractus-x-portal/src/components/vocabulary.tsx
  portal/code/tractus-x-portal/src/data/application.ts
  portal/code/tractus-x-portal/src/data/connector.ts
  portal/code/tractus-x-portal/src/data/uploadfile.ts
  portal/code/tractus-x-portal/src/data/user.ts
  portal/code/tractus-x-portal/src/helpers/adalConfig.ts
  portal/code/tractus-x-portal/src/helpers/utils.ts
  portal/code/tractus-x-portal/src/index.tsx
  portal/code/tractus-x-portal/src/stores/appstate.ts
  portal/code/tractus-x-portal/src/stores/connectors.ts
Due: azure-pipelines-2.yml

Cleanup
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/dal/DbAccess.java
Due: azure-pipelines.yml

changed response
  coreservices/connectordns/src/main/java/org/eclipse/tractusx/cdns/controllers/tablestorage/ConnectorDNSRecord.java
  coreservices/connectordns/src/main/java/org/eclipse/tractusx/cdns/controllers/tablestorage/OneIdDNSMapping.java
  coreservices/connectordns/src/main/java/org/eclipse/tractusx/cdns/controllers/tablestorage/TableStroageAccess.java
Due: azure-pipelines.yml

Initial partsmaster
  .idea/compiler.xml
  .idea/encodings.xml
  .idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_48.xml
  .idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_48.xml
  .idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_48.xml
  .idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_31.xml
  .idea/libraries/Maven__org_slf4j_slf4j_api_1_7_31.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_devtools_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_5_2.xml
  .idea/libraries/Maven__org_springframework_security_spring_security_config_5_5_1.xml
  .idea/libraries/Maven__org_springframework_security_spring_security_core_5_5_1.xml
  .idea/libraries/Maven__org_springframework_security_spring_security_crypto_5_5_1.xml
  .idea/modules.xml
  partsmasterdata/.gitignore
  partsmasterdata/.mvn/wrapper/MavenWrapperDownloader.java
  partsmasterdata/.mvn/wrapper/maven-wrapper.jar
  partsmasterdata/.mvn/wrapper/maven-wrapper.properties
  partsmasterdata/mvnw
  partsmasterdata/mvnw.cmd
  partsmasterdata/partsmasterdata.iml
  partsmasterdata/pom.xml
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/PartsmasterdataApplication.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/config/SecurityConfig.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/config/SecurityConfiguration.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/controllers/PartsMasterAppController.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/dal/DbConfiguration.java
  partsmasterdata/src/main/resources/application.properties
  partsmasterdata/src/test/java/com/tractusx/partsmasterdata/PartsmasterdataApplicationTests.java
Due: azure-pipelines-5.yml, azure-pipelines.yml

Changed partner in partsmaster and uploadadapter
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/models/AlertLevel.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/models/PartIndividualData.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/models/PartMasterData.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/models/PartPartTree.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/models/PartQualityAlert.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/models/PartStaticData.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/models/PartSupplyTree.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/models/PartUniqueData.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/dal/DbAccess.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/models/PartIndividualData.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/models/PartPartTree.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/models/PartPartTreeParent.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/models/PartStaticData.java
Due: azure-pipelines-5.yml, azure-pipelines.yml

db components
  .idea/compiler.xml
  .idea/misc.xml
  PartsMasterDataService/.gitignore
  PartsMasterDataService/.mvn/wrapper/MavenWrapperDownloader.java
  PartsMasterDataService/.mvn/wrapper/maven-wrapper.jar
  PartsMasterDataService/.mvn/wrapper/maven-wrapper.properties
  PartsMasterDataService/mvnw
  PartsMasterDataService/mvnw.cmd
  PartsMasterDataService/pom.xml
  PartsMasterDataService/src/main/java/com/traktusx/partsmasterdataservice/PartsMasterDataServiceApplication.java
  PartsMasterDataService/src/main/resources/application.properties
  PartsMasterDataService/src/test/java/com/traktusx/partsmasterdataservice/PartsMasterDataServiceApplicationTests.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/dal/DbAccess.java
  partsmasterdata/src/main/resources/application.properties
  partsmasterdata/src/main/resources/schema.sql
Due: azure-pipelines-5.yml, azure-pipelines.yml

interim create PartsMasterDataServiceApplication
  .idea/compiler.xml
  .idea/encodings.xml
  .idea/misc.xml
  .idea/modules.xml
  PartsMasterDataService/.gitignore
  PartsMasterDataService/.mvn/wrapper/MavenWrapperDownloader.java
  PartsMasterDataService/.mvn/wrapper/maven-wrapper.jar
  PartsMasterDataService/.mvn/wrapper/maven-wrapper.properties
  PartsMasterDataService/mvnw
  PartsMasterDataService/mvnw.cmd
  PartsMasterDataService/pom.xml
  PartsMasterDataService/src/main/java/com/traktusx/partsmasterdataservice/PartsMasterDataServiceApplication.java
  PartsMasterDataService/src/main/resources/application.properties
  PartsMasterDataService/src/test/java/com/traktusx/partsmasterdataservice/PartsMasterDataServiceApplicationTests.java
Due: azure-pipelines.yml

module setup
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/controllers/PartsMasterAppController.java
Due: azure-pipelines-5.yml

Add k8s config for simplescheduler
  coreservices/simplescheduler/Dockerfile
  coreservices/simplescheduler/src/main/java/com/tsystems/simplescheduler/property/ResourcesProperties.java
  coreservices/simplescheduler/src/main/java/com/tsystems/simplescheduler/service/SchedulerService.java
  coreservices/simplescheduler/src/main/resources/application.yml
  infrastructure/manifests/simplescheduler.yml
  infrastructure/pipelines/azure-pipelines-6.yml
Due: azure-pipelines.yml

Change copyright
  portal/code/tractus-x-portal/src/App.test.tsx
  portal/code/tractus-x-portal/src/App.tsx
  portal/code/tractus-x-portal/src/components/adduser.tsx
  portal/code/tractus-x-portal/src/components/alertdialog.tsx
  portal/code/tractus-x-portal/src/components/appcard.tsx
  portal/code/tractus-x-portal/src/components/appdetail.tsx
  portal/code/tractus-x-portal/src/components/apps/dataupload.tsx
  portal/code/tractus-x-portal/src/components/apps/dataupload2.tsx
  portal/code/tractus-x-portal/src/components/appstore.tsx
  portal/code/tractus-x-portal/src/components/connectorcard.tsx
  portal/code/tractus-x-portal/src/components/dashboard.tsx
  portal/code/tractus-x-portal/src/components/datacatalog.tsx
  portal/code/tractus-x-portal/src/components/developerhub.tsx
  portal/code/tractus-x-portal/src/components/header.tsx
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/components/myconnectors.tsx
  portal/code/tractus-x-portal/src/components/mydata.tsx
  portal/code/tractus-x-portal/src/components/mydataoverview.tsx
  portal/code/tractus-x-portal/src/components/notimplemented.tsx
  portal/code/tractus-x-portal/src/components/orgbankdata.tsx
  portal/code/tractus-x-portal/src/components/orgcontactdata.tsx
  portal/code/tractus-x-portal/src/components/orgdetails.tsx
  portal/code/tractus-x-portal/src/components/orggeneralinfo.tsx
  portal/code/tractus-x-portal/src/components/ratings.tsx
  portal/code/tractus-x-portal/src/components/reg.tsx
  portal/code/tractus-x-portal/src/components/setupconnector.tsx
  portal/code/tractus-x-portal/src/components/uploadbutton.tsx
  portal/code/tractus-x-portal/src/components/usermanagement.tsx
  portal/code/tractus-x-portal/src/components/vocabulary.tsx
  portal/code/tractus-x-portal/src/data/application.ts
  portal/code/tractus-x-portal/src/data/connector.ts
  portal/code/tractus-x-portal/src/data/uploadfile.ts
  portal/code/tractus-x-portal/src/data/user.ts
  portal/code/tractus-x-portal/src/helpers/adalConfig.ts
  portal/code/tractus-x-portal/src/helpers/utils.ts
  portal/code/tractus-x-portal/src/index.tsx
  portal/code/tractus-x-portal/src/setupTests.ts
  portal/code/tractus-x-portal/src/stores/appstate.ts
  portal/code/tractus-x-portal/src/stores/connectors.ts
Due: azure-pipelines-2.yml

Registration
  portal/code/tractus-x-portal/public/registerbackground.png
  portal/code/tractus-x-portal/public/registrationdone.png
  portal/code/tractus-x-portal/src/App.css
  portal/code/tractus-x-portal/src/App.tsx
  portal/code/tractus-x-portal/src/components/registration/register.tsx
  portal/code/tractus-x-portal/src/components/registration/registertemplate.tsx
  portal/code/tractus-x-portal/src/components/registration/verifycompany.tsx
  portal/code/tractus-x-portal/src/data/accountdetail.ts
  portal/code/tractus-x-portal/src/registerbackground.png
Due: azure-pipelines-2.yml

Update cdns-ingress.yaml
  infrastructure/manifests/cdns-ingress.yaml
Due: azure-pipelines.yml

Update cdns.yaml
  infrastructure/manifests/cdns.yaml
Due: azure-pipelines.yml

Update azure-pipelines-connectordns.yml for Azure Pipelines
  infrastructure/pipelines/azure-pipelines-connectordns.yml
Due: azure-pipelines.yml

Call upload API
  portal/code/tractus-x-portal/src/App.css
  portal/code/tractus-x-portal/src/components/apps/dataupload2.tsx
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/helpers/utils.ts
Due: azure-pipelines-2.yml

added basic auth
  coreservices/connectordns/.gitignore
  coreservices/connectordns/cdns.iml
  coreservices/connectordns/pom.xml
  coreservices/connectordns/src/main/java/org/eclipse/tractusx/cdns/controllers/security/SecurityConfig.java
  coreservices/connectordns/src/main/java/org/eclipse/tractusx/cdns/controllers/security/SecurityConfiguration.java
  coreservices/connectordns/src/main/resources/application.properties
Due: azure-pipelines.yml

changed partsmasterdata manifests
  infrastructure/manifests/partsmasterdata-ingress.yaml
  infrastructure/manifests/partsmasterdata.yaml
Due: azure-pipelines.yml

Update partsmasterdata.yaml
  infrastructure/manifests/partsmasterdata.yaml
Due: azure-pipelines.yml

db schema
  coreservices/partsmasterdata/src/main/resources/schema.sql
Due: azure-pipelines.yml

Update azure-pipelines-5.yml for Azure Pipelines
  infrastructure/pipelines/azure-pipelines-5.yml
Due: azure-pipelines.yml

Added db methods
  .idea/dataSources.xml
  .idea/encodings.xml
  coreservices/partsmasterdata/src/main/java/com/tractusx/partsmasterdata/controllers/partmasterdatacontroller.java
  coreservices/partsmasterdata/src/main/java/com/tractusx/partsmasterdata/dal/DbAccess.java
  coreservices/partsmasterdata/src/main/java/com/tractusx/partsmasterdata/models/DbPartMasterData.java
Due: azure-pipelines.yml

implemented basic auth for getpartsmaster data and oauth for the other endpoints
  uploadAppAdapter/pom.xml
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/config/AADOAuth2ResourceServerSecurityConfig.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/config/SecurityConfig.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/controllers/UploadAppAdapterController.java
  uploadAppAdapter/src/main/resources/application.properties
Due: azure-pipelines.yml

move upload app to core services
  coreservices/kmuuploadapp/.gitignore
  coreservices/kmuuploadapp/.mvn/wrapper/MavenWrapperDownloader.java
  coreservices/kmuuploadapp/.mvn/wrapper/maven-wrapper.jar
  coreservices/kmuuploadapp/.mvn/wrapper/maven-wrapper.properties
  coreservices/kmuuploadapp/Dockerfile
  coreservices/kmuuploadapp/README.md
  coreservices/kmuuploadapp/mvnw
  coreservices/kmuuploadapp/mvnw.cmd
  coreservices/kmuuploadapp/pom.xml
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/UploadAppAdapterApplication.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/config/AADOAuth2ResourceServerSecurityConfig.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/config/SecurityConfig.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/config/SecurityConfiguration.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/controllers/UploadAppAdapterController.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/dal/BlobStorageAccess.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/dal/BlobStorageConfiguration.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/dal/ComputeFile.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/dal/DbAccess.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/dal/DbConfiguration.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/models/AlertLevel.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/models/CsvPart.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/models/PartIndividualData.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/models/PartMasterData.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/models/PartPartTree.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/models/PartQualityAlert.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/models/PartStaticData.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/models/PartSupplyTree.java
  coreservices/kmuuploadapp/src/main/java/com/tractusx/uploadappadapter/models/PartUniqueData.java
  coreservices/kmuuploadapp/src/main/resources/application.properties
  coreservices/kmuuploadapp/src/main/resources/schema.sql
  coreservices/kmuuploadapp/src/test/java/com/tractusx/uploadappadapter/UploadAppAdapterApplicationTests.java
Due: azure-pipelines.yml

Update uploadapp.yaml
  infrastructure/manifests/uploadapp.yaml
Due: azure-pipelines.yml

Update file-upload-pipeline.yml for Azure Pipelines
  file-upload-pipeline.yml
Due: azure-pipelines.yml
