Repository ntruchsess/tractusx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-5.yml, azure-pipelines.yml

azure-pipelines-2.yml:

# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'portal/*'

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  imageRepository: 'portal'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  imagePullSecret: 'catenaxdevacr-auth'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        containerRegistry: catenaxdevacr
        repository: portal
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/portal/code/tractus-x-portal/Dockerfile'
        tags: |
          $(tag)

azure-pipelines-5.yml:

# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'partsmasterdata/*'

resources:
- repo: self

variables:

  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '553abab0-5db0-4932-aaaf-25147ed09cf7'
  imageRepository: 'partsmasterdata'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  dockerfilePath: 'partsmasterdata/Dockerfile'
  tag: '$(Build.BuildId)'
  imagePullSecret: 'catenaxdevacr12483f45-auth'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'


stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: './partsmasterdata/pom.xml'
        publishJUnitResults: false
        javaHomeOption: JDKVersion
        jdkVersionOption: '1.11'
        mavenVersionOption: Default
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false
    - task: Docker@2
      inputs:
        command: 'buildAndPush'
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)

azure-pipelines.yml:

# Build numbering format
name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - 'connectordns/*'
      - 'gpm/*'
      - 'kmuuploadapp/*'
      - 'partsmasterdata/*'
      - 'portal/*'
      - 'terraform/*'

pool:
  vmImage: 'ubuntu-latest'

steps:
  - script: |
      echo "Hello from root folder pipeline."

Adjust column length of endpoint url and local identifier (#181)
  semantics/src/main/java/net/catenax/semantics/registry/persistence/model/AspectEntity.java
  semantics/src/main/java/net/catenax/semantics/registry/persistence/model/HttpEndpointEntity.java
  semantics/src/main/java/net/catenax/semantics/registry/persistence/model/LocalIdentifierEntity.java
  semantics/src/main/java/net/catenax/semantics/registry/persistence/model/TwinEntity.java
Due: azure-pipelines.yml

Feature/cax 1 prs@Increased readiness liveness failure threshold of PRS API (#185)
  coreservices/partsrelationshipservice/helm/prs/templates/deployment.yaml
Due: azure-pipelines.yml

Integrate Catena-X styling for model documentation (#183)
  semantics/src/main/java/net/catenax/semantics/hub/bamm/BammHelper.java
  semantics/src/main/resources/catena-template.css
Due: azure-pipelines.yml

Forgot to resolve a single conflict. (#188)
  semantics/src/main/resources/application.yml
Due: azure-pipelines.yml

Implement small findings for Digital Twin Registry and Semantic Hub UI (#191)
  portal/code/tractus-x-portal/src/components/digitaltwins/digitaltwindetail.tsx
  portal/code/tractus-x-portal/src/components/digitaltwins/digitaltwins.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticModelDetail.tsx
  portal/code/tractus-x-portal/src/components/semantics/data.ts
Due: azure-pipelines-2.yml

https://tractus-x.slack.com/archives/C021D8TE6DQ/p1634310413031100 Wrongly readded deleted file through squash-merge effect. (#190)
  coreservices/partsrelationshipservice/broker-proxy-integration-tests/src/test/java/net/catenax/brokerProxy/BrokerProxyMother.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/annotations/ExcludeFromCodeCoverageGeneratedReport.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/annotations/ValueOfEnum.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/requests/PartAspectUpdateRequest.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/requests/PartAttributeUpdateRequest.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/requests/PartRelationshipUpdate.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/requests/PartRelationshipUpdateRequest.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/validators/ValueOfEnumValidator.java
  coreservices/partsrelationshipservice/broker-proxy/src/test/java/net/catenax/brokerproxy/requests/RequestMother.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/annotations/ExcludeFromCodeCoverageGeneratedReport.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/annotations/ValueOfEnum.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/mappers/PartAspectUpdateEventToEntityMapper.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/mappers/PartAttributeUpdateEventToEntityMapper.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/mappers/PartRelationshipUpdateEventToEntityMapper.java
  coreservices/partsrelationshipservice/prs-api/src/test/java/net/catenax/prs/mappers/PartAspectUpdateEventToEntityMapperTests.java
  coreservices/partsrelationshipservice/prs-api/src/test/java/net/catenax/prs/mappers/PartAttributeUpdateEventToEntityMapperTests.java
  coreservices/partsrelationshipservice/prs-api/src/test/java/net/catenax/prs/mappers/PartRelationshipUpdateEventToEntityMapperTests.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/com/catenax/partsrelationshipservice/dtos/messaging/EventCategory.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/com/catenax/partsrelationshipservice/dtos/messaging/PartAspectUpdateEvent.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/com/catenax/partsrelationshipservice/dtos/messaging/PartAttributeUpdateEvent.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/com/catenax/partsrelationshipservice/dtos/messaging/PartRelationshipUpdateEvent.java
  coreservices/partsrelationshipservice/prs-testing/src/main/java/net/catenax/prs/testing/PartUpdateEventMother.java
  coreservices/partsrelationshipservice/terraform/environments/dev.tfvars
  coreservices/partsrelationshipservice/terraform/environments/int.tfvars
Due: azure-pipelines.yml

Hardcoded pages size too small (#192)
  semantics/src/main/java/net/catenax/semantics/registry/persistence/RelationalDBPersistence.java
Due: azure-pipelines.yml

fixed workflow file
  .github/workflows/GitHub_Actions_Connector_Helmchart.yml
Due: azure-pipelines.yml

changed workflow file
  .github/workflows/GitHub_Actions_Connector_Helmchart.yml
Due: azure-pipelines.yml

fixed gitignore
  .gitignore
  portal/code/tractus-x-portal/.gitignore
Due: azure-pipelines-2.yml, azure-pipelines.yml

Fix for test which fails due to different line endings on windows and linux systems (#194)
  coreservices/partsrelationshipservice/broker-proxy/src/test/java/net/catenax/brokerproxy/BrokerProxyApplicationTest.java
  coreservices/partsrelationshipservice/prs-api/src/test/java/net/catenax/prs/PrsApplicationTests.java
Due: azure-pipelines.yml

added swagger
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CatenaX.NetworkServices.Onboarding.Service.csproj
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Startup.cs
Due: azure-pipelines.yml

PRS 270 add prometheus endpoint (#186)
  coreservices/partsrelationshipservice/README.md
  coreservices/partsrelationshipservice/broker-proxy/pom.xml
  coreservices/partsrelationshipservice/broker-proxy/src/main/resources/application.yml
  coreservices/partsrelationshipservice/dev/prometheus/prometheus.yml
  coreservices/partsrelationshipservice/docker-compose.yml
  coreservices/partsrelationshipservice/prs-api/pom.xml
  coreservices/partsrelationshipservice/prs-api/src/main/resources/application.yml
  coreservices/partsrelationshipservice/prs-parent/pom.xml
Due: azure-pipelines.yml

EffectTime validation (#196)
  coreservices/partsrelationshipservice/broker-proxy-integration-tests/src/test/java/net/catenax/brokerProxy/BrokerProxyIntegrationTestBase.java
  coreservices/partsrelationshipservice/broker-proxy-integration-tests/src/test/java/net/catenax/brokerProxy/UpdatePartAspectTest.java
  coreservices/partsrelationshipservice/broker-proxy-integration-tests/src/test/java/net/catenax/brokerProxy/UpdatePartRelationshipTest.java
  coreservices/partsrelationshipservice/broker-proxy-integration-tests/src/test/java/net/catenax/brokerProxy/UpdatePartsAttributesTest.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/net/catenax/prs/dtos/events/PartAspectsUpdateRequest.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/net/catenax/prs/dtos/events/PartAttributeUpdateRequest.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/net/catenax/prs/dtos/events/PartRelationshipUpdate.java
Due: azure-pipelines.yml

added missing endpoints
  coreservices/CatenaX.NetworkServices.sln
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Identity/KeycloakIdentityManager.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/InvitationBusinessLogic.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Startup.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/CatenaX.NetworkServices.Mailing.SendMail.csproj
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/IMailingService.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/MailingService.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/IOnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CatenaX.NetworkServices.Onboarding.Service.csproj
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Controllers/OnboardingController.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Model/SetIdp.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/OnboardingAccess/IOnboardingDBAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/OnboardingAccess/OnboardingDBAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Startup.cs
  sqls/create tables and functions.sql
Due: azure-pipelines.yml

initial implementation of provisioning service
  coreservices/CatenaX.NetworkServices.sln
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/CatenaX.NetworkServices.Provisioning.ActiveDirectory.csproj
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/ClientSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/ClientToken.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/Federation.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/FederationSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/IClientToken.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/IFederation.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/Model/SamlOrWsFedExternalDomainFederation.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/Model/Token.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/CatenaX.NetworkServices.Provisioning.Keycloak.csproj
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/IKeycloakAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/IKeycloakFactory.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/KeycloakAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/KeycloakFactory.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/KeycloakSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Mail/CatenaX.NetworkServices.Provisioning.Mail.csproj
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Mail/IUserEmail.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Mail/UserEmail.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Mail/UserEmailSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/IProvisioningService.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/ProvisioningService.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/CatenaX.NetworkServices.Provisioning.Service.csproj
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Controllers/ProvisioningController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Program.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Properties/launchSettings.json
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Startup.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/appsettings.Development.json
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/appsettings.json
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/CatenaX.NetworkServices.Provisioning.ServiceTest.csproj
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/EmailController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/FederationController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/GetTokenController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/KeycloakController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Program.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Properties/launchSettings.json
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Startup.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/appsettings.Development.json
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/appsettings.json
Due: azure-pipelines.yml

added dockerfile for provisioning
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Dockerfile
Due: azure-pipelines.yml

added csproj changes
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/CatenaX.NetworkServices.Provisioning.Service.csproj
Due: azure-pipelines.yml

added company registration
  portal/code/company-portal/src/App.tsx
  portal/code/company-portal/src/components/registration.tsx
  portal/code/company-portal/src/components/responsibilities.tsx
Due: azure-pipelines-2.yml

removed unused files
  portal/code/company-portal/src/components/lists/descriptionlist.tsx
  portal/code/company-portal/src/components/navigation/backlink.tsx
Due: azure-pipelines-2.yml

added logic for correct rights
  coreservices/CatenaX.NetworkServices.sln
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Identity/IIdentityManager.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Identity/KeycloakIdentityManager.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/InvitationBusinessLogic.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Controllers/InvitationController.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/appsettings.json
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/IMailingService.cs
  coreservices/mailing/src/CatenaX.NetworkServices.Mailing.SendMail/MailingService.cs
  coreservices/mockup/src/CatenaX.NetworkServices.Mockups/QueryCompany.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/OnboardingAccess/IOnboardingDBAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/appsettings.json
Due: azure-pipelines.yml

renaming
  coreservices/invitation/test/CatenaX.NetworkServices.Onboarding.Service.Tests/CatenaX.NetworkServices.Invitation.Service.Tests.csproj
  coreservices/invitation/test/CatenaX.NetworkServices.Onboarding.Service.Tests/InvitationControllerTest.cs
Due: azure-pipelines.yml

PRS dev deploment timing out (#199)
  coreservices/partsrelationshipservice/helm/prs/templates/deployment.yaml
Due: azure-pipelines.yml

use realm from query parameter
  portal/code/company-portal/public/keycloak.json
  portal/code/company-portal/src/helpers/UserService.js
Due: azure-pipelines-2.yml

Merge speedboat release branch into main (#198)
  coreservices/partsrelationshipservice/cd/test-data/README.md
  coreservices/partsrelationshipservice/cd/test-data/dev/aspect_urls_by_oneidmanufacturer.json
  coreservices/partsrelationshipservice/cd/test-data/int/PartAspectUpdate.json
  coreservices/partsrelationshipservice/cd/test-data/int/PartRelationshipUpdateList.json
  coreservices/partsrelationshipservice/cd/test-data/int/PartTypeNameUpdate.json
  coreservices/partsrelationshipservice/cd/test-data/int/aspect_urls_by_oneidmanufacturer.json
  coreservices/partsrelationshipservice/cd/update_aspects_url.py
Due: azure-pipelines.yml

add dynamic domains and certificates to provisioningservice
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/ClientSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/ClientToken.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/Federation.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/FederationSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/IFederation.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/IKeycloakAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/KeycloakAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/KeycloakSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/ProvisioningService.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/ProvisioningSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Startup.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/appsettings.json
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/FederationController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/KeycloakController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Startup.cs
Due: azure-pipelines.yml

backend call
  portal/code/company-portal/src/components/companydata.tsx
  portal/code/company-portal/src/data/companyDetails.ts
  portal/code/company-portal/src/helpers/utils.ts
Due: azure-pipelines-2.yml

Disclamer
  portal/code/company-portal/src/components/companydata.tsx
Due: azure-pipelines-2.yml

Backed service call for user role and Company role
  portal/code/company-portal/src/components/companydata.tsx
  portal/code/company-portal/src/components/companyrole.tsx
  portal/code/company-portal/src/components/responsibilities.tsx
  portal/code/company-portal/src/components/termsncondition.tsx
  portal/code/company-portal/src/data/companyDetails.ts
  portal/code/company-portal/src/helpers/UserService.js
  portal/code/company-portal/src/helpers/utils.ts
Due: azure-pipelines-2.yml

Feature/cax 1 prs@271 processor metrics (#189)
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/configuration/MetricsConfiguration.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/services/BrokerProxyService.java
  coreservices/partsrelationshipservice/broker-proxy/src/test/java/net/catenax/brokerproxy/services/BrokerProxyServiceTest.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/configuration/MetricsConfiguration.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/services/EventMessageRouter.java
  coreservices/partsrelationshipservice/prs-api/src/test/java/net/catenax/prs/services/EventMessageRouterTests.java
Due: azure-pipelines.yml

added the correct sql files
  sqls/create tables and functions.sql
Due: azure-pipelines.yml

provisioningservice: get saml signing cert from xml-descriptor
  coreservices/CatenaX.NetworkServices.sln
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ActiveDirectory/Federation.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/CatenaX.NetworkServices.Provisioning.Keycloak.csproj
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/IKeycloakAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/IKeycloakFactory.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/KeycloakAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/KeycloakAccessSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/KeycloakFactory.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Keycloak/Model/EntityDescriptor.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/ProvisioningService.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/ProvisioningSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Startup.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/appsettings.json
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/KeycloakController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Startup.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Utils/CatenaX.NetworkServices.Provisioning.Utils.csproj
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Utils/StringTemplate.cs
Due: azure-pipelines.yml

Update meta-broker-pipeline.yml (#204)
  .github/workflows/meta-broker-pipeline.yml
Due: azure-pipelines.yml

added deleted table creation
  sqls/create tables and functions.sql
Due: azure-pipelines.yml

Update Dockerfile-azure-pipeline (#205)
  meta-broker/Dockerfile-azure-pipeline
Due: azure-pipelines.yml
