Repository ntruchsess/tractusx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-5.yml, azure-pipelines.yml

azure-pipelines-2.yml:
  name: $(BuildID)
  stages:
  - stage: Build
    displayName: Build image
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build an image
        inputs:
          containerRegistry: catenaxdevacr
          repository: portal
  ...

azure-pipelines-5.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Maven@3
        inputs:
          mavenPomFile: ./partsmasterdata/pom.xml
          publishJUnitResults: false
          javaHomeOption: JDKVersion
  ...

azure-pipelines.yml:
  name: $(BuildID)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'echo "Hello from root folder pipeline."
  
      '

https://jira.catena-x.net/browse/A1SLDT-249 Add delete method to semantic hub CORS… (#334)
  connector/deployment.yaml
  infrastructure/manifests/portal.yaml
  infrastructure/manifests/semantics.yaml
  portal/code/tractus-x-portal/src/components/semantics/data.ts
  semantics/adapter/src/main/java/net/catenax/semantics/SemanticsAdapterApp.java
  semantics/services/src/main/java/net/catenax/semantics/SemanticsServicesApplication.java
Due: azure-pipelines-2.yml, azure-pipelines.yml

Added new app card
  portal/code/tractus-x-portal/public/cpm_screenshot3.png
  portal/code/tractus-x-portal/src/helpers/adalConfig.ts
  portal/code/tractus-x-portal/src/stores/appstate.ts
Due: azure-pipelines-2.yml

style change for Admin
  portal/code/tractus-x-portal/src/components/admin.tsx
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/styles/App.css
Due: azure-pipelines-2.yml

react component for admin
  portal/code/tractus-x-portal/src/components/admin.tsx
  portal/code/tractus-x-portal/src/components/adminCard.tsx
  portal/code/tractus-x-portal/src/data/administration.ts
  portal/code/tractus-x-portal/src/stores/adminstate.ts
Due: azure-pipelines-2.yml

provisioning: add cronjob trigger helmchart
  .github/workflows/provisioning-service.yml
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/helmchart/templates/cronjob.yaml
Due: azure-pipelines.yml

Adjusted invite and onboarding workflow file regarding renaming of default branch
  .github/workflows/invitation-service.yml
  .github/workflows/onboarding-service.yml
Due: azure-pipelines.yml

https://jira.catena-x.net/browse/CPLP-308 Adjusted invite and onboarding workflow file of renaming of default branch in onboarding repo
  .github/workflows/invitation-service.yml
  .github/workflows/onboarding-service.yml
Due: azure-pipelines.yml

provisioning: fix trigger of github-action
  .github/workflows/provisioning-service.yml
Due: azure-pipelines.yml

portal not working fix
  portal/code/tractus-x-portal/src/App.tsx
  portal/code/tractus-x-portal/src/components/header.tsx
  portal/code/tractus-x-portal/src/helpers/adalConfig.ts
Due: azure-pipelines-2.yml

Update cert-manager version
  infrastructure/terraform/main.tf
Due: azure-pipelines.yml

added new app
  portal/code/tractus-x-portal/src/stores/appstate.ts
Due: azure-pipelines-2.yml

feature/A1ODT-84 add trivy container scan (#344)
  .github/workflows/container_scan.yml
Due: azure-pipelines.yml

Feature/a1 mtdc@204 squash flyway (#335)
  coreservices/partsrelationshipservice/prs-api/src/main/resources/db/migration/V1_0__part_relationship.sql
  coreservices/partsrelationshipservice/prs-api/src/main/resources/db/migration/V1_10__part_relationship.sql
  coreservices/partsrelationshipservice/prs-api/src/main/resources/db/migration/V1_11__part_attribute.sql
  coreservices/partsrelationshipservice/prs-api/src/main/resources/db/migration/V1_12__part_relationship.sql
  coreservices/partsrelationshipservice/prs-api/src/main/resources/db/migration/V1_1__part_relationship_data.sql
  coreservices/partsrelationshipservice/prs-api/src/main/resources/db/migration/V1_3__part_attribute.sql
  coreservices/partsrelationshipservice/prs-api/src/main/resources/db/migration/V1_4__part_attribute_data.sql
  coreservices/partsrelationshipservice/prs-api/src/main/resources/db/migration/V1_6__part_aspect_data.sql
  coreservices/partsrelationshipservice/prs-api/src/main/resources/db/migration/V1_7__part_relationship_data.sql
  coreservices/partsrelationshipservice/prs-api/src/main/resources/db/migration/V1_8__part_aspect_data.sql
  coreservices/partsrelationshipservice/prs-api/src/main/resources/db/migration/V1_9__part_attribute_data.sql
Due: azure-pipelines.yml

Test: Adjusted portal worklow to work in onboarding tractusx repo
  .github/workflows/portal.yml
Due: azure-pipelines.yml

https://jira.catena-x.net/browse/CPLP-308 Adjusted portal worklow to work in onboarding tractusx repo
  .github/workflows/portal.yml
Due: azure-pipelines.yml

https://jira.catena-x.net/browse/CPLP-308 Adjusted portal workflow to work in onboarding tractusx repo
  .github/workflows/portal.yml
Due: azure-pipelines.yml

Consumer transfer process watchdog (#336)
  coreservices/partsrelationshipservice/Dockerfile
  coreservices/partsrelationshipservice/cd/terraform-connector-consumer/main.tf
  coreservices/partsrelationshipservice/connector/edc-patched-core/README.md
  coreservices/partsrelationshipservice/connector/edc-transfer-process-watchdog/README.md
  coreservices/partsrelationshipservice/connector/edc-transfer-process-watchdog/pom.xml
  coreservices/partsrelationshipservice/connector/edc-transfer-process-watchdog/src/main/java/org/eclipse/dataspaceconnector/transfer/core/TransferProcessWatchdogExtension.java
  coreservices/partsrelationshipservice/connector/edc-transfer-process-watchdog/src/main/java/org/eclipse/dataspaceconnector/transfer/core/transfer/CancelLongRunningProcesses.java
  coreservices/partsrelationshipservice/connector/edc-transfer-process-watchdog/src/main/java/org/eclipse/dataspaceconnector/transfer/core/transfer/TransferProcessWatchdog.java
  coreservices/partsrelationshipservice/connector/edc-transfer-process-watchdog/src/main/resources/META-INF/services/org.eclipse.dataspaceconnector.spi.system.ServiceExtension
  coreservices/partsrelationshipservice/connector/edc-transfer-process-watchdog/src/test/java/org/eclipse/dataspaceconnector/transfer/core/transfer/CancelLongRunningProcessesTest.java
  coreservices/partsrelationshipservice/connector/edc-transfer-process-watchdog/src/test/java/org/eclipse/dataspaceconnector/transfer/core/transfer/TransferProcessWatchdogIntegrationTest.java
  coreservices/partsrelationshipservice/connector/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-parent/pom.xml
Due: azure-pipelines.yml

https://jira.catena-x.net/browse/CPLP-308 Adjusted portal workflow to work in onboarding / tractusx repo
  .github/workflows/portal.yml
Due: azure-pipelines.yml

https://jira.catena-x.net/browse/CPLP-308 Adjusted portal workflow to work in onboarding/tractusx repo
  .github/workflows/portal.yml
Due: azure-pipelines.yml

merging CAX-portal (onboarding fork) into main (#346)
  .github/workflows/portal.yml
  portal/code/tractus-x-portal/src/App.tsx
  portal/code/tractus-x-portal/src/components/header.tsx
  portal/code/tractus-x-portal/src/helpers/adalConfig.ts
  portal/code/tractus-x-portal/src/stores/appstate.ts
Due: azure-pipelines-2.yml, azure-pipelines.yml

removed url
  portal/code/tractus-x-portal/src/stores/appstate.ts
Due: azure-pipelines-2.yml

Update registration-service.yml
  .github/workflows/registration-service.yml
Due: azure-pipelines.yml

Revert "Update registration-service.yml"
  .github/workflows/registration-service.yml
Due: azure-pipelines.yml

Bug/CVE 2021 44228 (#350)
  connector/run_k8.sh
  connector/run_local.sh
  connector/src/main/pom.patch
  semantics/pom.xml
  semantics/services/pom.xml
  semantics/services/src/test/java/net/catenax/semantics/BaseSemanticModelTest.java
Due: azure-pipelines.yml

Feature/catx a1 sldt@a1 sldt 173 (#352)
  portal/code/tractus-x-portal/src/components/semantics/DeleteModel.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticModelDetail.tsx
Due: azure-pipelines-2.yml

registartion company data changes
  portal/code/company-portal/.env
  portal/code/company-portal/src/components/companydata.tsx
  portal/code/company-portal/src/components/header.tsx
Due: azure-pipelines-2.yml

Feature/A1ODT84 (#357)
  .github/workflows/container_scan.yml
Due: azure-pipelines.yml

added logout
  portal/code/company-portal/.env
  portal/code/tractus-x-portal/src/components/header.tsx
Due: azure-pipelines-2.yml

added logout registration app
  portal/code/company-portal/src/components/header.tsx
Due: azure-pipelines-2.yml

Use speedboat environments by default
  .github/workflows/terraform.yml
Due: azure-pipelines.yml

test storage account key
  .github/workflows/terraform.yml
Due: azure-pipelines.yml

Use original storage key
  .github/workflows/terraform.yml
Due: azure-pipelines.yml

Help navigation link implemented help page navigation route implemented Page content filled
  portal/code/tractus-x-portal/src/components/header.tsx
  portal/code/tractus-x-portal/src/components/help.tsx
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/styles/App.css
Due: azure-pipelines-2.yml

Update action.yml
  .github/workflows/composite/coreservicescicd/action.yml
Due: azure-pipelines.yml

added ingress changes
  .github/workflows/registration-service.yml
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/helmchart/templates/ingres.yaml
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/helmchart/values.yaml
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-2.yml: any of: portal
  azure-pipelines-5.yml: any of: partsmasterdata
  azure-pipelines.yml: any file but: connectordns, gpm, kmuuploadapp, partsmasterdata, portal, terraform
