Repository ntruchsess/tractusx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-5.yml, azure-pipelines.yml

azure-pipelines-2.yml:

# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'portal/*'

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  imageRepository: 'portal'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  imagePullSecret: 'catenaxdevacr-auth'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        containerRegistry: catenaxdevacr
        repository: portal
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/portal/code/tractus-x-portal/Dockerfile'
        tags: |
          $(tag)

azure-pipelines-5.yml:

# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'partsmasterdata/*'

resources:
- repo: self

variables:

  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '553abab0-5db0-4932-aaaf-25147ed09cf7'
  imageRepository: 'partsmasterdata'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  dockerfilePath: 'partsmasterdata/Dockerfile'
  tag: '$(Build.BuildId)'
  imagePullSecret: 'catenaxdevacr12483f45-auth'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'


stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: './partsmasterdata/pom.xml'
        publishJUnitResults: false
        javaHomeOption: JDKVersion
        jdkVersionOption: '1.11'
        mavenVersionOption: Default
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false
    - task: Docker@2
      inputs:
        command: 'buildAndPush'
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)

azure-pipelines.yml:

# Build numbering format
name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - 'connectordns/*'
      - 'gpm/*'
      - 'kmuuploadapp/*'
      - 'partsmasterdata/*'
      - 'portal/*'
      - 'terraform/*'

pool:
  vmImage: 'ubuntu-latest'

steps:
  - script: |
      echo "Hello from root folder pipeline."

Feature/a1 mtdc@151 Added Consumer unit tests (#249)
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/org/eclipse/dataspaceconnector/extensions/annotations/ExcludeFromCodeCoverageGeneratedReport.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/org/eclipse/dataspaceconnector/extensions/api/ApiEndpointExtension.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/org/eclipse/dataspaceconnector/extensions/api/FileStatusChecker.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/test/java/ConsumerApiControllerTests.java
  coreservices/partsrelationshipservice/connector/prs-connector-parent/pom.xml
Due: azure-pipelines.yml

Url update circular eco (#253)
  portal/code/tractus-x-portal/src/stores/appstate.ts
Due: azure-pipelines-2.yml

Clean up package.json
  portal/code/company-portal/package-lock.json
  portal/code/company-portal/package.json
Due: azure-pipelines-2.yml

Added message field
  portal/code/company-portal/src/components/responsibilities.tsx
Due: azure-pipelines-2.yml

Fixed spelling
  portal/code/company-portal/src/components/registration.tsx
Due: azure-pipelines-2.yml

Implement delete/update endpoints for semantic hub (#251)
  semantics/openapi.yaml
  semantics/src/main/java/net/catenax/semantics/hub/ModelsService.java
  semantics/src/main/java/net/catenax/semantics/hub/persistence/PersistenceLayer.java
  semantics/src/main/java/net/catenax/semantics/hub/persistence/RDBMSPersistence.java
  semantics/src/test/java/net/catenax/semantics/hub/ModelsApiTest.java
Due: azure-pipelines.yml

Changed positioning of message field
  portal/code/company-portal/src/components/responsibilities.tsx
Due: azure-pipelines-2.yml

feature/catx-a1-sldt - Increase Development Resources for https://jira.catena-x.net/browse/A1SLDT-14 (#257)
  .github/workflows/portal.yml
  .github/workflows/semantics.yml
  .github/workflows/terraform.yml
  catenax.postman_collection.json
  infrastructure/terraform/README.md
  infrastructure/terraform/environments/devtsi.tfvars
  infrastructure/terraform/kube_admin_config.json
  infrastructure/terraform/modules/variables/main.tf
  infrastructure/terraform/roleassigner.json
  infrastructure/terraform/ssh.pub
  infrastructure/terraform/state.json
  infrastructure/terraform/variables.tf
Due: azure-pipelines.yml

provisioning: add swagger for devmode
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Startup.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/EmailController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/FederationController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/GetTokenController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/KeycloakController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Program.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Startup.cs
Due: azure-pipelines.yml

Fixed state blob name. (#261)
  .github/workflows/partsrelationshipservice-deploy.yml
Due: azure-pipelines.yml

Semantic hub fixes (#256)
  portal/code/tractus-x-portal/src/components/lists/descriptionlist.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticHub.tsx
Due: azure-pipelines-2.yml

Implement OpenAPI and example payload endpoint for Semantic Hub (#262)
  semantics/openapi.yaml
  semantics/src/main/java/net/catenax/semantics/hub/ModelsService.java
  semantics/src/main/java/net/catenax/semantics/hub/bamm/BammHelper.java
  semantics/src/test/java/net/catenax/semantics/hub/ModelsApiTest.java
Due: azure-pipelines.yml

Fix/prs remove unused files (#263)
  coreservices/partsrelationshipservice/src/main/java/net/catenax/prs/PrsApplication.java
  coreservices/partsrelationshipservice/src/main/java/net/catenax/prs/controllers/PrsController.java
  coreservices/partsrelationshipservice/src/main/resources/application.yml
  coreservices/partsrelationshipservice/src/test/java/net/catenax/prs/PrsApplicationTests.java
  coreservices/partsrelationshipservice/src/test/java/net/catenax/prs/controllers/PrsControllerTests.java
  coreservices/partsrelationshipservice/tdg-matches.json
Due: azure-pipelines.yml

Feature/a1 mtdc@159 consumer middleware (#264)
  coreservices/partsrelationshipservice/Dockerfile
  coreservices/partsrelationshipservice/connector/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/net/catenax/prs/connector/consumer/controller/ConsumerApiController.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/net/catenax/prs/connector/consumer/extension/ApiEndpointExtension.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/net/catenax/prs/connector/consumer/middleware/RequestMiddleware.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/net/catenax/prs/connector/consumer/transfer/FileStatusChecker.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/resources/META-INF/services/org.eclipse.dataspaceconnector.spi.system.ServiceExtension
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/test/java/net/catenax/prs/connector/consumer/controller/ConsumerApiControllerTests.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/test/java/net/catenax/prs/connector/consumer/middleware/RequestMiddlewareTest.java
  coreservices/partsrelationshipservice/connector/prs-connector-models/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-models/src/main/java/net/catenax/prs/connector/annotations/ExcludeFromCodeCoverageGeneratedReport.java
  coreservices/partsrelationshipservice/connector/prs-connector-models/src/main/java/net/catenax/prs/connector/requests/FileRequest.java
  coreservices/partsrelationshipservice/connector/prs-connector-parent/pom.xml
Due: azure-pipelines.yml

Feature/a1 mtdc@135 prometheus endpoint for jvm metrics (#260)
  coreservices/partsrelationshipservice/Dockerfile
  coreservices/partsrelationshipservice/cd/helm/prs-connector-consumer/templates/statefulset.yaml
  coreservices/partsrelationshipservice/cd/helm/prs-connector-provider/templates/statefulset.yaml
  coreservices/partsrelationshipservice/cd/jmx_prometheus_config.yml
  coreservices/partsrelationshipservice/connector/README.md
  coreservices/partsrelationshipservice/dev/prometheus/prometheus.yml
  coreservices/partsrelationshipservice/docker-compose.yml
Due: azure-pipelines.yml

Feature/a1 mtdc@122 Provider calls PRS (#259)
  .github/workflows/partsrelationshipservice-deploy.yml
  coreservices/partsrelationshipservice/Dockerfile
  coreservices/partsrelationshipservice/cd/helm/prs-connector-provider/templates/statefulset.yaml
  coreservices/partsrelationshipservice/cd/helm/prs-connector-provider/values.yaml
  coreservices/partsrelationshipservice/cd/terraform-connector-consumer/main.tf
  coreservices/partsrelationshipservice/cd/terraform-connector-consumer/variables.tf
  coreservices/partsrelationshipservice/ci/pmd-rules.xml
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/net/catenax/prs/connector/consumer/controller/ConsumerApiController.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/net/catenax/prs/connector/consumer/extension/ApiEndpointExtension.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/net/catenax/prs/connector/consumer/service/ConsumerService.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/test/java/net/catenax/prs/connector/consumer/controller/ConsumerApiControllerTests.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/test/java/net/catenax/prs/connector/consumer/service/ConsumerServiceTests.java
  coreservices/partsrelationshipservice/connector/prs-connector-models/src/main/java/net/catenax/prs/connector/requests/FileRequest.java
  coreservices/partsrelationshipservice/connector/prs-connector-models/src/main/java/net/catenax/prs/connector/requests/PartsTreeByObjectIdRequest.java
  coreservices/partsrelationshipservice/connector/prs-connector-provider/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-provider/src/main/java/net/catenax/prs/connector/provider/PartsRelationshipServiceApiExtension.java
  coreservices/partsrelationshipservice/connector/prs-connector-provider/src/main/java/net/catenax/prs/connector/provider/PartsRelationshipServiceApiToFileFlowController.java
  coreservices/partsrelationshipservice/connector/prs-connector-provider/src/main/java/org/eclipse/dataspaceconnector/extensions/api/FileTransferFlowController.java
  coreservices/partsrelationshipservice/connector/prs-connector-provider/src/main/resources/META-INF/services/org.eclipse.dataspaceconnector.spi.system.ServiceExtension
  coreservices/partsrelationshipservice/connector/prs-connector-provider/src/test/java/net/catenax/prs/connector/provider/PartsRelationshipServiceApiToFileFlowControllerTest.java
  coreservices/partsrelationshipservice/connector/run-integration-test.sh
  coreservices/partsrelationshipservice/dev/connector-integration-test.sh
  coreservices/partsrelationshipservice/docker-compose.yml
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/systemtest/ConnectorSystemTests.java
  coreservices/partsrelationshipservice/integration-tests/src/test/resources/net/catenax/prs/systemtest/getPartsTreeByOneIdAndObjectId-dev-bmw-expected.json
Due: azure-pipelines.yml

Removed ununsed import. (#265)
  coreservices/partsrelationshipservice/connector/prs-connector-provider/src/main/java/net/catenax/prs/connector/provider/PartsRelationshipServiceApiToFileFlowController.java
Due: azure-pipelines.yml

Add App Insights to connectors (#255)
  .github/workflows/partsrelationshipservice-deploy.yml
  coreservices/partsrelationshipservice/cd/helm/prs-connector-consumer/templates/statefulset.yaml
  coreservices/partsrelationshipservice/cd/helm/prs-connector-provider/templates/statefulset.yaml
  coreservices/partsrelationshipservice/cd/terraform-connector-consumer/main.tf
  coreservices/partsrelationshipservice/cd/terraform-connector-consumer/variables.tf
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/test/java/net/catenax/prs/connector/consumer/service/ConsumerServiceTests.java
  coreservices/partsrelationshipservice/docker-compose.yml
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/smoketest/SmokeTestsBase.java
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/systemtest/SystemTestsBase.java
Due: azure-pipelines.yml

added cdq fetch business partner
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/IOnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CDQ/CDQAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CDQ/ICDQAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CDQ/Model/PaginatedFetchBusinessPartner.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Controllers/OnboardingController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Properties/launchSettings.json
Due: azure-pipelines.yml

changed var naming
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/IOnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CDQ/CDQAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CDQ/ICDQAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Controllers/OnboardingController.cs
Due: azure-pipelines.yml

Feature/a1 mtdc@162 edc identity (#269)
  coreservices/partsrelationshipservice/cd/terraform-identities/README.md
  coreservices/partsrelationshipservice/cd/terraform-identities/main.tf
  coreservices/partsrelationshipservice/cd/terraform-identities/output.tf
  coreservices/partsrelationshipservice/cd/terraform-identities/variables.tf
  coreservices/partsrelationshipservice/cd/terraform-identities/versions.tf
Due: azure-pipelines.yml

Feature/a1 mtdc@158 connector API input validation (#266)
  coreservices/partsrelationshipservice/Dockerfile
  coreservices/partsrelationshipservice/connector/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/net/catenax/prs/connector/consumer/controller/ConsumerApiController.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/net/catenax/prs/connector/consumer/extension/ApiEndpointExtension.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/net/catenax/prs/connector/consumer/middleware/RequestMiddleware.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/net/catenax/prs/connector/consumer/service/ConsumerService.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/net/catenax/prs/connector/parameters/GetStatusParameters.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/test/java/net/catenax/prs/connector/consumer/controller/ConsumerApiControllerTests.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/test/java/net/catenax/prs/connector/consumer/middleware/RequestMiddlewareTest.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/test/java/net/catenax/prs/connector/parameters/GetStatusParametersTest.java
  coreservices/partsrelationshipservice/connector/prs-connector-models/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-models/src/main/java/net/catenax/prs/connector/requests/FileRequest.java
  coreservices/partsrelationshipservice/connector/prs-connector-models/src/main/java/net/catenax/prs/connector/requests/PartsTreeByObjectIdRequest.java
  coreservices/partsrelationshipservice/connector/prs-connector-models/src/test/java/net/catenax/prs/connector/requests/FileRequestTest.java
  coreservices/partsrelationshipservice/connector/prs-connector-models/src/test/java/net/catenax/prs/connector/requests/PartsTreeByObjectIdRequestTest.java
  coreservices/partsrelationshipservice/connector/prs-connector-models/src/test/java/net/catenax/prs/connector/requests/RequestMother.java
  coreservices/partsrelationshipservice/connector/prs-connector-parent/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-testing/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-testing/src/main/java/net/catenax/prs/connector/testing/SetOfConstraintViolationsAssertions.java
  coreservices/partsrelationshipservice/connector/prs-connector-testing/src/main/java/net/catenax/prs/connector/testing/ValidatorUtils.java
  coreservices/partsrelationshipservice/pom.xml
  coreservices/partsrelationshipservice/prs-common/pom.xml
  coreservices/partsrelationshipservice/prs-common/src/main/java/net/catenax/prs/annotations/ExcludeFromCodeCoverageGeneratedReport.java
  coreservices/partsrelationshipservice/prs-common/src/main/java/net/catenax/prs/dtos/ValidationConstants.java
  coreservices/partsrelationshipservice/prs-composite-client/src/main/java/net/catenax/prs/client/requests/PartsTreeByObjectIdRequest.java
Due: azure-pipelines.yml

Fix parameter names for e-mail templates
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
Due: azure-pipelines.yml

Send message in invite mail on user creation if message is filled
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Model/User.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/appsettings.json
Due: azure-pipelines.yml

WIP: Get User Name and E-Mail from Token
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Controllers/OnboardingController.cs
Due: azure-pipelines.yml

added cancel button on submit
  portal/code/company-portal/src/components/onboardingSubmit.tsx
Due: azure-pipelines-2.yml

added console log to debug
  portal/code/tractus-x-portal/src/helpers/adalConfig.ts
Due: azure-pipelines-2.yml

onboarding: refactor async token validation
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Controllers/OnboardingController.cs
Due: azure-pipelines.yml

Feature/a1 mtdc@ 161 Added connector keyvault and blob storage in terraform (#271)
  coreservices/partsrelationshipservice/cd/terraform-connector-consumer/main.tf
  coreservices/partsrelationshipservice/cd/terraform-connector-consumer/modules/connector_storage/main.tf
  coreservices/partsrelationshipservice/cd/terraform-connector-consumer/modules/connector_storage/variables.tf
  coreservices/partsrelationshipservice/cd/terraform-connector-consumer/variables.tf
Due: azure-pipelines.yml

merging CAX-9-onboarding into main (#276)
  .github/workflows/composite/coreservicescicd/action.yml
  .github/workflows/invitation-service.yml
  .github/workflows/onboarding-service.yml
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Program.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helmchart/templates/deployment.yaml
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helmchart/templates/ingres.yaml
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helmchart/templates/service.yaml
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helmchart/values.yaml
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Program.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/helmchart/templates/deployment.yaml
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/helmchart/templates/ingres.yaml
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/helmchart/templates/service.yaml
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/helmchart/values.yaml
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Startup.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/EmailController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/FederationController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/GetTokenController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Controllers/KeycloakController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Program.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.ServiceTest/Startup.cs
  portal/code/company-portal/src/components/identity.tsx
  portal/code/company-portal/src/components/onboardingSubmit.tsx
  portal/code/company-portal/src/components/termsncondition.tsx
  portal/code/keycloak-theme/themes/catenax/login/login.ftl
  portal/code/tractus-x-portal/src/helpers/adalConfig.ts
Due: azure-pipelines-2.yml, azure-pipelines.yml

Feature/a1 mtdc@176 consumer API versioning (#273)
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/net/catenax/prs/connector/consumer/controller/ConsumerApiController.java
  coreservices/partsrelationshipservice/dev/connector-integration-test.sh
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/systemtest/ConnectorSystemTests.java
Due: azure-pipelines.yml

Remove whitespaces
  portal/code/company-portal/src/components/responsibilities.tsx
Due: azure-pipelines-2.yml

onboarding: small refactoring using lambda-syntax
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/IOnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Controllers/OnboardingController.cs
Due: azure-pipelines.yml

Feature/a1 mtdc@170 provider by partition (#270)
  .github/workflows/partsrelationshipservice-deploy.yml
  .github/workflows/partsrelationshipservice-destroy.yml
  coreservices/partsrelationshipservice/cd/helm/prs-connector-provider/templates/statefulset.yaml
  coreservices/partsrelationshipservice/cd/terraform-connector-consumer/main.tf
  coreservices/partsrelationshipservice/cd/terraform-connector-consumer/variables.tf
  coreservices/partsrelationshipservice/cd/terraform-dataspace-partition/main.tf
  coreservices/partsrelationshipservice/connector/prs-connector-provider/src/main/java/net/catenax/prs/connector/provider/PartsRelationshipServiceApiToFileFlowController.java
  coreservices/partsrelationshipservice/connector/prs-connector-provider/src/test/java/net/catenax/prs/connector/provider/PartsRelationshipServiceApiToFileFlowControllerTest.java
  coreservices/partsrelationshipservice/integration-tests/src/test/java/net/catenax/prs/systemtest/ConnectorSystemTests.java
Due: azure-pipelines.yml

Feature/a1 mtdc@134 Custom MonitorExtenstion to log with java.util.logging (#277)
  coreservices/partsrelationshipservice/Dockerfile
  coreservices/partsrelationshipservice/connector/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-commons/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-commons/src/main/java/net/catenax/prs/connector/monitor/LoggerMonitor.java
  coreservices/partsrelationshipservice/connector/prs-connector-commons/src/main/java/net/catenax/prs/connector/monitor/LoggerMonitorExtension.java
  coreservices/partsrelationshipservice/connector/prs-connector-commons/src/main/resources/META-INF/services/org.eclipse.dataspaceconnector.spi.system.MonitorExtension
  coreservices/partsrelationshipservice/connector/prs-connector-commons/src/test/java/net/catenax/prs/connector/monitor/LoggerMonitorTests.java
  coreservices/partsrelationshipservice/connector/prs-connector-commons/src/test/java/net/catenax/prs/connector/monitor/TestLogHandler.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/net/catenax/prs/connector/consumer/controller/ConsumerApiController.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/resources/logging.properties
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/test/java/net/catenax/prs/connector/consumer/middleware/RequestMiddlewareTest.java
  coreservices/partsrelationshipservice/connector/prs-connector-provider/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-provider/src/main/resources/META-INF/services/org.eclipse.dataspaceconnector.spi.system.MonitorExtension
  coreservices/partsrelationshipservice/connector/prs-connector-provider/src/main/resources/logging.properties
Due: azure-pipelines.yml

Consumer connector provisioning azure blob storage containers (#272)
  .github/workflows/partsrelationshipservice-connector.yml
  coreservices/partsrelationshipservice/.env.example
  coreservices/partsrelationshipservice/Dockerfile
  coreservices/partsrelationshipservice/cd/helm/prs-connector-consumer/templates/secret.yaml
  coreservices/partsrelationshipservice/cd/helm/prs-connector-consumer/templates/services.yaml
  coreservices/partsrelationshipservice/cd/helm/prs-connector-consumer/templates/statefulset.yaml
  coreservices/partsrelationshipservice/cd/helm/prs-connector-consumer/values.yaml
  coreservices/partsrelationshipservice/cd/terraform-connector-consumer/main.tf
  coreservices/partsrelationshipservice/cd/terraform-connector-consumer/modules/connector_storage/outputs.tf
  coreservices/partsrelationshipservice/cd/terraform-connector-consumer/versions.tf
  coreservices/partsrelationshipservice/cd/terraform-identities/main.tf
  coreservices/partsrelationshipservice/cd/terraform-identities/variables.tf
  coreservices/partsrelationshipservice/connector/README.md
  coreservices/partsrelationshipservice/connector/edc-patched-core/README.md
  coreservices/partsrelationshipservice/connector/edc-patched-core/pom.xml
  coreservices/partsrelationshipservice/connector/edc-patched-core/src/main/java/org/eclipse/dataspaceconnector/ids/api/transfer/ArtifactRequestController.java
  coreservices/partsrelationshipservice/connector/edc-patched-core/src/main/java/org/eclipse/dataspaceconnector/ids/core/message/DataRequestMessageSender.java
  coreservices/partsrelationshipservice/connector/edc-patched-core/src/main/java/org/eclipse/dataspaceconnector/spi/types/domain/transfer/DataRequest.java
  coreservices/partsrelationshipservice/connector/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/dataspaceconnector-configuration.properties
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/net/catenax/prs/connector/consumer/extension/ApiEndpointExtension.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/net/catenax/prs/connector/consumer/service/ConsumerService.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/main/java/net/catenax/prs/connector/consumer/transfer/FileStatusChecker.java
  coreservices/partsrelationshipservice/connector/prs-connector-consumer/src/test/java/net/catenax/prs/connector/consumer/service/ConsumerServiceTests.java
  coreservices/partsrelationshipservice/connector/prs-connector-parent/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-provider/pom.xml
  coreservices/partsrelationshipservice/connector/prs-connector-provider/src/main/java/net/catenax/prs/connector/provider/PartsRelationshipServiceApiToFileFlowController.java
  coreservices/partsrelationshipservice/connector/prs-connector-provider/src/test/java/net/catenax/prs/connector/provider/PartsRelationshipServiceApiToFileFlowControllerTest.java
  coreservices/partsrelationshipservice/dev/connector-integration-test.sh
  coreservices/partsrelationshipservice/docker-compose.yml
Due: azure-pipelines.yml

Renamed the class User in UsercreationInfo for sensible naming.
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Model/UserCreationInfo.cs
Due: azure-pipelines.yml

Included inviter in the email invite
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/IOnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/BusinessLogic/OnboardingBusinessLogic.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Controllers/OnboardingController.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/appsettings.json
Due: azure-pipelines.yml

merged
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CDQ/CDQAccess.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/CDQ/Model/PaginatedFetchBusinessPartner.cs
  coreservices/onboarding/src/CatenaX.NetworkServices.Onboarding.Service/Controllers/OnboardingController.cs
Due: azure-pipelines.yml

adal changes and company data
  portal/code/company-portal/src/components/companydata.tsx
  portal/code/company-portal/src/data/companyDetails.ts
  portal/code/company-portal/src/helpers/utils.ts
  portal/code/company-portal/src/styles/App.css
  portal/code/tractus-x-portal/src/helpers/adalConfig.ts
Due: azure-pipelines-2.yml
