Repository ntruchsess/tractusx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-5.yml, azure-pipelines.yml

azure-pipelines-2.yml:

# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'portal/*'

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  imageRepository: 'portal'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  imagePullSecret: 'catenaxdevacr-auth'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        containerRegistry: catenaxdevacr
        repository: portal
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/portal/code/tractus-x-portal/Dockerfile'
        tags: |
          $(tag)

azure-pipelines-5.yml:

# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'partsmasterdata/*'

resources:
- repo: self

variables:

  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '553abab0-5db0-4932-aaaf-25147ed09cf7'
  imageRepository: 'partsmasterdata'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  dockerfilePath: 'partsmasterdata/Dockerfile'
  tag: '$(Build.BuildId)'
  imagePullSecret: 'catenaxdevacr12483f45-auth'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'


stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: './partsmasterdata/pom.xml'
        publishJUnitResults: false
        javaHomeOption: JDKVersion
        jdkVersionOption: '1.11'
        mavenVersionOption: Default
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false
    - task: Docker@2
      inputs:
        command: 'buildAndPush'
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)

azure-pipelines.yml:

# Build numbering format
name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - 'connectordns/*'
      - 'gpm/*'
      - 'kmuuploadapp/*'
      - 'partsmasterdata/*'
      - 'portal/*'
      - 'terraform/*'

pool:
  vmImage: 'ubuntu-latest'

steps:
  - script: |
      echo "Hello from root folder pipeline."

https://jira.catena-x.net/browse/A1SLDT-401 get it all together and resolve conflicts correctly
  portal/code/tractus-x-portal/src/components/digitaltwins/DigitalTwinOverview.tsx
Due: azure-pipelines-2.yml

https://jira.catena-x.net/browse/A1SLDT-401 you cannot patch just the env and hope that the workflows will still work.
  .github/workflows/portal.yml
Due: azure-pipelines.yml

CPLP-400: validate role catenax-portal/invite_new_partner
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Controllers/InvitationController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/IdentityProviderManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/OpenIDConfigurationManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/RealmManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Models/OpenIDConfig.cs
Due: azure-pipelines.yml

https://jira.catena-x.net/browse/CPLP-411 Remove insecure and non-functional DTAD app.
  .github/workflows/portal.yml
  portal/code/tractus-x-portal/.env
  portal/code/tractus-x-portal/dev042.env
  portal/code/tractus-x-portal/int.env
  portal/code/tractus-x-portal/local.env
  portal/code/tractus-x-portal/src/components/aspect.tsx
  portal/code/tractus-x-portal/src/components/connectoroverview.tsx
  portal/code/tractus-x-portal/src/components/digitaltwins/Submodels.tsx
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/stores/appstate.ts
Due: azure-pipelines-2.yml, azure-pipelines.yml

CPLP-382: configure token-based authentication, add provisioning lib
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/CatenaX.NetworkServices.Registration.Service.csproj
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Startup.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/appsettings.json
Due: azure-pipelines.yml

Bugfix/catx a1 sldt@a1 sldt 415 semantichub duplicates (#444)
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/triplestore/SparqlQueries.java
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/triplestore/TripleStorePersistence.java
  semantics/services/src/test/java/net/catenax/semantics/hub/ModelsApiFilterTest.java
  semantics/services/src/test/java/net/catenax/semantics/hub/ModelsApiPaginationTest.java
  semantics/services/src/test/java/net/catenax/semantics/hub/ModelsApiTest.java
Due: azure-pipelines.yml

new email parameter tested and passed
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/appsettings.json
Due: azure-pipelines.yml

CPLP-382: policy for tenant-based authorization
  coreservices/keycloak/src/CatenaX.NetworkServices.Keycloak.Authentication/CatenaX.NetworkServices.Keycloak.Authentication.csproj
  coreservices/keycloak/src/CatenaX.NetworkServices.Keycloak.Authentication/ClaimRequestPathHandler.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Startup.cs
Due: azure-pipelines.yml

experiments
  portal/code/cx-portal/.gitignore
  portal/code/cx-portal/README.md
  portal/code/cx-portal/package.json
  portal/code/cx-portal/public/favicon.ico
  portal/code/cx-portal/public/index.html
  portal/code/cx-portal/public/logo192.png
  portal/code/cx-portal/public/logo512.png
  portal/code/cx-portal/public/manifest.json
  portal/code/cx-portal/public/robots.txt
  portal/code/cx-portal/src/App.css
  portal/code/cx-portal/src/App.test.tsx
  portal/code/cx-portal/src/App.tsx
  portal/code/cx-portal/src/app/hooks.ts
  portal/code/cx-portal/src/app/store.ts
  portal/code/cx-portal/src/features/counter/Counter.module.css
  portal/code/cx-portal/src/features/counter/Counter.tsx
  portal/code/cx-portal/src/features/counter/counterAPI.ts
  portal/code/cx-portal/src/features/counter/counterSlice.spec.ts
  portal/code/cx-portal/src/features/counter/counterSlice.ts
  portal/code/cx-portal/src/index.css
  portal/code/cx-portal/src/index.tsx
  portal/code/cx-portal/src/logo.svg
  portal/code/cx-portal/src/react-app-env.d.ts
  portal/code/cx-portal/src/router.tsx
  portal/code/cx-portal/src/serviceWorker.ts
  portal/code/cx-portal/src/setupTests.ts
  portal/code/cx-portal/tsconfig.json
  portal/code/cx-portal/yarn.lock
Due: azure-pipelines-2.yml

added logout onclick
  portal/code/company-portal/src/components/cax-header.tsx
  portal/code/company-portal/src/locales/de/translations.json
  portal/code/company-portal/src/locales/en/translations.json
Due: azure-pipelines-2.yml

CPLP-382: refactor businesslogic to use provisionmanager-lib
  coreservices/mockup/src/CatenaX.NetworkServices.Mockups/UserRoles.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/IProvisioningManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/ProvisioningManager.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/IRegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/RegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
Due: azure-pipelines.yml

CPLP-382: adjust Dockerfile (fixing typo in consent-modules)
  coreservices/CatenaX.NetworkServices.sln
  coreservices/consent/src/CatenaX.NetworkServices.Consent.Library.Data/CatenaX.NetworkServices.Consent.Library.Data.csproj
  coreservices/consent/src/CatenaX.NetworkServices.Consent.Library.Data/Consent.cs
  coreservices/consent/src/CatenaX.NetworkServices.Consent.Library.Data/ConsentForCompanyRole.cs
  coreservices/consent/src/CatenaX.NetworkServices.Consent.Library.Data/SignedConsent.cs
  coreservices/consent/src/CatenaX.NetworkServices.Consent.Library/CatenaX.NetworkServices.Consent.Library.csproj
  coreservices/consent/src/CatenaX.NetworkServices.Consent.Library/CompanyRoleAccess.cs
  coreservices/consent/src/CatenaX.NetworkServices.Consent.Library/ConsentAccess.cs
  coreservices/consent/src/CatenaX.NetworkServices.Consent.Library/NpgsqlDataReaderExtensions.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/CatenaX.NetworkServices.Registration.Service.csproj
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Dockerfile
Due: azure-pipelines.yml

Fix hub and registry tests to work without issuer URL (#446)
  semantics/services/src/main/java/net/catenax/semantics/OAuthSecurityConfig.java
  semantics/services/src/main/java/net/catenax/semantics/SemanticsServicesApplication.java
  semantics/services/src/test/java/net/catenax/semantics/TestOAuthSecurityConfig.java
  semantics/services/src/test/resources/application.properties
Due: azure-pipelines.yml

CPLP-200: fixed wrong keycloak reference
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/CatenaX.NetworkServices.Registration.Service.csproj
Due: azure-pipelines.yml

User responsibilities page roles bug fixed WIP for role error handling email verify step is done some code alignment and refactoring
  portal/code/company-portal/package-lock.json
  portal/code/company-portal/package.json
  portal/code/company-portal/src/actions/user.action.ts
  portal/code/company-portal/src/components/cax-responsibilities.tsx
  portal/code/company-portal/src/reducers/user.reducer.ts
  portal/code/company-portal/src/types/user/user.types.ts
Due: azure-pipelines-2.yml

changes for connecting all pages with store
  portal/code/company-portal/src/components/cax-companyData.tsx
  portal/code/company-portal/src/components/cax-companyRole.tsx
  portal/code/company-portal/src/components/cax-registration.tsx
  portal/code/company-portal/src/components/cax-responsibilities.tsx
  portal/code/company-portal/src/components/dragdrop.tsx
  portal/code/company-portal/src/locales/de/translations.json
  portal/code/company-portal/src/locales/en/translations.json
Due: azure-pipelines-2.yml

added new component for verify step
  portal/code/company-portal/src/components/footerButton.tsx
  portal/code/company-portal/src/components/verifyRegistration.tsx
Due: azure-pipelines-2.yml

Fix wrongly returned total pages (#449)
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/triplestore/TripleStorePersistence.java
  semantics/services/src/test/java/net/catenax/semantics/hub/ModelsApiPaginationTest.java
Due: azure-pipelines.yml

CPLP-560 readme update
  portal/code/cx-portal/README.md
Due: azure-pipelines-2.yml

CPLP-200: fixing typo in ClaimRequestPathRequirement
  coreservices/keycloak/src/CatenaX.NetworkServices.Keycloak.Authentication/ClaimRequestPathHandler.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Startup.cs
Due: azure-pipelines.yml

CPLP-200: refactor user creation to use provisionmanager-lib
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/RoleManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/IProvisioningManager.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/IRegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/RegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Model/UserCreationInfo.cs
Due: azure-pipelines.yml

Update portal.yml
  .github/workflows/portal.yml
Due: azure-pipelines.yml

Create sonar-project.properties
  portal/code/tractus-x-portal/sonar-project.properties
Due: azure-pipelines-2.yml

Bugfix/a1 sldt 420 - Fix model delete functionality (#445)
  portal/code/tractus-x-portal/src/components/semantics/DeleteModel.tsx
  portal/code/tractus-x-portal/src/components/semantics/data.ts
Due: azure-pipelines-2.yml

CPLP-200: added error handling and return of created users
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/IRegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/RegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
Due: azure-pipelines.yml

CPLP-330: check mandatory roles per endpont
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Startup.cs
Due: azure-pipelines.yml

CPLP-200: determine organisation from identityprovider-mapper
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/IdentityProviderManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/IProvisioningManager.cs
Due: azure-pipelines.yml

updated component folder structure
  portal/code/cx-portal/src/components/App.tsx
  portal/code/cx-portal/src/components/pages/Appstore/AppstoreApp.css
  portal/code/cx-portal/src/components/pages/Appstore/AppstoreApp.tsx
  portal/code/cx-portal/src/components/shared/Functional/InfoBox.jsx
  portal/code/cx-portal/src/components/shared/basic/Menu/Menu.css
  portal/code/cx-portal/src/components/shared/basic/Menu/Menu.tsx
  portal/code/cx-portal/src/components/shared/frame/Header/Header.css
  portal/code/cx-portal/src/components/shared/frame/Header/Header.stories.tsx
  portal/code/cx-portal/src/components/shared/frame/Header/Header.tsx
  portal/code/cx-portal/src/components/shared/frame/Logo/Logo.css
  portal/code/cx-portal/src/components/shared/frame/Logo/Logo.stories.tsx
  portal/code/cx-portal/src/components/shared/frame/Logo/Logo.tsx
  portal/code/cx-portal/src/components/shared/frame/UserInfo/UserInfo.css
  portal/code/cx-portal/src/components/shared/frame/UserInfo/UserInfo.stories.tsx
  portal/code/cx-portal/src/components/shared/frame/UserInfo/UserInfo.tsx
  portal/code/cx-portal/src/components/shared/frame/UserMenu/UserMenu.css
  portal/code/cx-portal/src/components/shared/frame/UserMenu/UserMenu.stories.tsx
  portal/code/cx-portal/src/components/shared/frame/UserMenu/UserMenu.tsx
Due: azure-pipelines-2.yml

fixed imports after moving components
  portal/code/cx-portal/src/components/shared/frame/Logo/Logo.css
  portal/code/cx-portal/src/components/shared/frame/UserInfo/UserInfo.tsx
  portal/code/cx-portal/src/components/shared/frame/UserMenu/UserMenu.tsx
Due: azure-pipelines-2.yml

CPLP-200: enabled to retrieve tenant from user token for user creation endpoint
  portal/code/company-portal/src/components/cax-responsibilities.tsx
  portal/code/company-portal/src/helpers/UserService.js
Due: azure-pipelines-2.yml

CPLP-200: enabled user creation endpoint to use GetOrganisationFromCentralIdentityProviderMapperAsync method to determine organisation
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/IRegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/RegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
Due: azure-pipelines.yml

CPLP-382: get rid of obsolete path-pameters (tenant (former 'realm') and clientid)
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/IRegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/RegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/RegistrationSettings.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Startup.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/appsettings.json
Due: azure-pipelines.yml

improved component folder structure
  portal/code/cx-portal/public/testdata/apps.json
  portal/code/cx-portal/src/components/Global.js
  portal/code/cx-portal/src/components/Main.css
  portal/code/cx-portal/src/components/Main.test.tsx
  portal/code/cx-portal/src/components/Main.tsx
  portal/code/cx-portal/src/components/Router.tsx
  portal/code/cx-portal/src/components/pages/Appstore/AppstoreApp.tsx
  portal/code/cx-portal/src/components/pages/Appstore/AppstoreAppDetail.tsx
  portal/code/cx-portal/src/components/pages/Appstore/MockAppstoreSync.tsx
  portal/code/cx-portal/src/components/shared/content/AppCard/AppCard.css
  portal/code/cx-portal/src/components/shared/content/AppCard/AppCard.stories.tsx
  portal/code/cx-portal/src/components/shared/content/AppCard/AppCard.tsx
  portal/code/cx-portal/src/components/shared/content/AppDetail/AppDetail.css
  portal/code/cx-portal/src/components/shared/content/AppDetail/AppDetail.tsx
  portal/code/cx-portal/src/services/AppService.ts
  portal/code/cx-portal/src/services/MockAppServiceAsync.ts
  portal/code/cx-portal/src/services/MockAppServiceSync.ts
  portal/code/cx-portal/src/test/data/AppData.ts
  portal/code/cx-portal/src/types/AppTypes.ts
  portal/code/cx-portal/src/types/CommonTypes.ts
Due: azure-pipelines-2.yml

CPLP-200: removed obsolete path-parameter former 'realm' backend calls
  portal/code/company-portal/.env
  portal/code/company-portal/src/components/cax-registration.tsx
  portal/code/company-portal/src/components/companyrole.tsx
  portal/code/company-portal/src/components/identity.tsx
  portal/code/company-portal/src/components/responsibilities.tsx
  portal/code/company-portal/src/helpers/utils.ts
Due: azure-pipelines-2.yml

CPLP-200: removed obsolete path-parameter 'company'
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
Due: azure-pipelines.yml

code formatting
  portal/code/cx-portal/README.md
  portal/code/cx-portal/src/components/pages/Appstore/Appstore.tsx
  portal/code/cx-portal/src/components/pages/Appstore/MockAppstoreSync.tsx
  portal/code/cx-portal/src/components/shared/basic/Button/Button.css
  portal/code/cx-portal/src/components/shared/basic/Button/Button.stories.tsx
  portal/code/cx-portal/src/components/shared/basic/Button/Button.tsx
  portal/code/cx-portal/src/components/shared/content/AppCard/AppCard.stories.tsx
  portal/code/cx-portal/src/components/shared/content/AppCard/AppCard.tsx
  portal/code/cx-portal/src/components/shared/content/AppDetail/AppDetail.tsx
  portal/code/cx-portal/src/components/shared/frame/Header/Header.stories.tsx
  portal/code/cx-portal/src/components/shared/frame/Logo/Logo.stories.tsx
  portal/code/cx-portal/src/components/shared/frame/UserInfo/UserInfo.stories.tsx
  portal/code/cx-portal/src/components/shared/frame/UserMenu/UserMenu.stories.tsx
  portal/code/cx-portal/src/types/AppTypes.ts
  portal/code/cx-portal/src/types/CommonTypes.ts
Due: azure-pipelines-2.yml
