Repository ntruchsess/tractusx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-5.yml, azure-pipelines.yml

azure-pipelines-2.yml:
  name: $(BuildID)
  stages:
  - stage: Build
    displayName: Build image
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build an image
        inputs:
          containerRegistry: catenaxdevacr
          repository: portal
  ...

azure-pipelines-5.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Maven@3
        inputs:
          mavenPomFile: ./partsmasterdata/pom.xml
          publishJUnitResults: false
          javaHomeOption: JDKVersion
  ...

azure-pipelines.yml:
  name: $(BuildID)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'echo "Hello from root folder pipeline."
  
      '

CPLP-362: add request error-logging for local devenv
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Startup.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Startup.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/Startup.cs
Due: azure-pipelines.yml

submitting https request through Axios HttpClient
  portal/code/cx-portal/src/components/Main.test.tsx
  portal/code/cx-portal/src/components/pages/InviteBusinessPartner/index.tsx
  portal/code/cx-portal/src/components/shared/content/InviteForm/index.tsx
  portal/code/cx-portal/src/state/api/userManagement/userManagementAPI.ts
  portal/code/cx-portal/src/types/userManagement/UserManagementTypes.ts
Due: azure-pipelines-2.yml

rename userManagement to userAdministration
  portal/code/cx-portal/src/components/pages/InviteBusinessPartner/index.tsx
  portal/code/cx-portal/src/components/shared/content/InviteForm/index.tsx
  portal/code/cx-portal/src/state/api/userAdministration/userAdministrationAPI.ts
  portal/code/cx-portal/src/types/userAdministration/UserAdministrationTypes.ts
Due: azure-pipelines-2.yml

better logging
  portal/code/cx-portal/src/components/pages/InviteBusinessPartner/index.tsx
Due: azure-pipelines-2.yml

linter fix
  portal/code/cx-portal/src/components/pages/InviteBusinessPartner/index.tsx
Due: azure-pipelines-2.yml

catena-x central login theme
  portal/code/keycloak-theme/scripts/util.sh
  portal/code/keycloak-theme/themes/catenax-central/login/login.ftl
  portal/code/keycloak-theme/themes/catenax-central/login/resources/js/init.js
  portal/code/keycloak-theme/themes/catenax-central/login/theme.properties
  portal/code/keycloak-theme/themes/catenax-central/static/Companies.json
  portal/code/keycloak-theme/themes/catenax-central/static/Main.css
  portal/code/keycloak-theme/themes/catenax-central/static/Main.js
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/LibreFranklin-Italic-VariableFont_wght.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/LibreFranklin-VariableFont_wght.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-Black.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-BlackItalic.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-Bold.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-BoldItalic.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-ExtraBold.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-ExtraBoldItalic.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-ExtraLight.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-ExtraLightItalic.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-Italic.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-Light.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-LightItalic.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-Medium.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-MediumItalic.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-Regular.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-SemiBold.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-SemiBoldItalic.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-Thin.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-ThinItalic.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/icon/cx-logo-gray.svg
  portal/code/keycloak-theme/themes/catenax-central/static/icon/cx-logo-short.svg
  portal/code/keycloak-theme/themes/catenax-central/static/icon/cx-logo-text.svg
  portal/code/keycloak-theme/themes/catenax-central/static/icon/cx-logo.svg
  portal/code/keycloak-theme/themes/catenax-central/static/icon/icon-test.svg
  portal/code/keycloak-theme/themes/catenax-central/static/icon/icon-wrench.svg
  portal/code/keycloak-theme/themes/catenax-central/static/icon/logo-github.svg
  portal/code/keycloak-theme/themes/catenax-central/static/img/background.svg
  portal/code/keycloak-theme/themes/catenax-central/static/logo/resources.json
  portal/code/keycloak-theme/themes/catenax-central/static/test.html
  portal/code/keycloak-theme/themes/catenax-central/static/testall.html
Due: azure-pipelines-2.yml

removed fonts
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/LibreFranklin-Italic-VariableFont_wght.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/LibreFranklin-VariableFont_wght.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-Black.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-BlackItalic.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-Bold.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-BoldItalic.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-ExtraBold.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-ExtraBoldItalic.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-ExtraLight.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-ExtraLightItalic.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-Italic.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-Light.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-LightItalic.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-Medium.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-MediumItalic.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-Regular.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-SemiBold.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-SemiBoldItalic.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-Thin.ttf
  portal/code/keycloak-theme/themes/catenax-central/static/fonts/static/LibreFranklin-ThinItalic.ttf
Due: azure-pipelines-2.yml

build lib before unit tests
  .github/workflows/portal-ng.yml
Due: azure-pipelines.yml

added test for Footer
  portal/code/cx-portal/src/components/Main.test.tsx
Due: azure-pipelines-2.yml

test commit
  portal/code/cx-portal/src/components/Main.test.tsx
Due: azure-pipelines-2.yml

added linter check
  .github/workflows/portal-ng.yml
Due: azure-pipelines.yml

CPLP-362: local devenv: ignore self-signed certs + error-logging
  coreservices/keycloak/src/CatenaX.NetworkServices.Keycloak.Factory/Utils/FlurlErrorLogging.cs
  coreservices/keycloak/src/CatenaX.NetworkServices.Keycloak.Factory/Utils/KeycloakUntrustedCertExceptionHandler.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Utils/UntrustedCertClientFactory.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Startup.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Startup.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/Startup.cs
Due: azure-pipelines.yml

Update of the Template Style to CX CI
  coreservices/iam/themes/catenax-central/email/html/password-reset.ftl
  coreservices/iam/themes/catenax-central/email/html/template.ftl
  coreservices/iam/themes/catenax-central/email/messages/messages_en.properties
Due: azure-pipelines.yml

CPLP-572: Implement shared navigation based on menu component
  portal/code/cx-portal-shared-components/src/components/basic/Menu/Menu.stories.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Menu/MenuItem.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Menu/index.tsx
  portal/code/cx-portal-shared-components/src/components/content/Navigation/NavItem.tsx
  portal/code/cx-portal-shared-components/src/components/content/Navigation/Navigation.stories.tsx
  portal/code/cx-portal-shared-components/src/components/content/Navigation/index.tsx
  portal/code/cx-portal-shared-components/src/components/content/UserMenu/UserMenu.stories.tsx
  portal/code/cx-portal-shared-components/src/components/content/UserNav/index.tsx
  portal/code/cx-portal-shared-components/src/components/index.tsx
  portal/code/cx-portal/package.json
  portal/code/cx-portal/src/components/shared/frame/Footer/Footer.scss
  portal/code/cx-portal/src/components/shared/frame/Footer/index.tsx
  portal/code/cx-portal/src/components/shared/frame/Header/Header.tsx
  portal/code/cx-portal/src/components/shared/frame/NavMenu/NavMenu.scss
  portal/code/cx-portal/src/components/shared/frame/NavMenu/NavMenu.tsx
  portal/code/cx-portal/src/components/shared/frame/UserInfo/UserInfo.tsx
Due: azure-pipelines-2.yml

welcome email more alignment of outlook versions
  portal/code/tractus-x-portal/Email Template/welcomeCX.html
Due: azure-pipelines-2.yml

CPLP-572: Pass user menu as props to fix storybook
  portal/code/cx-portal-shared-components/src/components/content/Navigation/index.tsx
  portal/code/cx-portal/package.json
  portal/code/cx-portal/src/components/Main.tsx
  portal/code/cx-portal/src/components/shared/frame/Header/Header.stories.tsx
  portal/code/cx-portal/src/components/shared/frame/Header/Header.tsx
  portal/code/cx-portal/src/components/shared/frame/UserInfo/UserInfo.stories.tsx
  portal/code/cx-portal/src/components/shared/frame/UserInfo/UserInfo.tsx
Due: azure-pipelines-2.yml

added eslint to the entire yarn workspace and fixed all linter issues + Dockerfile
  .github/workflows/portal-ng.yml
  portal/code/.eslintignore
  portal/code/.eslintrc.json
  portal/code/.prettierrc
  portal/code/Dockerfile
  portal/code/cx-portal-shared-components/package.json
  portal/code/cx-portal-shared-components/rollup.config.js
  portal/code/cx-portal-shared-components/src/components/basic/Table/components/RoleChip.scss
  portal/code/cx-portal-shared-components/src/components/content/AppCards/AppCard.tsx
  portal/code/cx-portal-shared-components/src/components/content/AppCards/AppCardImage.tsx
  portal/code/cx-portal/.eslintrc.json
  portal/code/cx-portal/package.json
  portal/code/cx-portal/src/components/AuthProvider.tsx
  portal/code/cx-portal/src/components/pages/ThirdPartyLicenses/index.tsx
  portal/code/cx-portal/src/components/shared/content/InviteForm/index.tsx
  portal/code/cx-portal/src/state/api/userAdministration/userAdministrationAPI.ts
  portal/code/cx-portal/src/state/features/apps/appsMW.ts
  portal/code/cx-portal/src/utils/useApiGet.ts
  portal/code/package.json
Due: azure-pipelines-2.yml, azure-pipelines.yml

CPLP-244: WIP - get BPN from database
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.DBAccess/IProvisioningDBAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.DBAccess/Model/Bpn.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.DBAccess/ProvisioningDBAccess.cs
Due: azure-pipelines.yml

CPLP-244: WIP - endpoints to add BPN as attribute to user
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/IProvisioningManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/ProvisioningManager.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/BusinessLogic/IUserAdministrationBusinessLogic.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/BusinessLogic/UserAdministrationBusinessLogic.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/Controllers/UserAdministrationController.cs
Due: azure-pipelines.yml

full docker build and upgraded packages
  portal/code/Dockerfile
  portal/code/cx-portal/public/third-party-licenses.txt
  portal/code/package.json
  portal/code/yarn.lock
Due: azure-pipelines-2.yml

v0.0.1
  portal/code/package.json
Due: azure-pipelines-2.yml

v0.0.2
  portal/code/package.json
Due: azure-pipelines-2.yml

improved docker build
  portal/code/Dockerfile
  portal/code/README.md
  portal/code/package.json
  portal/code/scripts/portal.sh
Due: azure-pipelines-2.yml

Update messages_en.properties
  coreservices/iam/themes/catenax-central/email/messages/messages_en.properties
Due: azure-pipelines.yml

Merge email theme folders
  coreservices/iam/themes/Test-Theme/email/html/password-reset.ftl
  coreservices/iam/themes/Test-Theme/email/messages/messages_en.properties
  coreservices/iam/themes/Test-Theme/email/text/password-reset.ftl
  coreservices/iam/themes/catenax-central/email/html/email-test.ftl
  coreservices/iam/themes/catenax-central/email/html/email-verification-with-code.ftl
  coreservices/iam/themes/catenax-central/email/html/email-verification.ftl
  coreservices/iam/themes/catenax-central/email/html/event-login_error.ftl
  coreservices/iam/themes/catenax-central/email/html/event-remove_totp.ftl
  coreservices/iam/themes/catenax-central/email/html/event-update_password.ftl
  coreservices/iam/themes/catenax-central/email/html/event-update_totp.ftl
  coreservices/iam/themes/catenax-central/email/html/executeActions.ftl
  coreservices/iam/themes/catenax-central/email/html/identity-provider-link.ftl
  coreservices/iam/themes/catenax-central/email/text/email-test.ftl
  coreservices/iam/themes/catenax-central/email/text/email-verification-with-code.ftl
  coreservices/iam/themes/catenax-central/email/text/email-verification.ftl
  coreservices/iam/themes/catenax-central/email/text/event-login_error.ftl
  coreservices/iam/themes/catenax-central/email/text/event-remove_totp.ftl
  coreservices/iam/themes/catenax-central/email/text/event-update_password.ftl
  coreservices/iam/themes/catenax-central/email/text/event-update_totp.ftl
  coreservices/iam/themes/catenax-central/email/text/executeActions.ftl
  coreservices/iam/themes/catenax-central/email/text/identity-provider-link.ftl
Due: azure-pipelines.yml

Update email-verification-with-code.ftl
  coreservices/iam/themes/catenax-central/email/html/email-verification-with-code.ftl
Due: azure-pipelines.yml

switch to non privileged nginx base image
  portal/code/Dockerfile
  portal/code/package.json
  portal/code/scripts/portal.sh
Due: azure-pipelines-2.yml

CPLP-362: allow untrusted certs in devenv token-validation
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Startup.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Startup.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/Startup.cs
Due: azure-pipelines.yml

Chip component implemented as StatusTag custom colors implemented at Theme RoleChip files removed WIP for error contrastText
  portal/code/cx-portal-shared-components/src/@types/chip.d.ts
  portal/code/cx-portal-shared-components/src/@types/styles.d.ts
  portal/code/cx-portal-shared-components/src/assets/data/TableRows.json
  portal/code/cx-portal-shared-components/src/components/basic/Table/components/RoleChip.scss
  portal/code/cx-portal-shared-components/src/components/basic/Table/components/RoleChip.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Table/components/StatusTag/StatusTag.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Table/components/StatusTag/statusTag.stories.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Table/table.stories.tsx
  portal/code/cx-portal-shared-components/src/theme.ts
Due: azure-pipelines-2.yml

contrastText error fixed icon version of status tag implemented WIP Status tag without label version has issue
  portal/code/cx-portal-shared-components/src/@types/chip.d.ts
  portal/code/cx-portal-shared-components/src/@types/styles.d.ts
  portal/code/cx-portal-shared-components/src/components/basic/Table/components/StatusTag/StatusTag.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Table/components/StatusTag/statusTag.stories.tsx
  portal/code/cx-portal-shared-components/src/theme.ts
Due: azure-pipelines-2.yml

CPLP-304: Tabs component and storybook
  portal/code/cx-portal-shared-components/src/components/basic/Tabs/Tab.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Tabs/TabPanel.stories.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Tabs/TabPanel.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Tabs/Tabs.stories.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Tabs/Tabs.tsx
Due: azure-pipelines-2.yml

CPLP-306: Add shared dialog modal component
  portal/code/cx-portal-shared-components/src/components/basic/Dialog/Dialog.stories.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Dialog/DialogActions.stories.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Dialog/DialogActions.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Dialog/DialogContent.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Dialog/DialogHeader.stories.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Dialog/DialogHeader.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Dialog/index.tsx
  portal/code/cx-portal-shared-components/src/components/index.tsx
  portal/code/cx-portal-shared-components/src/theme.ts
Due: azure-pipelines-2.yml

CPLP-244: endpoints to add BPN as attribute to user
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.DBAccess/IProvisioningDBAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.DBAccess/Model/Bpn.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.DBAccess/ProvisioningDBAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/UserUpdateBpn.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/UserUpdateInfo.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/IProvisioningManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/ProvisioningManager.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/BusinessLogic/IUserAdministrationBusinessLogic.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/BusinessLogic/UserAdministrationBusinessLogic.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/Controllers/UserAdministrationController.cs
Due: azure-pipelines.yml

CPLP-244: Added BPN assignment at user creation
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/BusinessLogic/UserAdministrationBusinessLogic.cs
Due: azure-pipelines.yml

Label-icon padding issue fixed
  portal/code/cx-portal-shared-components/src/components/basic/Table/components/StatusTag/StatusTag.tsx
Due: azure-pipelines-2.yml

CPLP-244: made sure that db connection is correclty disposed
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.DBAccess/ProvisioningDBAccess.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/ProvisioningManager.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/BusinessLogic/UserAdministrationBusinessLogic.cs
  coreservices/useradministration/src/CatenaX.NetworkServices.UserAdministration.Service/Startup.cs
Due: azure-pipelines.yml

CPLP-668: Remove circular dependency in shared menu component
  portal/code/cx-portal-shared-components/src/components/basic/Menu/MenuItem.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Menu/index.tsx
Due: azure-pipelines-2.yml

images moved to public folder welcome emails and new user password email inlined and modified WIP pushed to remote, to be able to use remote image urls
  portal/code/tractus-x-portal/Email Template/portal_newuser_password.html
  portal/code/tractus-x-portal/Email Template/welcomeCX.html
  portal/code/tractus-x-portal/Email Template/welcomePortal.html
  portal/code/tractus-x-portal/public/divider_lines.png
  portal/code/tractus-x-portal/public/join_now_button.png
  portal/code/tractus-x-portal/public/key_icon.png
  portal/code/tractus-x-portal/public/login_button.png
  portal/code/tractus-x-portal/public/question_mark_icon.png
  portal/code/tractus-x-portal/public/register_company_button.png
Due: azure-pipelines-2.yml

simplified build scripts
  portal/code/Dockerfile
  portal/code/README.md
  portal/code/cx-portal-shared-components/package.json
  portal/code/cx-portal/package.json
  portal/code/package.json
Due: azure-pipelines-2.yml

add base for Upload Element
  portal/code/cx-portal-shared-components/package.json
  portal/code/cx-portal-shared-components/src/components/basic/CustomIcons/Icon.scss
  portal/code/cx-portal-shared-components/src/components/basic/CustomIcons/Icon.stories.tsx
  portal/code/cx-portal-shared-components/src/components/basic/CustomIcons/Icons.svg
  portal/code/cx-portal-shared-components/src/components/basic/CustomIcons/index.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Dropzone/Dropzone.scss
  portal/code/cx-portal-shared-components/src/components/basic/Dropzone/Dropzone.stories.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Dropzone/components/InputContent.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Dropzone/components/Layout.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Dropzone/components/Preview.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Dropzone/index.tsx
  portal/code/cx-portal-shared-components/src/components/index.tsx
Due: azure-pipelines-2.yml

Path conditions:
  azure-pipelines-2.yml: any of: portal
  azure-pipelines-5.yml: any of: partsmasterdata
  azure-pipelines.yml: any file but: connectordns, gpm, kmuuploadapp, partsmasterdata, portal, terraform
