Repository ntruchsess/tractusx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-5.yml, azure-pipelines.yml

azure-pipelines-2.yml:
  name: $(BuildID)
  stages:
  - stage: Build
    displayName: Build image
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build an image
        inputs:
          containerRegistry: catenaxdevacr
          repository: portal
  ...

azure-pipelines-5.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Maven@3
        inputs:
          mavenPomFile: ./partsmasterdata/pom.xml
          publishJUnitResults: false
          javaHomeOption: JDKVersion
  ...

azure-pipelines.yml:
  name: $(BuildID)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'echo "Hello from root folder pipeline."
  
      '

fixed typo
  portal/code/cx-portal/src/components/shared/frame/UserInfo/UserInfo.tsx
Due: azure-pipelines-2.yml

CPLP-200: use IOptions instead of IOptionsSnapshot
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/IInvitationBusinessLogic.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/InvitationBusinessLogic.cs
Due: azure-pipelines.yml

changed dockerfiles for theme mounting
  .github/workflows/iam.yml
  coreservices/iam/docker/Dockerfile.centralidp
  coreservices/iam/docker/Dockerfile.sharedidp
Due: azure-pipelines.yml

some progress with admin welcome message
  portal/code/tractus-x-portal/Email Template/welcomeCX.html
Due: azure-pipelines-2.yml

clean up UserService
  portal/code/cx-portal/src/services/UserService.ts
Due: azure-pipelines-2.yml

CPLP-200: removed unused Registration.KeyCloakClientID
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/InvitationBusinessLogic.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/InvitationSettings.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/appsettings.json
Due: azure-pipelines.yml

Invitation service email templates are changed WIP Need to test out real invite email at email clients
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/appsettings.json
  portal/code/tractus-x-portal/.env
  portal/code/tractus-x-portal/Email Template/welcomeCX.html
Due: azure-pipelines-2.yml, azure-pipelines.yml

encode URI for digital twin detail page link (#460)
  portal/code/tractus-x-portal/src/components/digitaltwins/DigitalTwinOverview.tsx
Due: azure-pipelines-2.yml

CPLP-200: use IEnumarable instead of List
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Controllers/InvitationController.cs
Due: azure-pipelines.yml

CPLP-200: removed obsolte createdByEmail
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/IInvitationBusinessLogic.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/InvitationBusinessLogic.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Controllers/InvitationController.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/IRegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/RegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
Due: azure-pipelines.yml

CPLP-200: use IOptions instead of IOptionsSnapshot
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/InvitationBusinessLogic.cs
Due: azure-pipelines.yml

CPLP-200: remove obolete {}
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Controllers/InvitationController.cs
Due: azure-pipelines.yml

BDPM changes
  portal/code/company-portal/src/actions/user.action.ts
  portal/code/company-portal/src/components/cax-companyData.tsx
  portal/code/company-portal/src/components/cax-header.tsx
  portal/code/company-portal/src/components/cax-registration.tsx
  portal/code/company-portal/src/components/cax-responsibilities.tsx
  portal/code/company-portal/src/components/footerButton.tsx
  portal/code/company-portal/src/components/verifyRegistration.tsx
  portal/code/company-portal/src/data/companyDetails.ts
  portal/code/company-portal/src/helpers/UserService.js
  portal/code/company-portal/src/locales/de/translations.json
  portal/code/company-portal/src/locales/en/translations.json
  portal/code/company-portal/src/reducers/user.reducer.ts
  portal/code/company-portal/src/types/user/user.types.ts
Due: azure-pipelines-2.yml

https://jira.catena-x.net/browse/A1SLDT-401 differences in main and feature-branch wrt keycloak/oauth2 integration of semantic layer.
  infrastructure/manifests/semantics.yaml
Due: azure-pipelines.yml

Update portal_newuser_password.html
  portal/code/tractus-x-portal/Email Template/portal_newuser_password.html
Due: azure-pipelines-2.yml

moved fonts
  portal/code/cx-portal/package.json
  portal/code/cx-portal/src/assets/fonts/LibreFranklin-Italic-VariableFont_wght.ttf
  portal/code/cx-portal/src/assets/fonts/LibreFranklin-VariableFont_wght.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-Black.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-BlackItalic.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-Bold.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-BoldItalic.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-ExtraBold.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-ExtraBoldItalic.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-ExtraLight.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-ExtraLightItalic.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-Italic.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-Light.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-LightItalic.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-Medium.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-MediumItalic.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-Regular.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-SemiBold.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-SemiBoldItalic.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-Thin.ttf
  portal/code/cx-portal/src/assets/fonts/static/LibreFranklin-ThinItalic.ttf
  portal/code/cx-portal/src/assets/locales/de.json
  portal/code/cx-portal/src/assets/locales/en.json
  portal/code/cx-portal/src/components/Main.css
  portal/code/cx-portal/src/components/pages/Translator/Dropzone.tsx
  portal/code/cx-portal/src/state/i18n.ts
  portal/code/cx-portal/yarn.lock
Due: azure-pipelines-2.yml

changed dockerfiles for theme mounting (#139)
  .github/workflows/iam.yml
  coreservices/iam/docker/Dockerfile.centralidp
  coreservices/iam/docker/Dockerfile.sharedidp
Due: azure-pipelines.yml

added bearer passing
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BPN/BPNAccess.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BPN/IBPNAccess.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/IRegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/RegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
Due: azure-pipelines.yml

CPLP-200: changed from realm to tenant
  portal/code/company-portal/src/components/cax-responsibilities.tsx
Due: azure-pipelines-2.yml

added bearer passing (#141)
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BPN/BPNAccess.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BPN/IBPNAccess.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/IRegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/RegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
Due: azure-pipelines.yml

CPLP-143 first version of multi language
  portal/code/cx-portal/package.json
  portal/code/cx-portal/public/index.html
  portal/code/cx-portal/src/assets/locales/de.json
  portal/code/cx-portal/src/assets/locales/en.json
  portal/code/cx-portal/src/components/Main.tsx
  portal/code/cx-portal/src/components/pages/Dashboard/Dashboard.tsx
  portal/code/cx-portal/src/components/pages/Settings/Settings.css
  portal/code/cx-portal/src/components/pages/Settings/Settings.tsx
  portal/code/cx-portal/src/components/shared/basic/Table/Table.css
  portal/code/cx-portal/src/components/shared/basic/Table/Table.stories.tsx
  portal/code/cx-portal/src/components/shared/basic/Table/Table.tsx
  portal/code/cx-portal/src/components/shared/frame/Header/Header.tsx
  portal/code/cx-portal/src/components/shared/frame/UserMenu/UserMenu.tsx
  portal/code/cx-portal/src/index.tsx
  portal/code/cx-portal/src/services/I18nService.ts
  portal/code/cx-portal/src/services/UserService.ts
  portal/code/cx-portal/src/state/i18n.ts
  portal/code/cx-portal/yarn.lock
Due: azure-pipelines-2.yml

Add base button component
  portal/code/cx-portal-shared-components/src/components/basic/Button/Button.scss
  portal/code/cx-portal-shared-components/src/components/basic/Button/Button.stories.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Button/Button.tsx
  portal/code/cx-portal-shared-components/src/components/index.tsx
  portal/code/cx-portal-shared-components/src/index.tsx
  portal/code/cx-portal-shared-components/src/scss/_buttons.scss
  portal/code/cx-portal-shared-components/src/scss/main.scss
Due: azure-pipelines-2.yml

Update readme
  portal/code/cx-portal-shared-components/README.md
Due: azure-pipelines-2.yml

CPLP-143 improved components for translations
  portal/code/cx-portal/package.json
  portal/code/cx-portal/src/assets/locales/de.json
  portal/code/cx-portal/src/components/Main.css
  portal/code/cx-portal/src/components/Main.tsx
  portal/code/cx-portal/src/components/Router.tsx
  portal/code/cx-portal/src/components/pages/Applications/Applications.css
  portal/code/cx-portal/src/components/pages/Appstore/Appstore.css
  portal/code/cx-portal/src/components/pages/Dashboard/Dashboard.css
  portal/code/cx-portal/src/components/pages/Developer/Developer.css
  portal/code/cx-portal/src/components/pages/Settings/Settings.css
  portal/code/cx-portal/src/components/pages/TestAPI/TestAPI.css
  portal/code/cx-portal/src/components/pages/Translator/Translator.css
  portal/code/cx-portal/src/components/shared/SharedTypes.ts
  portal/code/cx-portal/src/components/shared/basic/Menu/Menu.css
  portal/code/cx-portal/src/components/shared/basic/Menu/Menu.tsx
  portal/code/cx-portal/src/components/shared/basic/Table/Table.css
  portal/code/cx-portal/src/components/shared/content/AppCard/AppCard.css
  portal/code/cx-portal/src/components/shared/frame/Header/Header.css
  portal/code/cx-portal/src/components/shared/frame/Header/Header.stories.tsx
  portal/code/cx-portal/src/components/shared/frame/Header/Header.tsx
  portal/code/cx-portal/src/components/shared/frame/Logo/Logo.css
  portal/code/cx-portal/src/components/shared/frame/UserInfo/UserInfo.css
  portal/code/cx-portal/src/components/shared/frame/UserMenu/UserMenu.css
  portal/code/cx-portal/src/services/I18nService.ts
  portal/code/cx-portal/src/types/CommonTypes.ts
Due: azure-pipelines-2.yml

Hotfix for loading indicator turnoff env variable print at console to debug
  portal/code/tractus-x-portal/src/components/registrationoneid.tsx
Due: azure-pipelines-2.yml

Hotfix for loading indicator turnoff console log removed and changes get ready to merge
  portal/code/tractus-x-portal/src/components/registrationoneid.tsx
Due: azure-pipelines-2.yml

portal.yml gh action env variable add for invitation service usage of invitation service url changed .env file changed regarding with new url
  .github/workflows/portal.yml
  portal/code/tractus-x-portal/.env
  portal/code/tractus-x-portal/src/components/registrationoneid.tsx
Due: azure-pipelines-2.yml, azure-pipelines.yml

Siemens data lake application external url changed regarding their app move
  portal/code/tractus-x-portal/src/stores/appstate.ts
Due: azure-pipelines-2.yml

Config global button colors and add mixin
  portal/code/cx-portal-shared-components/src/components/basic/Button/Button.scss
  portal/code/cx-portal-shared-components/src/scss/_buttons.scss
Due: azure-pipelines-2.yml

CPLP-399: adjusted ingress invitation service for portal aks FE - test run
  .github/workflows/invitation-service.yml
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helmchart/templates/ingres.yaml
Due: azure-pipelines.yml

Add plus button component
  portal/code/cx-portal-shared-components/.nvmrc
  portal/code/cx-portal-shared-components/src/components/basic/Button-plus/Button-plus.scss
  portal/code/cx-portal-shared-components/src/components/basic/Button-plus/Button-plus.stories.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Button-plus/Button-plus.tsx
Due: azure-pipelines-2.yml

Add base for radio button component
  portal/code/cx-portal-shared-components/src/components/basic/Button-radio/Button-radio.scss
  portal/code/cx-portal-shared-components/src/components/basic/Button-radio/Button-radio.stories.tsx
  portal/code/cx-portal-shared-components/src/components/basic/Button-radio/Button-radio.tsx
Due: azure-pipelines-2.yml

CPLP-399: adjusted ingress invitation service for portal aks FE
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/helmchart/templates/ingres.yaml
Due: azure-pipelines.yml

CPLP-399: changed to CAX-portal branch
  .github/workflows/invitation-service.yml
Due: azure-pipelines.yml

tsconfig base url parameter added for Absolute Imports InfoBox.jsx converted to InfoBox.tsx keep codebase in tsx
  portal/code/cx-portal/src/components/shared/Functional/InfoBox_alternative.tsx
  portal/code/cx-portal/src/components/shared/frame/UserInfo/UserInfo.tsx
  portal/code/cx-portal/tsconfig.json
Due: azure-pipelines-2.yml

CPLP-579 header closer to design
  portal/code/cx-portal/package.json
  portal/code/cx-portal/src/assets/icons/perm_identity.svg
  portal/code/cx-portal/src/components/Main.scss
  portal/code/cx-portal/src/components/Main.tsx
  portal/code/cx-portal/src/components/shared/basic/Menu/Menu.css
  portal/code/cx-portal/src/components/shared/basic/Menu/Menu.scss
  portal/code/cx-portal/src/components/shared/basic/Menu/Menu.tsx
  portal/code/cx-portal/src/components/shared/frame/Header/Header.css
  portal/code/cx-portal/src/components/shared/frame/Header/Header.scss
  portal/code/cx-portal/src/components/shared/frame/Header/Header.tsx
  portal/code/cx-portal/src/components/shared/frame/UserInfo/UserInfo.css
  portal/code/cx-portal/src/components/shared/frame/UserInfo/UserInfo.scss
  portal/code/cx-portal/src/components/shared/frame/UserInfo/UserInfo.tsx
  portal/code/cx-portal/src/components/shared/frame/UserMenu/UserMenu.css
  portal/code/cx-portal/src/components/shared/frame/UserMenu/UserMenu.scss
  portal/code/cx-portal/src/components/shared/frame/UserMenu/UserMenu.tsx
  portal/code/cx-portal/yarn.lock
Due: azure-pipelines-2.yml

code formatting
  portal/code/cx-portal/src/components/Main.scss
  portal/code/cx-portal/src/components/shared/frame/Header/Header.scss
  portal/code/cx-portal/src/components/shared/frame/UserMenu/UserMenu.scss
Due: azure-pipelines-2.yml

Path conditions:
  azure-pipelines-2.yml: any of: portal
  azure-pipelines-5.yml: any of: partsmasterdata
  azure-pipelines.yml: any file but: connectordns, gpm, kmuuploadapp, partsmasterdata, portal, terraform
