Repository ntruchsess/tractusx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-5.yml, azure-pipelines.yml

azure-pipelines-2.yml:

# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'portal/*'

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  imageRepository: 'portal'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  imagePullSecret: 'catenaxdevacr-auth'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        containerRegistry: catenaxdevacr
        repository: portal
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/portal/code/tractus-x-portal/Dockerfile'
        tags: |
          $(tag)

azure-pipelines-5.yml:

# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'partsmasterdata/*'

resources:
- repo: self

variables:

  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '553abab0-5db0-4932-aaaf-25147ed09cf7'
  imageRepository: 'partsmasterdata'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  dockerfilePath: 'partsmasterdata/Dockerfile'
  tag: '$(Build.BuildId)'
  imagePullSecret: 'catenaxdevacr12483f45-auth'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'


stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: './partsmasterdata/pom.xml'
        publishJUnitResults: false
        javaHomeOption: JDKVersion
        jdkVersionOption: '1.11'
        mavenVersionOption: Default
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false
    - task: Docker@2
      inputs:
        command: 'buildAndPush'
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)

azure-pipelines.yml:

# Build numbering format
name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - 'connectordns/*'
      - 'gpm/*'
      - 'kmuuploadapp/*'
      - 'partsmasterdata/*'
      - 'portal/*'
      - 'terraform/*'

pool:
  vmImage: 'ubuntu-latest'

steps:
  - script: |
      echo "Hello from root folder pipeline."

add cert and drop addition steps
  connector/src/main/resources/conf/truststore.p12
Due: azure-pipelines.yml

Include getParts method
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/controllers/UploadAppAdapterController.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/dal/DbAccess.java
Due: azure-pipelines.yml

Initial partsmaster
  .idea/compiler.xml
  .idea/encodings.xml
  .idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_48.xml
  .idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_48.xml
  .idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_48.xml
  .idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_31.xml
  .idea/libraries/Maven__org_slf4j_slf4j_api_1_7_31.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_devtools_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_5_2.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_5_2.xml
  .idea/libraries/Maven__org_springframework_security_spring_security_config_5_5_1.xml
  .idea/libraries/Maven__org_springframework_security_spring_security_core_5_5_1.xml
  .idea/libraries/Maven__org_springframework_security_spring_security_crypto_5_5_1.xml
  .idea/modules.xml
  partsmasterdata/.gitignore
  partsmasterdata/.mvn/wrapper/MavenWrapperDownloader.java
  partsmasterdata/.mvn/wrapper/maven-wrapper.jar
  partsmasterdata/.mvn/wrapper/maven-wrapper.properties
  partsmasterdata/mvnw
  partsmasterdata/mvnw.cmd
  partsmasterdata/partsmasterdata.iml
  partsmasterdata/pom.xml
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/PartsmasterdataApplication.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/config/SecurityConfig.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/config/SecurityConfiguration.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/controllers/PartsMasterAppController.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/dal/DbConfiguration.java
  partsmasterdata/src/main/resources/application.properties
  partsmasterdata/src/test/java/com/tractusx/partsmasterdata/PartsmasterdataApplicationTests.java
Due: azure-pipelines-5.yml, azure-pipelines.yml

added additional varabiles for postgre integration
  file-upload-pipeline.yml
Due: azure-pipelines.yml

added env varaibles for postgresql integration
  infrastructure/manifests/uploadapp.yaml
Due: azure-pipelines.yml

delete obsolete certs
  connector/src/main/resources/conf/certificate.pem
  connector/src/main/resources/conf/dc-idsos-keystore.p12
  connector/src/main/resources/conf/preprod-dc-idsos-keystore.p12
  connector/src/main/resources/conf/preprod-keystore-localhost.p12
  connector/src/main/resources/conf/preprod-truststore.p12
  connector/src/main/resources/conf/public.crt
  connector/src/main/resources/conf/publicCert.pem
  connector/src/main/resources/conf/test-keystore-localhost.p12
  connector/src/main/resources/conf/test-truststore.p12
Due: azure-pipelines.yml

add meta-broker deployment
  meta-broker/.gitlab-ci.yml
Due: azure-pipelines.yml

changed portal uri
  infrastructure/manifests/portal-ingress.yaml
Due: azure-pipelines.yml

removed homepage from packagejson
  portal/code/tractus-x-portal/package.json
Due: azure-pipelines-2.yml

changes to ingress
  infrastructure/manifests/portal-ingress.yaml
Due: azure-pipelines.yml

added hompage again
  portal/code/tractus-x-portal/package.json
Due: azure-pipelines-2.yml

Deserialize connector response
  coreservices/simplescheduler/pom.xml
  coreservices/simplescheduler/src/main/java/com/tsystems/simplescheduler/client/DataspaceConnectorRequestClient.java
  coreservices/simplescheduler/src/main/java/com/tsystems/simplescheduler/client/DataspaceConnectorResourcesClient.java
  coreservices/simplescheduler/src/main/java/com/tsystems/simplescheduler/configuration/DataspaceConnectorConfiguration.java
  coreservices/simplescheduler/src/main/java/com/tsystems/simplescheduler/service/SchedulerService.java
  coreservices/simplescheduler/src/main/resources/application.yml
Due: azure-pipelines.yml

undo ingress changes, added static ip for the portal
  infrastructure/manifests/portal-ingress.yaml
  infrastructure/terraform/main.tf
Due: azure-pipelines.yml

Update azure-pipelines-2.yml for Azure Pipelines
  infrastructure/pipelines/azure-pipelines-2.yml
Due: azure-pipelines.yml

portal uses now an load balancer instead of the ingress
  infrastructure/manifests/portal-ingress.yaml
  infrastructure/manifests/portal.yaml
Due: azure-pipelines.yml

added static ip
  infrastructure/manifests/portal.yaml
Due: azure-pipelines.yml

Changed partner in partsmaster and uploadadapter
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/models/AlertLevel.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/models/PartIndividualData.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/models/PartMasterData.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/models/PartPartTree.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/models/PartQualityAlert.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/models/PartStaticData.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/models/PartSupplyTree.java
  partsmasterdata/src/main/java/com/tractusx/partsmasterdata/models/PartUniqueData.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/dal/DbAccess.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/models/PartIndividualData.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/models/PartPartTree.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/models/PartPartTreeParent.java
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/models/PartStaticData.java
Due: azure-pipelines-5.yml, azure-pipelines.yml

debug
  connector/infrastructure/dataspaceconnector/templates/ingress.yaml
  connector/src/main/resources/application.properties
Due: azure-pipelines.yml

debug
  meta-broker/azure-pipeline-meta-broker.yml
Due: azure-pipelines.yml

debug
  meta-broker/Dockerfile-azure-pipeline
  meta-broker/azure-pipeline-meta-broker.yml
Due: azure-pipelines.yml

debug
  meta-broker/azure-pipeline-meta-broker.yml
  meta-broker/infrastructure/helm-chart/metadata-broker-open-core/templates/ingress.yaml
Due: azure-pipelines.yml

Data upload 2
  portal/code/tractus-x-portal/src/App.css
  portal/code/tractus-x-portal/src/components/apps/dataupload2.tsx
  portal/code/tractus-x-portal/src/components/header.tsx
  portal/code/tractus-x-portal/src/helpers/adalConfig.ts
  portal/code/tractus-x-portal/src/helpers/utils.ts
Due: azure-pipelines-2.yml

change ingress paths
  connector/azure-pipeline-connector.yml
Due: azure-pipelines.yml

fix keystore
  meta-broker/broker-core/src/main/resources/isstbroker-keystore.jks
Due: azure-pipelines.yml

fix keystore
  meta-broker/docker/broker-core/daps.crt
Due: azure-pipelines.yml

added cors
  infrastructure/manifests/businesspartners-ingress.yaml
  infrastructure/manifests/partsmasterdata-ingress.yaml
  infrastructure/manifests/uploadapp-ingress.yaml
Due: azure-pipelines.yml

Fix multiple resources creation
  coreservices/simplescheduler/pom.xml
  coreservices/simplescheduler/src/main/java/com/tsystems/simplescheduler/client/DataspaceConnectorAdminClient.java
  coreservices/simplescheduler/src/main/java/com/tsystems/simplescheduler/client/DataspaceConnectorRequestClient.java
  coreservices/simplescheduler/src/main/java/com/tsystems/simplescheduler/client/DataspaceConnectorResourcesClient.java
  coreservices/simplescheduler/src/main/java/com/tsystems/simplescheduler/client/model/DataSource.java
  coreservices/simplescheduler/src/main/java/com/tsystems/simplescheduler/client/model/DataSourceTypeEnum.java
  coreservices/simplescheduler/src/main/java/com/tsystems/simplescheduler/client/model/ResourceMetadata.java
  coreservices/simplescheduler/src/main/java/com/tsystems/simplescheduler/client/model/ResourceRepresentation.java
  coreservices/simplescheduler/src/main/java/com/tsystems/simplescheduler/configuration/DataspaceConnectorConfiguration.java
  coreservices/simplescheduler/src/main/java/com/tsystems/simplescheduler/service/SchedulerService.java
  coreservices/simplescheduler/src/main/resources/application.yml
Due: azure-pipelines.yml

Create gpm_extended_testdata.json
  data/gpm_extended_testdata.json
Due: azure-pipelines.yml

Call upload API
  portal/code/tractus-x-portal/src/components/apps/dataupload2.tsx
Due: azure-pipelines-2.yml

My Connectors
  portal/code/tractus-x-portal/package-lock.json
  portal/code/tractus-x-portal/package.json
  portal/code/tractus-x-portal/src/App.css
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/components/myconnectors.tsx
  portal/code/tractus-x-portal/src/components/setupconnector.tsx
Due: azure-pipelines-2.yml

drop obsolete configs
  connector/azure-pipeline-connector.yml
Due: azure-pipelines.yml

Add registration flow
  portal/code/tractus-x-portal/src/App.tsx
  portal/code/tractus-x-portal/src/components/apps/dataupload2.tsx
  portal/code/tractus-x-portal/src/components/reg.tsx
  portal/code/tractus-x-portal/src/helpers/adalConfig.ts
  portal/code/tractus-x-portal/src/index.tsx
Due: azure-pipelines-2.yml

Add issuer for production TLS certificates
  infrastructure/manifests/cdns-ingress.yaml
  infrastructure/terraform/cluster-issuer-prod.yaml
Due: azure-pipelines.yml

Update Tractus-X_InformationModel.yml
  documentation/architecture/Tractus-X_InformationModel.yml
Due: azure-pipelines.yml

update cert issuer from staging to prod
  connector/infrastructure/dataspaceconnector/templates/ingress.yaml
  infrastructure/manifests/businesspartners-ingress.yaml
  infrastructure/manifests/partsmasterdata-ingress.yaml
  infrastructure/manifests/uploadapp-ingress.yaml
  meta-broker/infrastructure/helm-chart/metadata-broker-open-core/templates/ingress.yaml
Due: azure-pipelines.yml

test of config injection
  uploadAppAdapter/src/main/java/com/tractusx/uploadappadapter/controllers/UploadAppAdapterController.java
Due: azure-pipelines.yml
