Repository ntruchsess/tractusx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-5.yml, azure-pipelines.yml

azure-pipelines-2.yml:

# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'portal/*'

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  imageRepository: 'portal'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  imagePullSecret: 'catenaxdevacr-auth'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        containerRegistry: catenaxdevacr
        repository: portal
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/portal/code/tractus-x-portal/Dockerfile'
        tags: |
          $(tag)

azure-pipelines-5.yml:

# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'partsmasterdata/*'

resources:
- repo: self

variables:

  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '553abab0-5db0-4932-aaaf-25147ed09cf7'
  imageRepository: 'partsmasterdata'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  dockerfilePath: 'partsmasterdata/Dockerfile'
  tag: '$(Build.BuildId)'
  imagePullSecret: 'catenaxdevacr12483f45-auth'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'


stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: './partsmasterdata/pom.xml'
        publishJUnitResults: false
        javaHomeOption: JDKVersion
        jdkVersionOption: '1.11'
        mavenVersionOption: Default
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false
    - task: Docker@2
      inputs:
        command: 'buildAndPush'
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)

azure-pipelines.yml:

# Build numbering format
name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - 'connectordns/*'
      - 'gpm/*'
      - 'kmuuploadapp/*'
      - 'partsmasterdata/*'
      - 'portal/*'
      - 'terraform/*'

pool:
  vmImage: 'ubuntu-latest'

steps:
  - script: |
      echo "Hello from root folder pipeline."

CPLP-382: make swagger-ui configurable
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Program.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Startup.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/appsettings.json
Due: azure-pipelines.yml

CPLP-200: adjusted routes of endpoints for uniqueness and consisteny
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
  portal/code/company-portal/src/components/cax-responsibilities.tsx
  portal/code/company-portal/src/components/responsibilities.tsx
  portal/code/company-portal/src/helpers/utils.ts
Due: azure-pipelines-2.yml, azure-pipelines.yml

Invite business partner page fields are changed
  portal/code/tractus-x-portal/src/components/registrationoneid.tsx
  portal/code/tractus-x-portal/src/styles/App.css
Due: azure-pipelines-2.yml

Invite business partner invite button loading indicator implementation done
  portal/code/tractus-x-portal/.env
  portal/code/tractus-x-portal/dev042.env
  portal/code/tractus-x-portal/int.env
  portal/code/tractus-x-portal/local.env
  portal/code/tractus-x-portal/src/components/registrationoneid.tsx
Due: azure-pipelines-2.yml

CPLP-544: make swagger-ui configurable and routeable via ingres
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Startup.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/appsettings.json
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Startup.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/appsettings.json
Due: azure-pipelines.yml

Email templates folder refactored Readme file updated with current informations unnecessary files removed from repo
  portal/code/tractus-x-portal/Email Template/README.md
  portal/code/tractus-x-portal/Email Template/bg_passwordmail.png
  portal/code/tractus-x-portal/Email Template/newemail.html
  portal/code/tractus-x-portal/Email Template/password.html
  portal/code/tractus-x-portal/Email Template/passwordemail.html
  portal/code/tractus-x-portal/Email Template/staticTemplates/basicTemplate.html
  portal/code/tractus-x-portal/Email Template/staticTemplates/buttonTemplate.html
  portal/code/tractus-x-portal/Email Template/welcome.html
  portal/code/tractus-x-portal/Email Template/welcome_alternative.html
Due: azure-pipelines-2.yml

make swagger-ui routeable via ingress
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Startup.cs
Due: azure-pipelines.yml

CPLP-544: restore provisioning-service.yml
  .github/workflows/provisioning-service.yml
Due: azure-pipelines.yml

CPLP-544: provisioning-service: fix path of github-action
  .github/workflows/provisioning-service.yml
Due: azure-pipelines.yml

CPLP-200: cleanup
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/IProvisioningManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/ProvisioningManager.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/IRegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/RegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
  portal/code/company-portal/.env
Due: azure-pipelines-2.yml, azure-pipelines.yml

Create NextSteps.html
  portal/code/tractus-x-portal/Email Template/NextSteps.html
Due: azure-pipelines-2.yml

Rename NextSteps.html to nextsteps.html
  portal/code/tractus-x-portal/Email Template/nextsteps.html
Due: azure-pipelines-2.yml

Update nextsteps.html
  portal/code/tractus-x-portal/Email Template/nextsteps.html
Due: azure-pipelines-2.yml

Create welcomeCX
  portal/code/tractus-x-portal/Email Template/welcomeCX
Due: azure-pipelines-2.yml

new app card
  portal/code/cx-portal/package.json
  portal/code/cx-portal/src/components/shared/content/AppCardNew/AppCardNew.css
  portal/code/cx-portal/src/components/shared/content/AppCardNew/AppCardNew.stories.tsx
  portal/code/cx-portal/src/components/shared/content/AppCardNew/AppCardNew.tsx
  portal/code/cx-portal/src/components/shared/frame/UserMenu/UserMenu.tsx
Due: azure-pipelines-2.yml

added keycloak central theme
  coreservices/iam/themes/catenax-central/login/login.ftl
  coreservices/iam/themes/catenax-central/login/resources/js/init.js
  coreservices/iam/themes/catenax-central/login/theme.properties
  coreservices/iam/themes/catenax-central/static/Companies.json
  coreservices/iam/themes/catenax-central/static/Main.css
  coreservices/iam/themes/catenax-central/static/Main.js
  coreservices/iam/themes/catenax-central/static/icon/icon-test.svg
  coreservices/iam/themes/catenax-central/static/icon/icon-wrench.svg
  coreservices/iam/themes/catenax-central/static/icon/logo-github.svg
  coreservices/iam/themes/catenax-central/static/test.html
  coreservices/iam/themes/catenax-central/static/testall.html
Due: azure-pipelines.yml

removed static files
  coreservices/iam/themes/catenax-central/static/Companies.json
  coreservices/iam/themes/catenax-central/static/Main.css
  coreservices/iam/themes/catenax-central/static/Main.js
  coreservices/iam/themes/catenax-central/static/icon/icon-test.svg
  coreservices/iam/themes/catenax-central/static/icon/icon-wrench.svg
  coreservices/iam/themes/catenax-central/static/icon/logo-github.svg
  coreservices/iam/themes/catenax-central/static/test.html
  coreservices/iam/themes/catenax-central/static/testall.html
Due: azure-pipelines.yml

base for assets
  coreservices/iam/themes/catenax-central/login/resources/js/init.js
Due: azure-pipelines.yml

update
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/IRegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/RegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/RegistrationAccess/IRegistrationDBAccess.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/RegistrationAccess/RegistrationDBAccess.cs
  sqls/create tables and functions.sql
Due: azure-pipelines.yml

fix
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/RegistrationBusinessLogic.cs
Due: azure-pipelines.yml

changes after merge
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
Due: azure-pipelines.yml

Rename welcomeCX to welcomeCX.html
  portal/code/tractus-x-portal/Email Template/welcomeCX.html
Due: azure-pipelines-2.yml

Create Portal_New_User_Welcome.html
  portal/code/tractus-x-portal/Email Template/Portal_New_User_Welcome.html
Due: azure-pipelines-2.yml

Create portal_newuser_password.html
  portal/code/tractus-x-portal/Email Template/portal_newuser_password.html
Due: azure-pipelines-2.yml

Rename Portal_New_User_Welcome.html to portal_newuser_welcome.html
  portal/code/tractus-x-portal/Email Template/portal_newuser_welcome.html
Due: azure-pipelines-2.yml

Update README.md
  portal/code/tractus-x-portal/Email Template/README.md
Due: azure-pipelines-2.yml

Bugfix/A1-SLDT-430 (#452)
  portal/code/tractus-x-portal/src/components/semantics/NewSemanticModel.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticHub.tsx
  portal/code/tractus-x-portal/src/styles/App.css
Due: azure-pipelines-2.yml

ProtectedRoute HOC component implemented Role based routing implemented unauthorised page implemented WIP unauthorised background image in progress
  portal/code/tractus-x-portal/src/App.tsx
  portal/code/tractus-x-portal/src/components/unauthorised.tsx
  portal/code/tractus-x-portal/src/helpers/UserService.js
  portal/code/tractus-x-portal/src/helpers/authorisation/ProtectedRoute.tsx
  portal/code/tractus-x-portal/src/styles/unauthorised.css
Due: azure-pipelines-2.yml

Invite page background and styles implemented catena-background.svg file add to project
  portal/code/tractus-x-portal/src/components/unauthorised.tsx
  portal/code/tractus-x-portal/src/styles/assets/catena-background.svg
  portal/code/tractus-x-portal/src/styles/unauthorised.css
Due: azure-pipelines-2.yml

app background image fix
  portal/code/company-portal/src/styles/newApp.css
Due: azure-pipelines-2.yml

CPLP-200: implemented user creation endpoint in invitation service
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/IInvitationBusinessLogic.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/InvitationBusinessLogic.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/BusinessLogic/InvitationSettings.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Controllers/InvitationController.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/Startup.cs
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/appsettings.json
Due: azure-pipelines.yml

CPLP-200: removed KeyCloakClientID from appsettings to be managed exclusively in secret
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/appsettings.json
Due: azure-pipelines.yml

CPLP-200: set default realm for registration app to CX-Central
  portal/code/company-portal/src/helpers/UserService.js
Due: azure-pipelines-2.yml

A1ODT-308 add script to create subdomains used by portal and iam
  infrastructure/scripts/create-subdomains-portal.sh
Due: azure-pipelines.yml

CPLP-200: moved UserCreationInfo to Provisioning Library
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/UserCreationInfo.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/IRegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
Due: azure-pipelines.yml

CPLP-380: added filtering of composite client roles from user token
  portal/code/company-portal/src/components/cax-header.tsx
  portal/code/company-portal/src/helpers/UserService.js
Due: azure-pipelines-2.yml

CPLP-380: removed obsolete integration of userRoleMappingsComposite endpoint
  portal/code/company-portal/src/helpers/utils.ts
Due: azure-pipelines-2.yml

stepper changes
  portal/code/company-portal/.env
  portal/code/company-portal/src/components/stepper.tsx
  portal/code/company-portal/src/styles/newApp.css
Due: azure-pipelines-2.yml

Feature/cax portal@cplp 372 keycloak theme (#130)
  coreservices/iam/themes/catenax-central/login/login.ftl
  coreservices/iam/themes/catenax-central/login/resources/js/init.js
  coreservices/iam/themes/catenax-central/login/theme.properties
Due: azure-pipelines.yml

updated clean script
  portal/code/cx-portal/package.json
Due: azure-pipelines-2.yml
