Repository ntruchsess/tractusx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-5.yml, azure-pipelines.yml

azure-pipelines-2.yml:

# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'portal/*'

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  imageRepository: 'portal'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  imagePullSecret: 'catenaxdevacr-auth'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        containerRegistry: catenaxdevacr
        repository: portal
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/portal/code/tractus-x-portal/Dockerfile'
        tags: |
          $(tag)

azure-pipelines-5.yml:

# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'partsmasterdata/*'

resources:
- repo: self

variables:

  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '553abab0-5db0-4932-aaaf-25147ed09cf7'
  imageRepository: 'partsmasterdata'
  containerRegistry: 'catenaxdevacr.azurecr.io'
  dockerfilePath: 'partsmasterdata/Dockerfile'
  tag: '$(Build.BuildId)'
  imagePullSecret: 'catenaxdevacr12483f45-auth'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'


stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: './partsmasterdata/pom.xml'
        publishJUnitResults: false
        javaHomeOption: JDKVersion
        jdkVersionOption: '1.11'
        mavenVersionOption: Default
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false
    - task: Docker@2
      inputs:
        command: 'buildAndPush'
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)

azure-pipelines.yml:

# Build numbering format
name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - 'connectordns/*'
      - 'gpm/*'
      - 'kmuuploadapp/*'
      - 'partsmasterdata/*'
      - 'portal/*'
      - 'terraform/*'

pool:
  vmImage: 'ubuntu-latest'

steps:
  - script: |
      echo "Hello from root folder pipeline."

Create README.md
  portal/code/tractus-x-portal/src/helpers/README.md
Due: azure-pipelines-2.yml

Update README.md
  portal/code/tractus-x-portal/src/helpers/README.md
Due: azure-pipelines-2.yml

Update registrationoneid.tsx
  portal/code/company-portal/src/components/registrationoneid.tsx
Due: azure-pipelines-2.yml

Update cax-registration.tsx
  portal/code/company-portal/src/components/cax-registration.tsx
Due: azure-pipelines-2.yml

Create README.md
  portal/code/company-portal/src/components/README.md
Due: azure-pipelines-2.yml

Update README.md
  portal/code/company-portal/src/components/README.md
Due: azure-pipelines-2.yml

CPLP-400: refactored invitation service
  coreservices/CatenaX.NetworkServices.sln
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/CatenaX.NetworkServices.Provisioning.Library.csproj
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/ClientManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/ClientSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/IdentityProviderManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/IdentityProviderSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/RealmManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/RealmSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/RoleManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/UserManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/UserSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/IProvisioningManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Models/IdentityProviderClientConfig.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Models/IdentityProviderHardcodedAttributeMapperConfig.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Models/OpenIDConfig.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Models/UserProfile.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/ProvisioningManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/ProvisioningSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/IInvitationBusinessLogic.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/IProvisioningService.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/InvitationBusinessLogic.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/InvitationData.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/ProvisioningService.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/ProvisioningSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/CatenaX.NetworkServices.Provisioning.Service.csproj
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Controllers/InvitationController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Controllers/ProvisioningController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Dockerfile
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Program.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Startup.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/appsettings.json
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/helmchart/templates/cronjob.yaml
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/helmchart/templates/ingres.yaml
Due: azure-pipelines.yml

Update registrationoneid.tsx
  portal/code/tractus-x-portal/src/components/registrationoneid.tsx
Due: azure-pipelines-2.yml

CPLP-400: formating
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/ClientManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/RealmManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/RoleManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Models/IdentityProviderHardcodedAttributeMapperConfig.cs
Due: azure-pipelines.yml

Add missing namespace declaration (#435)
  .github/workflows/semantics.yml
Due: azure-pipelines.yml

CPLP-400: fixing unique ipd-name generation for very first idp
  coreservices/keycloak/src/CatenaX.NetworkServices.Keycloak.Factory/KeycloakFactory.cs
  coreservices/keycloak/src/CatenaX.NetworkServices.Keycloak.Factory/KeycloakSettings.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/IdentityProviderManager.cs
Due: azure-pipelines.yml

CPLP-400: missing port attribute in smtp-server config
  coreservices/keycloak/src/Keycloak.Net/Models/RealmsAdmin/SmtpServer.cs
Due: azure-pipelines.yml

CPLP-400: removing obsolete provisioning-service
  .github/workflows/provisioning-service.yml
Due: azure-pipelines.yml

Create README.md
  portal/code/tractus-x-portal/Email Template/README.md
Due: azure-pipelines-2.yml

Update README.md
  portal/code/tractus-x-portal/Email Template/README.md
Due: azure-pipelines-2.yml

Update RegistrationController.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Controllers/RegistrationController.cs
Due: azure-pipelines.yml

added changes for BPN Access
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/CatenaX.NetworkServices.Invitation.Service.csproj
  coreservices/invitation/test/CatenaX.NetworkServices.Onboarding.Service.Tests/InvitationControllerTest.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BPN/BPNAccess.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BPN/Model/FetchBusinessPartnerDto.cs
Due: azure-pipelines.yml

API integration
  portal/code/company-portal/src/components/cax-companyData.tsx
  portal/code/company-portal/src/components/cax-header.tsx
  portal/code/company-portal/src/components/cax-registration.tsx
  portal/code/company-portal/src/components/cax-responsibilities.tsx
Due: azure-pipelines-2.yml

code clean up
  portal/code/company-portal/package-lock.json
  portal/code/company-portal/package.json
  portal/code/company-portal/src/App.tsx
  portal/code/company-portal/src/components/alertdialog.tsx
  portal/code/company-portal/src/components/cax-header.tsx
  portal/code/company-portal/src/components/companyrole.tsx
  portal/code/company-portal/src/components/emailregister.tsx
  portal/code/company-portal/src/components/footer.tsx
  portal/code/company-portal/src/components/header.tsx
  portal/code/company-portal/src/components/home.tsx
  portal/code/company-portal/src/components/identity.tsx
  portal/code/company-portal/src/components/login.tsx
  portal/code/company-portal/src/components/logo.tsx
  portal/code/company-portal/src/components/onboarding.tsx
  portal/code/company-portal/src/components/onboardingSubmit.tsx
  portal/code/company-portal/src/components/registration.tsx
  portal/code/company-portal/src/components/registrationoneid.tsx
  portal/code/company-portal/src/components/responsibilities.tsx
  portal/code/company-portal/src/components/termsncondition.tsx
  portal/code/company-portal/src/data/application.ts
  portal/code/company-portal/src/data/companyDetails.ts
  portal/code/company-portal/src/stores/appstate.ts
Due: azure-pipelines-2.yml

CPLP-402: integrated service accounts in invite service
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/appsettings.json
  coreservices/keycloak/src/CatenaX.NetworkServices.Keycloak.Factory/KeycloakFactory.cs
  coreservices/keycloak/src/CatenaX.NetworkServices.Keycloak.Factory/KeycloakSettings.cs
  coreservices/keycloak/src/Keycloak.Net/Common/Extensions/FlurlRequestExtensions.cs
  coreservices/keycloak/src/Keycloak.Net/KeycloakClient.cs
Due: azure-pipelines.yml

CPLP-402: integrated service accounts in invite service
  coreservices/invitation/src/CatenaX.NetworkServices.Invitation.Service/appsettings.json
Due: azure-pipelines.yml

CPLP-200: Added firstname and lastname to user creation
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/BusinessLogic/RegistrationBusinessLogic.cs
  coreservices/registration/src/CatenaX.NetworkServices.Registration.Service/Model/UserCreationInfo.cs
Due: azure-pipelines.yml

CPLP-544: provisioning-service to set up own idp
  coreservices/CatenaX.NetworkServices.sln
  coreservices/keycloak/src/Keycloak.Net/IdentityProviders/KeycloakClient.cs
  coreservices/keycloak/src/Keycloak.Net/Models/IdentityProviders/Config.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/Extensions/IdentityProviderManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/IProvisioningManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Library/ProvisioningManager.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/IIdentityProviderBussinessLogic.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/IdentityProviderBusinessLogic.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/BusinessLogic/IdentityProviderSetupData.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/CatenaX.NetworkServices.Provisioning.Service.csproj
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Controllers/IdentityProviderController.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Dockerfile
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Program.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Properties/launchSettings.json
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/Startup.cs
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/appsettings.json
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/helmchart/.helmignore
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/helmchart/Chart.yaml
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/helmchart/templates/_helpers.tpl
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/helmchart/templates/deployment.yaml
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/helmchart/templates/ingres.yaml
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/helmchart/templates/service.yaml
  coreservices/provisioning/src/CatenaX.NetworkServices.Provisioning.Service/helmchart/values.yaml
Due: azure-pipelines.yml

user logout changes
  portal/code/tractus-x-portal/src/components/header.tsx
Due: azure-pipelines-2.yml

removind registrationoneid as it is not required
  portal/code/company-portal/src/App.tsx
  portal/code/company-portal/src/components/registrationoneid.tsx
  portal/code/company-portal/src/styles/App.css
Due: azure-pipelines-2.yml

removed duplicate route
  portal/code/company-portal/src/App.tsx
Due: azure-pipelines-2.yml

Integrate Semantic Services with Keycloak (#441)
  .github/workflows/semantics.yml
  infrastructure/manifests/semantics.yaml
  portal/code/tractus-x-portal/src/components/digitaltwins/data.ts
  portal/code/tractus-x-portal/src/components/semantics/SemanticModelDetail.tsx
  portal/code/tractus-x-portal/src/components/semantics/data.ts
  semantics/services/Dockerfile
  semantics/services/pom.xml
  semantics/services/src/main/java/net/catenax/semantics/OAuthSecurityConfig.java
  semantics/services/src/main/java/net/catenax/semantics/SemanticsServicesApplication.java
  semantics/services/src/main/resources/application.yml
  semantics/services/src/test/java/net/catenax/semantics/TestOAuthSecurityConfig.java
Due: azure-pipelines-2.yml, azure-pipelines.yml

Change/SLDT-255 to main (#433)
  portal/code/tractus-x-portal/src/components/digitaltwins/DigitalTwins.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticHub.tsx
Due: azure-pipelines-2.yml

added sent invite and stepper
  portal/code/company-portal/src/components/cax-companyData.tsx
  portal/code/company-portal/src/components/cax-registration.tsx
  portal/code/company-portal/src/components/cax-responsibilities.tsx
  portal/code/company-portal/src/components/stepper.tsx
  portal/code/company-portal/src/types/user/user.types.ts
Due: azure-pipelines-2.yml

Change/SLDT-350 to main (#434)
  portal/code/tractus-x-portal/.env
  portal/code/tractus-x-portal/dev042.env
  portal/code/tractus-x-portal/int.env
  portal/code/tractus-x-portal/local.env
  portal/code/tractus-x-portal/src/components/digitaltwins/DigitalTwinDetail.tsx
  portal/code/tractus-x-portal/src/components/digitaltwins/DigitalTwinOverview.tsx
  portal/code/tractus-x-portal/src/components/digitaltwins/DigitalTwins.tsx
  portal/code/tractus-x-portal/src/components/digitaltwins/Submodels.tsx
  portal/code/tractus-x-portal/src/components/digitaltwins/data.ts
  portal/code/tractus-x-portal/src/components/digitaltwins/interfaces.ts
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/components/lists/DescriptionList.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticHub.tsx
  portal/code/tractus-x-portal/src/components/semantics/data.ts
Due: azure-pipelines-2.yml
